<template>
  <div class="navigation" :class="{ toggled: active }">
    <ul>
      <li>
        <div class="router-link">
          <span class="icon">
            <img class="m-0" src="@/assets/img/lnu-logo.png" alt="" />
          </span>
          <div class="mt-4">
            <h5 class="font-weight-bold">Leyte Normal University</h5>
          </div>
        </div>
      </li>
      <li v-b-tooltip.hover.right="'Dashboard'">
        <router-link
          active-class="active"
          class="router-link"
          to="/student/dashboard"
        >
          <span class="icon">
            <img class="b-icon" src="@/assets/img/dashboard.png" />
          </span>
          <span class="title">Dashboard</span>
        </router-link>
      </li>
      <li v-b-tooltip.hover.right="'Voting'">
        <router-link
          active-class="active"
          class="router-link"
          to="/student/vote"
        >
          <span class="icon">
            <img class="b-icon" src="@/assets/img/ic_voting.png" />
          </span>
          <span class="title">Voting</span>
        </router-link>
      </li>
      <li v-b-tooltip.hover.right="'Announcement'">
        <router-link
          active-class="active"
          class="router-link"
          to="/student/announcement"
        >
          <span class="icon">
            <img class="b-icon" src="@/assets/img/announcement.png" />
          </span>
          <span class="title">Announcement</span>
        </router-link>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  computed: {
    user() {
      return this.$store.getters["auth_student/GET_USER"];
    },
    active() {
      return this.$store.getters["GET_TOGGLE"];
    },
  },
  methods: {
    async logout() {
      const response = await this.$store.dispatch(
        "auth_student/LOGOUT_STUDENT"
      );
      if (response.status == 200) {
        this.$toast.success("Logged out successfully.");
        this.$router.push("/login");
      }
    },
  },
};
</script>

<style>
</style>