<template>
  <div class="topbar sticky-top shadow">
    <div class="toggle shadow rounded-circle p-1" @click="toggleNav()">
      <b-icon
        font-scale=".6"
        :icon="active ? 'arrows-fullscreen' : 'list'"
      ></b-icon>
    </div>
    <div class="user">
      <span class="userimg mx-2">
        <b-avatar
          :src="`http://localhost:8000${user.student_personal_info.profile_image}`"
          class="b-avatar bg-secondary"
        >
        </b-avatar>
      </span>
      <span class="userinfo">
        <p>
          {{
            `${user.student_personal_info.first_name} ${user.student_personal_info.middle_name} ${user.student_personal_info.last_name}`
          }}
        </p>
        <p style="font-size:12px">
          {{
            `${user.student_account.student_number}`
          }}
        </p>
      </span>
      <span>
        <b-dropdown
          variant="outline-dark"
          toggle-class="rounded-circle px-2"
          no-caret
          right
        >
          <template #button-content>
            <b-icon icon="caret-down-fill"></b-icon>
          </template>
          <div>
            
          </div>
          <b-dropdown-item @click.prevent="accountSetting()">
            <b-icon icon="gear" class="mt-2 mx-2" font-scale="1.5"></b-icon>
            Account Settings</b-dropdown-item
          >
          <b-dropdown-item @click.prevent="logout">
            <b-icon icon="power" class="mt-2 mx-2" font-scale="1.5"></b-icon>
            Logout</b-dropdown-item
          >
        </b-dropdown>
      </span>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
  computed: {
    user() {
      return this.$store.getters["authStudent/GET_USER"];
    },
    active() {
      return this.$store.getters["GET_TOGGLE"];
    },
  },
  methods: {
    accountSetting() {
      this.$router.push({ name: "Student Account Settings" });
    },
    async logout() {
      const response = await this.$store.dispatch("authStudent/LOGOUT");
      if (response.status == 200) {
        this.$toast.success("Logged out successfully.");
        this.$router.push("/login");
      }
    },
    toggleNav() {
      this.$store.commit("SET_TOGGLE");
    },
  },
};
</script>
