<template>
  <div>
    <Minitopbar title="Account Settings" />
    <b-col cols="12" class="account-setting-container p-3 shadow">
      <b-form>
        <b-container fluid>
          <b-row class="my-3">
            <b-col cols="8">
              <h1>Account</h1>
              <b-form-group
                id="input-group-account"
                label="Student Number"
                label-for="input-student_number"
                description="If your Student Number is incorrect, go to MIS Office to change it."
              >
                <b-form-input
                  id="input-1"
                  v-model="user.student_account.student_number"
                  type="text"
                  placeholder="Student Number"
                  class="w-50"
                  disabled
                ></b-form-input>
              </b-form-group>

              <b-form-group
                id="input-group-account"
                label="Email"
                label-for="input-email"
                description="Notice: Make sure your email is verified so you can recieve reset password and other mails in this system."
                class="my-2"
              >
                <div class="d-flex align-items-center">
                  <b-form-input
                    id="input-email"
                    v-model="data.email"
                    type="email"
                    placeholder="Email"
                    class="w-50"
                    :disabled="!isEditing"
                  >
                  </b-form-input>

                  <b-icon
                    v-if="user.student_account.is_email_verified == 1"
                    class="mx-2 text-success"
                    icon="check-circle-fill"
                    font-scale="1.3"
                    v-b-tooltip.hover.right="'Your Email address is verified'"
                  ></b-icon>

                  <b-icon
                    v-else
                    class="mx-2 text-warning"
                    icon="x-circle-fill"
                    font-scale="1.3"
                    v-b-tooltip.hover.right="
                      'Your Email address is not verified'
                    "
                  ></b-icon>

                  <b-button
                    variant="primary"
                    class="
                      mx-2
                      d-flex
                      justify-content-center
                      align-items-center
                    "
                    v-if="user.student_account.is_email_verified == 0"
                    @click="verifyEmailRequest"
                    :disabled="isBusy"
                    v-b-tooltip.hover.right="'Verify Email'"
                  >
                    <b-spinner
                      small
                      v-if="isBusy"
                      variant="light"
                      label="Spinning"
                    ></b-spinner>
                    <b-icon v-else icon="envelope"></b-icon
                  ></b-button>
                </div>
              </b-form-group>

              <b-form-group
                id="input-group-account"
                label-for="input-student_number"
                class="my-3"
              >
                <b-button v-b-modal.change-password variant="primary">
                  <b-icon icon="wrench"></b-icon> Change Password</b-button
                >
              </b-form-group>
            </b-col>
          </b-row>

          <b-row>
            <h1>Personal Info</h1>
            <b-col cols="12" class="my-2 mb-3">
              <div class="d-flex">
                <b-avatar
                  :src="
                    image_preview == null
                      ? `http://localhost:8000${user.student_personal_info.profile_image}`
                      : image_preview
                  "
                  size="10rem"
                ></b-avatar>
                <div class="align-self-end">
                  <input
                    @change="imageSelected"
                    :disabled="!isEditing"
                    type="file"
                    class="mt-3 form-control form-control-sm"
                    accept="image/*"
                  />
                </div>
              </div>
            </b-col>

            <b-col cols="4">
              <b-form-group
                id="input-group-account"
                label="First Name"
                label-for="input-student_number"
              >
                <b-form-input
                  id="input-1"
                  v-model="data.first_name"
                  type="text"
                  placeholder="First Name"
                  class="w-75"
                  :disabled="!isEditing"
                ></b-form-input>
              </b-form-group>
            </b-col>

            <b-col cols="4">
              <b-form-group
                id="input-group-account"
                label="Middle Name"
                label-for="input-student_number"
              >
                <b-form-input
                  id="input-1"
                  v-model="data.middle_name"
                  type="text"
                  placeholder="Middle Name"
                  class="w-75"
                  :disabled="!isEditing"
                ></b-form-input>
              </b-form-group>
            </b-col>

            <b-col cols="4">
              <b-form-group
                id="input-group-account"
                label="Last Name"
                label-for="input-student_number"
              >
                <b-form-input
                  id="input-1"
                  v-model="data.last_name"
                  type="text"
                  placeholder="Last Name"
                  class="w-75"
                  :disabled="!isEditing"
                ></b-form-input>
              </b-form-group>
            </b-col>

            <div class="mt-5 mb-3 d-flex align-items-center">
              <b-button
                v-if="isEditing"
                style="width: 100px"
                class="ml-3"
                variant="primary"
                @click="updateAccount"
                ><b-icon icon="upload"></b-icon> Save</b-button
              >
              <b-button
                v-else
                style="width: 100px"
                class="ml-3"
                variant="primary"
                @click="isEditing = !isEditing"
                ><b-icon icon="pen"></b-icon> Edit</b-button
              >

              <b-button
                v-if="isEditing"
                @click="resetInfo"
                style="width: 100px"
                class="mx-3"
                variant="secondary"
                >Cancel</b-button
              >
            </div>
          </b-row>
        </b-container>
      </b-form>
    </b-col>

    <b-modal
      ok-title="Save"
      @ok.prevent="changePassword"
      centered
      size="md"
      id="change-password"
      title="Change Password"
      :ok-disabled="isBusy"
    >
      <b-container fluid>
        <b-row>
          <b-col cols="12">
            <b-form-group
              label="Current Password"
              label-for="input-current-password"
            >
              <b-form-input
                v-model="password.current_password"
                id="input-current-password"
                type="password"
              ></b-form-input>
            </b-form-group>
          </b-col>
          <b-col cols="12">
            <b-form-group label="New Password" label-for="input-password">
              <b-form-input
                v-model="password.password"
                id="input-password"
                type="password"
              ></b-form-input>
            </b-form-group>
          </b-col>
          <b-col cols="12">
            <b-form-group
              label="Confirm New Password"
              label-for="input-confirm-password"
            >
              <b-form-input
                v-model="password.password_confirmation"
                id="input-confirm-password"
                type="password"
              ></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
      </b-container>
    </b-modal>
  </div>
</template>

<script>
import Minitopbar from "@/components/Student/Minitopbar.vue";
export default {
  title: "Student Page - Account Settings",
  components: {
    Minitopbar,
  },
  data() {
    return {
      data: {
        email: "",
        first_name: "",
        middle_name: "",
        last_name: "",
        profile_image: null,
      },
      password: {
        current_password: "",
        password: "",
        password_confirmation: "",
      },
      isEditing: false,
      isBusy: false,
      image_preview: null,
    };
  },
  computed: {
    user() {
      return this.$store.getters["authStudent/GET_USER"];
    },
  },
  methods: {
    imageSelected(e) {
      this.data.profile_image = e.target.files[0];
      let reader = new FileReader();
      reader.readAsDataURL(this.data.profile_image);
      reader.onload = (e) => {
        this.image_preview = e.target.result;
      };
    },
    async verifyEmailRequest() {
      this.isBusy = !this.isBusy;
      const response = await this.$store.dispatch(
        "authStudent/EMAIL_VERIFICATION_REQUEST"
      );

      if (response.status == 200) {
        this.$toast.warning(response.data.message);
      }

      this.isBusy = !this.isBusy;
    },
    async changePassword() {
      this.isBusy = !this.isBusy;
      const response = await this.$store.dispatch(
        "authStudent/CHANGE_PASSWORD",
        this.password
      );

      if (response.status == 200) {
        if (response.data.match) {
          this.$toast.success(response.data.message);
          this.$bvModal.hide("change-password");
        } else {
          this.$toast.warning(response.data.message);
        }
      }
      this.isBusy = !this.isBusy;
    },
    async updateAccount() {
      let data = new FormData();
      data.append("email", this.data.email);
      data.append("first_name", this.data.first_name);
      data.append("middle_name", this.data.middle_name);
      data.append("last_name", this.data.last_name);
      data.append("profile_image", this.data.profile_image);
      const response = await this.$store.dispatch(
        "authStudent/UPDATE_ACCOUNT",
        data
      );

      if (response.status == 200) {
        await this.$store.dispatch("authStudent/CHECK");
        this.$toast.success("Account Updated");
        this.isEditing = !this.isEditing;
      }
    },
    resetInfo() {
      this.isEditing = !this.isEditing;
      this.fillData(this.user);
    },
    fillData(user) {
      this.data.email = user.student_account.email;
      this.data.profile_image = user.student_personal_info.profile_image;
      this.data.first_name = user.student_personal_info.first_name;
      this.data.middle_name = user.student_personal_info.middle_name;
      this.data.last_name = user.student_personal_info.last_name;
    },
  },
  created() {
    this.fillData(this.user);
  },
};
</script>

<style>
</style>