<template>
  <div>
    <b-row class="mt-5">
      <Minitopbar title="Announcement" />
      <b-col cols="12" class="mt-4">
        <div class="d-flex justify-content-end align-items-center">
          <div class="mx-3">
            <b-icon icon="sort-up" font-scale="2"></b-icon>
          </div>
          <div>
            <b-form-select
              class="form-select form-select-sm"
              v-model="organization_id"
              :options="organizations"
              value-field="id"
              text-field="organization"
              @change="announcementByOrg"
            >
              <b-form-select-option :value="0">All</b-form-select-option>
            </b-form-select>
          </div>
        </div>
      </b-col>
      <b-row class="m-0 my-3 announcement-container-1 shadow p-0">
        <b-col class="no-data" v-if="announcements.length == 0">
          <img src="@/assets/img/empty.svg" alt="" srcset="" />
          <h3 class="mt-5">No Announcement Posted</h3>
        </b-col>
        <b-col
          v-else
          cols="12"
          v-for="(announcement, index) in announcements"
          :key="index"
          class="announcement-item-1 p-3"
        >
          <div class="profile">
            <b-avatar class="bg-light mr-3" size="3rem"></b-avatar>
            <strong>
              {{
                announcement.organization.abbreviation == null
                  ? announcement.organization.organization
                  : announcement.organization.abbreviation
              }}
            </strong>
            <h6>
              {{ announcement.created_at | moment }}
            </h6>
          </div>
          <div class="content" @click="viewAnnouncement(announcement.slug)">
            <h6>
              <strong>{{ announcement.title }}</strong>
            </h6>
            <p>
              {{ announcement.description }}
            </p>
            <div v-html="announcement.content"></div>
          </div>
        </b-col>
      </b-row>
    </b-row>
  </div>
</template>

<script>
import moment from "moment";
import Minitopbar from "@/components/Student/Minitopbar.vue";

export default {
  title: 'Student Page - Announcement',
  components: {
    Minitopbar,
  },
  data() {
    return {
      organization_id: 0,
    };
  },
  filters: {
    moment: function (date) {
      return moment(date).fromNow();
    },
  },
  computed: {
    options() {
      return this.$store.getters["authStudent/GET_USER"];
    },
    student() {
      return this.$store.getters["authStudent/GET_USER"];
    },
    announcements() {
      return this.$store.getters["studentAnnouncement/GET_ANNOUNCEMENTS"];
    },
    organizations() {
      return this.$store.getters["studentDashboard/GET_ORGANIZATIONS"];
    },
  },
  methods: {
    async announcementByOrg() {
      this.loaded = false;
      await this.$store.dispatch("studentAnnouncement/FETCH_ANNOUNCEMENTS", this.organization_id);
      this.loaded = true;
    },
    viewAnnouncement(slug) {
      this.$router.push({
        name: "ViewAnnouncement",
        params: { slug: slug },
      });
    },
  },
  async mounted() {
    await this.$store.dispatch("studentAnnouncement/FETCH_ANNOUNCEMENTS", this.organization_id);
    await this.$store.dispatch("studentDashboard/FETCH_ORGANIZATIONS");
  },
};
</script>
