<template>
  <div>
    <div class="d-flex flex-column justify-content-evenly dashboard">
      <div class="mb-3 d-flex justify-content-between">
        <Minitopbar title="Dashboard" />
      </div>
      <div class="container-fluid">
        <div class="row" align="center">
          <div class="col-12 shadow">
            <div class="row mt-3 ms-3 pt-3">
              <div class="col-8" align="start">
                <h3 class="d-flex">
                  {{ title == null ? "Election" : title }}
                  <div
                  class="bg-light shadow-lg px-3 ms-3 rounded-circle" style="cursor: default"
                    v-b-popover.hover="
                      description == null ? 'Description' : description
                    "
                    :title="title == null ? 'Election' : title"
                  >i</div>
                </h3>
                <p>Presidential Candidates</p>
              </div>
              <div class="col-4">
                <div class="d-flex justify-content-center align-items-center">
                  <div class="mx-3">
                    <b-icon icon="sort-up" font-scale="2"></b-icon>
                  </div>
                  <div>
                    <b-form-select
                      class="form-select form-select-sm"
                      v-model="organization_id"
                      :options="organizations"
                      value-field="id"
                      text-field="organization"
                      @change="voteCountByOrg"
                    >
                      <template #first>
                        <b-form-select-option :value="0" disabled
                          >-- Select an organization --</b-form-select-option
                        >
                      </template>
                    </b-form-select>
                  </div>
                </div>
              </div>
            </div>
            <div class="ms-3 d-flex justify-content-between">
              <div>
                <b-button
                  variant="primary"
                  size="sm"
                  @click="$bvModal.show('candidatesModal')"
                  v-if="
                    !(presidents.labels.length == 0) ||
                    !(presidents.data.length == 0)
                  "
                >
                  <b-icon icon="bar-chart"></b-icon> Info</b-button
                >

                <!-- <b-button
                  variant="primary"
                  size="sm"
                  class="mx-2"
                  @click="$bvModal.show('candidatesModal-test')"
                  v-if="
                    !(presidents.labels.length == 0) ||
                    !(presidents.data.length == 0)
                  "
                >
                  <b-icon icon="bar-chart"></b-icon> Test Info</b-button
                > -->
              </div>
            </div>
            <div style="height: 25vh" class="px-2 my-2">
              <div
                v-if="
                  presidents.labels.length == 0 || presidents.data.length == 0
                "
              >
                <img
                  style="height: 10em"
                  class="my-3"
                  src="@/assets/img/empty.svg"
                />
                <h3>Election is not started</h3>
              </div>
              <div v-else>
                <div v-if="loaded">
                  <BarChart
                    ref="chart"
                    :style="chartStyle"
                    :chart-data="chartData"
                    :options="options"
                  />
                </div>
                <div v-else>
                  Loading...
                  <b-spinner label="Spinning"></b-spinner>
                </div>
              </div>
            </div>
          </div>
          <div class="la shadow">
            <h5 class="text-start">Announcement</h5>
            <div
              class="
                d-flex
                justify-content-center
                align-items-center
                w-100
                h-75
              "
              v-if="announcements.length == 0"
            >
              <p class="align-self-center">No Announcement</p>
            </div>
            <div
              v-else
              class="la-item"
              v-for="announcement in announcements"
              :key="announcement.id"
            >
              <div
                class="content"
                @click="
                  $router.push({
                    name: 'ViewAnnouncement',
                    params: { slug: announcement.slug },
                  })
                "
              >
                <p class="m-0 p-0">{{ announcement.title }}</p>
                <h3 class="m-0 p-0">></h3>
              </div>
            </div>
          </div>
        </div>
      </div>

      <b-modal
        id="candidatesModal"
        title="VOTE COUNT"
        header-class="announcement-header"
        header-close-variant="danger"
        footer-class="announcement-footer"
        @ok="$bvModal.hide('candidatesModal')"
        cancel-title="ADD"
        cancel-variant="warning"
        ok-title="Close"
        ok-variant="warning"
        ok-only
        size="lg"
        hide-header-close
        scrollable
      >
        <div class="container-fluid">
          <div class="row">
            <div class="col-6 p-3">
              <div><h1>President</h1></div>
              <div class="row">
                <div class="col-10">
                  <div
                    v-for="(president, index) in candidates[0].candidates"
                    :key="index"
                  >
                    <p class="m-0">
                      <strong>
                        {{
                          president.student.student_personal_info.last_name
                        }}</strong
                      >,
                      {{ president.student.student_personal_info.first_name }}
                      ({{
                        president.student.student_school_info.year_level
                          .year_level
                      }}) - <strong> {{ president.vote_infos_count }} </strong>
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-6 p-3">
              <div><h1>Vice President</h1></div>
              <div class="row">
                <div class="col-10">
                  <div
                    v-for="(vicepresident, index) in candidates[1].candidates"
                    :key="index"
                  >
                    <p class="m-0">
                      <strong>
                        {{
                          vicepresident.student.student_personal_info.last_name
                        }}</strong
                      >,
                      {{
                        vicepresident.student.student_personal_info.first_name
                      }}
                      ({{
                        vicepresident.student.student_school_info.year_level
                          .year_level
                      }}) -
                      <strong> {{ vicepresident.vote_infos_count }} </strong>
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-6 p-3">
              <div><h1>Secretary</h1></div>
              <div class="row">
                <div class="col-10">
                  <div
                    v-for="(secretary, index) in candidates[2].candidates"
                    :key="index"
                  >
                    <p class="m-0">
                      <strong>
                        {{
                          secretary.student.student_personal_info.last_name
                        }}</strong
                      >,
                      {{ secretary.student.student_personal_info.first_name }}
                      ({{
                        secretary.student.student_school_info.year_level
                          .year_level
                      }}) -
                      <strong> {{ secretary.vote_infos_count }} </strong>
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-6 p-3">
              <div><h1>Auditor</h1></div>
              <div class="row">
                <div class="col-10">
                  <div
                    v-for="(auditor, index) in candidates[3].candidates"
                    :key="index"
                  >
                    <p class="m-0">
                      <strong>
                        {{
                          auditor.student.student_personal_info.last_name
                        }}</strong
                      >,
                      {{ auditor.student.student_personal_info.first_name }}
                      ({{
                        auditor.student.student_school_info.year_level
                          .year_level
                      }}) -
                      <strong> {{ auditor.vote_infos_count }} </strong>
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-6 p-3">
              <div><h1>Treasurer</h1></div>
              <div class="row">
                <div class="col-10">
                  <div
                    v-for="(treasurer, index) in candidates[4].candidates"
                    :key="index"
                  >
                    <p class="m-0">
                      <strong>
                        {{
                          treasurer.student.student_personal_info.last_name
                        }}</strong
                      >,
                      {{ treasurer.student.student_personal_info.first_name }}
                      ({{
                        treasurer.student.student_school_info.year_level
                          .year_level
                      }}) -
                      <strong> {{ treasurer.vote_infos_count }} </strong>
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-6 p-3">
              <div><h1>P.I.O</h1></div>
              <div class="row">
                <div class="col-10">
                  <div
                    v-for="(pio, index) in candidates[5].candidates"
                    :key="index"
                  >
                    <p class="m-0">
                      <strong>
                        {{
                          pio.student.student_personal_info.last_name
                        }}</strong
                      >,
                      {{ pio.student.student_personal_info.first_name }}
                      ({{
                        pio.student.student_school_info.year_level.year_level
                      }}) -
                      <strong> {{ pio.vote_infos_count }} </strong>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </b-modal>

      <b-modal
        id="candidatesModal-test"
        title="VOTE COUNT"
        header-class="announcement-header"
        header-close-variant="danger"
        footer-class="announcement-footer"
        @ok="$bvModal.hide('candidatesModal')"
        cancel-title="ADD"
        cancel-variant="warning"
        ok-title="Close"
        ok-variant="warning"
        ok-only
        size="lg"
        hide-header-close
        scrollable
      >
        <div class="container-fluid">
          <div class="row">
            <div class="col-6 p-3">
              <div><h1>President</h1></div>
              <div class="row">
                <div class="col">
                  <div class="example-3d">
                    <swiper class="swiper" :options="swiperOption">
                      <swiper-slide>Slide 1</swiper-slide>
                      <swiper-slide>Slide 2</swiper-slide>
                      <swiper-slide>Slide 3</swiper-slide>
                      <swiper-slide>Slide 4</swiper-slide>
                      <swiper-slide>Slide 5</swiper-slide>
                      <swiper-slide>Slide 6</swiper-slide>
                      <swiper-slide>Slide 7</swiper-slide>
                      <div class="swiper-pagination" slot="pagination"></div>
                    </swiper>
                  </div>
                </div>
                <!-- <div class="col-10">
                  <div
                    v-for="(president, index) in candidates[0].candidates"
                    :key="index"
                  >
                    <p class="m-0">
                      <strong>
                        {{
                          president.student.student_personal_info.last_name
                        }}</strong
                      >,
                      {{ president.student.student_personal_info.first_name }}
                      ({{
                        president.student.student_school_info.year_level
                          .year_level
                      }}) - <strong> {{ president.vote_infos_count }} </strong>
                    </p>
                  </div>
                </div> -->
              </div>
            </div>

            <div class="col-6 p-3">
              <div><h1>Vice President</h1></div>
              <div class="row">
                <div class="col-10">
                  <div
                    v-for="(vicepresident, index) in candidates[1].candidates"
                    :key="index"
                  >
                    <p class="m-0">
                      <strong>
                        {{
                          vicepresident.student.student_personal_info.last_name
                        }}</strong
                      >,
                      {{
                        vicepresident.student.student_personal_info.first_name
                      }}
                      ({{
                        vicepresident.student.student_school_info.year_level
                          .year_level
                      }}) -
                      <strong> {{ vicepresident.vote_infos_count }} </strong>
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-6 p-3">
              <div><h1>Secretary</h1></div>
              <div class="row">
                <div class="col-10">
                  <div
                    v-for="(secretary, index) in candidates[2].candidates"
                    :key="index"
                  >
                    <p class="m-0">
                      <strong>
                        {{
                          secretary.student.student_personal_info.last_name
                        }}</strong
                      >,
                      {{ secretary.student.student_personal_info.first_name }}
                      ({{
                        secretary.student.student_school_info.year_level
                          .year_level
                      }}) -
                      <strong> {{ secretary.vote_infos_count }} </strong>
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-6 p-3">
              <div><h1>Auditor</h1></div>
              <div class="row">
                <div class="col-10">
                  <div
                    v-for="(auditor, index) in candidates[3].candidates"
                    :key="index"
                  >
                    <p class="m-0">
                      <strong>
                        {{
                          auditor.student.student_personal_info.last_name
                        }}</strong
                      >,
                      {{ auditor.student.student_personal_info.first_name }}
                      ({{
                        auditor.student.student_school_info.year_level
                          .year_level
                      }}) -
                      <strong> {{ auditor.vote_infos_count }} </strong>
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-6 p-3">
              <div><h1>Treasurer</h1></div>
              <div class="row">
                <div class="col-10">
                  <div
                    v-for="(treasurer, index) in candidates[4].candidates"
                    :key="index"
                  >
                    <p class="m-0">
                      <strong>
                        {{
                          treasurer.student.student_personal_info.last_name
                        }}</strong
                      >,
                      {{ treasurer.student.student_personal_info.first_name }}
                      ({{
                        treasurer.student.student_school_info.year_level
                          .year_level
                      }}) -
                      <strong> {{ treasurer.vote_infos_count }} </strong>
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-6 p-3">
              <div><h1>P.I.O</h1></div>
              <div class="row">
                <div class="col-10">
                  <div
                    v-for="(pio, index) in candidates[5].candidates"
                    :key="index"
                  >
                    <p class="m-0">
                      <strong>
                        {{
                          pio.student.student_personal_info.last_name
                        }}</strong
                      >,
                      {{ pio.student.student_personal_info.first_name }}
                      ({{
                        pio.student.student_school_info.year_level.year_level
                      }}) -
                      <strong> {{ pio.vote_infos_count }} </strong>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </b-modal>
    </div>
  </div>
</template>

<script>
import BarChart from "@/components/BarChart";
import Minitopbar from "@/components/Student/Minitopbar.vue";
import { Swiper, SwiperSlide } from "vue-awesome-swiper";

export default {
  title: "Student Page - Dashboard",
  components: { BarChart, Minitopbar, Swiper, SwiperSlide },
  data() {
    return {
      organization_id: 1,
      loaded: false,
      chartData: null,
      chartSize: {
        height: 100,
        width: 100,
      },
      swiperOption: {
        effect: "coverflow",
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: "auto",
        coverflowEffect: {
          rotate: 50,
          stretch: 0,
          depth: 100,
          modifier: 1,
          slideShadows: true,
        },
        pagination: {
          el: ".swiper-pagination",
        },
      },
    };
  },
  methods: {
    async voteCountByOrg() {
      this.loaded = false;
      await this.$store.dispatch(
        "studentDashboard/FETCH_VOTE_COUNT",
        this.organization_id
      );
      this.setChart(this.presidents.labels, this.presidents.data);
      this.loaded = true;
    },
    setChart(labels, data) {
      try {
        this.chartData = {
          labels: labels,
          datasets: [
            {
              borderWidth: 1,
              backgroundColor: [
                "rgba(3, 227, 252, 0.2)",
                "rgba(191, 68, 68, 0.58)",
                "rgba(148, 184, 115, 0.58)",
                "rgba(148, 184, 115, 0.58)",
                "rgba(148, 184, 115, 0.58)",
              ],
              pointBorderColor: "#2554FF",
              data: data,
            },
          ],
        };

        this.options = {
          responsive: true,
          maintainAspectRatio: false,
          legend: false,
          scales: {
            yAxes: [
              {
                ticks: {
                  fontColor: "black",
                  fontSize: 14,
                  autoSkip: false,
                  padding: -250,
                  stacked: true,
                  beginAtZero: true,
                },
              },
            ],
            xAxes: [
              {
                ticks: {
                  beginAtZero: true,
                  min: 0,
                  max: 1000,
                },
              },
            ],
          },
        };

        this.loaded = true;
      } catch (e) {
        console.error(e);
      }
    },
  },
  computed: {
    chartStyle() {
      return {
        height: `250px`,
        width: `${this.chartSize.width}%`,
        position: "relative",
      };
    },
    swiper() {
      return this.$refs.mySwiper.$swiper;
    },
    title() {
      var title = this.$store.getters["studentDashboard/GET_VOTE_COUNTS"];
      return title.candidates[0]?.candidates[0]?.election?.title;
    },
    description() {
      var title = this.$store.getters["studentDashboard/GET_VOTE_COUNTS"];
      return title.candidates[0]?.candidates[0]?.election?.description;
    },
    presidents() {
      return this.$store.getters["studentDashboard/GET_VOTE_COUNTS"].presidents;
    },
    candidates() {
      return this.$store.getters["studentDashboard/GET_VOTE_COUNTS"].candidates;
    },
    organizations() {
      return this.$store.getters["studentDashboard/GET_ORGANIZATIONS"];
    },
    announcements() {
      return this.$store.getters["studentDashboard/GET_LATEST_ANNOUNCEMENTS"];
    },
  },

  async mounted() {
    this.loaded = false;
    await this.$store.dispatch(
      "studentDashboard/FETCH_VOTE_COUNT",
      this.organization_id
    );
    await this.$store.dispatch("studentDashboard/FETCH_ORGANIZATIONS");
    await this.$store.dispatch("studentDashboard/FETCH_LATEST_ANNOUNCEMENTS");

    this.setChart(this.presidents.labels, this.presidents.data);
  },
};
</script>

<style lang="css"  scoped>
.example-3d {
  width: 100%;
  height: 400px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper {
  height: 100%;
  width: 100%;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  background-color: #2c8dfb;
  background-position: center;
  background-size: cover;
  color: #fff;
}

/* .swiper-pagination {
  /deep/ .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: $white;
  }
} */
</style>