<template>
  <div>
    <div
      style="width: 100%; height: 100vh"
      class="d-flex justify-content-center align-items-center"
      v-if="isLoading"
    >
      <div class="d-flex flex-column justify-content-center align-items-center">
        <b-spinner label="Spinning"></b-spinner>
        <h1>Now Loading</h1>
      </div>
    </div>
    <div class="my-container" v-else>
      <Navigation />
      <div
        class="main"
        @toggleNav="alert('qweqwew')"
        :class="{ toggled: active }"
      >
        <Topbar />
        <div class="container-fluid px-5 mt-5">
          <router-view></router-view>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Topbar from "@/components/Student/Topbar.vue";
import Navigation from "@/components/Student/Navigation.vue";
export default {
  components: {
    Topbar,
    Navigation,
  },
  data() {
    return {
      isLoading: false,
    };
  },
  computed: {
    active() {
      return this.$store.getters["GET_TOGGLE"];
    },
  },
  methods: {
    async checkUser() {
      this.isLoading = !this.isLoading;
      const res = await this.$store.dispatch("authStudent/CHECK");
      if (res.status == 401) {
        await this.$store.dispatch("authStudent/LOGOUT");
        this.$router.push("/login");
      }
      this.isLoading = !this.isLoading;
    },
  },
  mounted() {
    document.title = "Student Page";
    this.checkUser();
    this.$parent.$on("toggleNav", () => {});
  },
};
</script>