<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 shadow p-5 container-f-h" v-if="loading">
        <div class="col-12">
          <router-link
            class="nav-link p-0 m-0 d-flex align-items-center display-7"
            :to="{ name: 'Student Announcement' }"
          >
            <div>
              <b-icon icon="arrow-left"></b-icon>
            </div>
            <div>
              <p class="p-0 m-0 mx-2">Back</p>
            </div>
          </router-link>
        </div>
        <div class="text-center mb-5">
          <h1>{{ announcement.title }}</h1>
          <div>
            <span
              ><strong>Posted on</strong>
              {{ announcement.created_at | moment }}</span
            >
            <br />
            <span
              ><strong>Last updated on</strong>
              {{ announcement.updated_at | moment }}</span
            >
          </div>
        </div>
        <div class="ql-snow mb-5">
          <div class="ql-editor">
            <div v-html="announcement.content"></div>
          </div>
        </div>
      </div>
      <div v-else>
        <div class="d-flex align-items-center">
          <h1>Loading...</h1>
          <b-spinner></b-spinner>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from "moment";
export default {
  title: "Student Page - Announcement Info",
  data() {
    return {
      loading: true,
    };
  },
  filters: {
    moment: function (date) {
      return moment(date).fromNow();
    },
  },
  computed: {
    announcement() {
      return this.$store.getters["studentAnnouncement/GET_ANNOUNCEMENT"];
    },
  },
  async mounted() {
    this.loading = false;

    const res = await this.$store.dispatch("authStudent/CHECK");
    if (res.status == 401) {
      localStorage.removeItem("access_token");
      this.$router.push("/login");
    }

    const response = await this.$store.dispatch(
      "studentAnnouncement/SINGLE_ANNOUNCEMENT",
      this.$route.params.slug
    );

    if (typeof response == "undefined") {
      document.documentElement.scrollTop = 0;
      document.body.scrollTop = 0;
      this.loading = true;
    } else {
      document.documentElement.scrollTop = 0;
      document.body.scrollTop = 0;
      this.loading = true;
    }
  },
};
</script>

<style>
.container-f-h {
  height: 100vh !important;
  margin-bottom: 10rem;
  overflow-x: hidden;
}
</style>