<template>
  <div>
    <Minitopbar title="Election" />
    <div class="content-container container-fluid mt-5 shadow-lg">
      <div
        class="d-flex justify-content-center align-items-center mt-5"
        v-if="elections.length == 0"
      >
        <div align="center" class="mt-5">
          <img style="width: 500px" src="@/assets/img/empty.svg" />
          <h3 class="mt-3">No Election Started</h3>
        </div>
      </div>
      <div
        v-else
        class="announcement-item my-4 shadow"
        v-for="(election, index) in elections"
        :key="index"
      >
        <div class="d-flex justify-content-between align-items-center my-3">
          <h5>{{ election.title }}</h5>

          <div class="d-flex justify-content-center align-items-center">
            <b-button
              v-b-tooltip.hover.left="'View Candidates'"
              @click="
                $router.push({
                  name: 'ViewCandidates',
                  params: { election_id: election.id, title: election.title },
                })
              "
              variant="light"
              class="btn-custom-info"
              >i
            </b-button>
            <b-button
              variant="light"
              class="btn-vote"
              @click="
                id = election.id;
                votingSection();
              "
              v-if="election.votes.length == 0"
            >
              <b-spinner
                v-if="isFetchingCandidates && id == election.id"
                small
                variant="dark"
              ></b-spinner>
              <img src="@/assets/img/ic_voting_now.png" /> Vote now
            </b-button>
            <div class="vote-success-badge" v-else>
              <b-icon class="icon" icon="check-circle"></b-icon>
              {{ election.votes[0].created_at | setDate }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import moment from "moment";
import Minitopbar from "@/components/Student/Minitopbar.vue";
export default {
  title: "Student Page - Voting",
  components: { Minitopbar },
  data() {
    return {
      id: 0,
      isFetchingCandidates: false,
    };
  },
  computed: {
    elections() {
      return this.$store.getters["studentVoting/GET_ELECTIONS"];
    },
    candidates() {
      return this.$store.getters["studentVoting/GET_CANDIDATES"];
    },
  },
  methods: {
    async votingSection() {
      this.isFetchingCandidates = true;
      await this.$store.dispatch("studentVoting/FETCH_CANDIDATES", this.id);
      this.isFetchingCandidates = false;
      this.$router.push("/student/voting");
    },
  },
  filters: {
    setDate: function (date) {
      return moment(date).format("LLLL");
    },
  },
  async mounted() {
    await this.$store.dispatch("studentVoting/FETCH_ELECTIONS");
  },
};
</script>
<style>
.badge-success {
  color: #fff;
  background-color: #28a745;
}
</style>