<template>
  <div>
    <div class="px-3 pt-3">
      <div class="ps-5 shadow voting">
        <div class="d-flex flex-column pt-5 ps-3 mb-4">
          <h1>Welcome to Voting Section</h1>
          <h6 class="text-muted">Please vote for the best candidates</h6>
        </div>
        <h4>PRESIDENT</h4>
        <div
          v-for="president in candidates.president"
          :key="president.id"
          class=""
        >
          <div class="form-check mb-4">
            <input
              class="form-check-input me-2"
              type="radio"
              name="radioPresident"
              v-model="data.president"
              :id="president.id"
              :value="president.id"
            />
            <label class="form-check-label" :for="president.id">
              {{
                `${president.student.student_personal_info.last_name.toUpperCase()}, ${
                  president.student.student_personal_info.first_name
                } ${president.student.student_personal_info.middle_name} (${
                  president.student.student_school_info.year_level.year_level
                })`
              }}
            </label>
          </div>
        </div>
        <small class="text-danger">*Choose 1 candidate for this position</small>
        <h4 class="mt-3">VICE PRESIDENT</h4>
        <div
          v-for="vice_pres in candidates.vice_pres"
          :key="vice_pres.id"
          :value="vice_pres.id"
          class=""
        >
          <div class="form-check mb-4">
            <input
              class="form-check-input me-2"
              type="radio"
              name="radioVicePresident"
              v-model="data.vicepresident"
              :id="vice_pres.id"
              :value="vice_pres.id"
            />
            <label class="form-check-label" :for="vice_pres.id">
              {{
                `${vice_pres.student.student_personal_info.last_name.toUpperCase()}, ${
                  vice_pres.student.student_personal_info.first_name
                } ${vice_pres.student.student_personal_info.middle_name} (${
                  vice_pres.student.student_school_info.year_level.year_level
                })`
              }}
            </label>
          </div>
        </div>
        <small class="text-danger">*Choose 1 candidate for this position</small>
        <h4 class="mt-3">Secretary</h4>
        <div
          v-for="secretary in candidates.secretary"
          :key="secretary.id"
          class=""
        >
          <div class="form-check mb-4">
            <input
              class="form-check-input me-2"
              type="radio"
              name="radioSecretary"
              v-model="data.secretary"
              :id="secretary.id"
              :value="secretary.id"
            />
            <label class="form-check-label" :for="secretary.id">
              {{
                `${secretary.student.student_personal_info.last_name.toUpperCase()}, ${
                  secretary.student.student_personal_info.first_name
                } ${secretary.student.student_personal_info.middle_name} (${
                  secretary.student.student_school_info.year_level.year_level
                })`
              }}</label
            >
          </div>
        </div>
        <small class="text-danger">*Choose 1 candidate for this position</small>
        <h4 class="mt-3">Auditor I/II</h4>
        <div v-for="auditor in candidates.auditor" :key="auditor.id" class="">
          <div class="form-check mb-4">
            <input
              class="form-check-input me-2"
              type="checkbox"
              name="cbAuditor"
              v-model="data.auditor"
              :id="auditor.id"
              :value="auditor.id"
            />
            <label class="form-check-label" :for="auditor.id">
              {{
                `${auditor.student.student_personal_info.last_name.toUpperCase()}, ${
                  auditor.student.student_personal_info.first_name
                } ${auditor.student.student_personal_info.middle_name} (${
                  auditor.student.student_school_info.year_level.year_level
                })`
              }}
            </label>
          </div>
        </div>
        <small class="text-danger"
          >* Check only maximum of 2 candidates for this position.</small
        >
        <h4 class="mt-3">Treasurer</h4>
        <div
          v-for="treasurer in candidates.treasurer"
          :key="treasurer.id"
          class=""
        >
          <div class="form-check mb-4">
            <input
              class="form-check-input me-2"
              type="radio"
              name="radioTreasurer"
              v-model="data.treasurer"
              :id="treasurer.id"
              :value="treasurer.id"
            />
            <label class="form-check-label" :for="treasurer.id">
              {{
                `${treasurer.student.student_personal_info.last_name.toUpperCase()}, ${
                  treasurer.student.student_personal_info.first_name
                } ${treasurer.student.student_personal_info.middle_name} (${
                  treasurer.student.student_school_info.year_level.year_level
                })`
              }}
            </label>
          </div>
        </div>
        <small class="text-danger">*Choose 1 candidate for this position</small>
        <h4 class="mt-3">Public Information Officer</h4>
        <div v-for="pio in candidates.pio" :key="pio.id" class="">
          <div class="form-check mb-4">
            <input
              class="form-check-input me-2"
              type="checkbox"
              name="cbPIO"
              v-model="data.pio"
              :id="pio.id"
              :value="pio.id"
            />
            <label class="form-check-label" :for="pio.id">
              {{
                `${pio.student.student_personal_info.last_name.toUpperCase()}, ${
                  pio.student.student_personal_info.first_name
                } ${pio.student.student_personal_info.middle_name} (${
                  pio.student.student_school_info.year_level.year_level
                })`
              }}
            </label>
          </div>
        </div>

        <small class="text-danger"
          >* Check only maximum of 2 candidates for this position.</small
        >
        <br />
        <b-button @click.prevent="saveVote" variant="success" class="my-3">
          <i class="fas fa-poll"></i> Submit Vote</b-button
        >
      </div>
    </div>
  </div>
</template>

<script>
export default {
  title: "Student Page - Voting",
  data() {
    return {
      data: {
        president: "",
        vicepresident: "",
        secretary: "",
        auditor: [],
        pio: [],
        treasurer: "",
        election_id: "",
      },
    };
  },
  computed: {
    candidates() {
      return this.$store.getters["studentVoting/GET_CANDIDATES"];
    },
    electionid() {
      return this.$store.getters["studentVoting/GET_ELECTION_ID"];
    },
  },
  methods: {
    async saveVote() {
      this.data.election_id = this.electionid;

      if (this.data.president == "")
        return this.$toast.warning("President is required");
      if (this.data.vicepresident == "")
        return this.$toast.warning("Vice President is required");
      if (this.data.secretary == "")
        return this.$toast.warning("Secretary is required");
      if (this.data.auditor == "")
        return this.$toast.warning("Auditor is required");
      if (this.data.treasurer == "")
        return this.$toast.warning("Treasurer is required");
      if (this.data.pio == []) {
        return this.$toast.warning("PIO is required");
      } else {
        if (this.data.pio.length > 2) {
          return this.$toast.warning(
            "Please choose 2 candidates for PIO positon"
          );
        }
      }

      const response = await this.$store.dispatch(
        "studentVoting/STORE_VOTE",
        this.data
      );
      if (response.status == 200) {
        this.$toast.success(response.data.message);
        this.$router.push("/student/vote");
      }
    },
  },
};
</script>

<style>
</style>