@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700&display=swap');
@font-face {
    font-family: "Bruzh";
    src: url('../fonts/Bruzh/Bruzh.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: "KGHAPPYSolid";
    src: url('../fonts/KGHappy/KGHAPPYSolid.ttf') format('truetype');
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --blue: #070372;
    --white: #fff;
    --dark: #020033;
    --yellow: #D6A73D;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

.font-gold {
    color: #D6A73D;
}

/* LOGIN PAGE */

.login-page .container {
    min-width: 100% !important;
}

.login-page .container .row {
    min-height: 100vh !important;
    max-height: 100% !important;
}

.login-page .left-side {
    background: linear-gradient(178.12deg, #070372 53.07%, rgba(7, 3, 114, 0) 245.51%);
}

.login-page .heading-container {
    margin-top: 14rem;
}

.login-page .login-heading {
    font-size: 5rem;
}

.login-page .login-subheading {
    padding-left: 7rem;
    padding-right: 7rem;
}

.login-page .btn-white {
    background-color: #EAEAEA;
    transition: all 0.2s ease-in-out;
}

.login-page .btn-blue {
    background-color: var(--blue);
    transition: all 0.2s ease-in-out;
}

.login-page .btn-white:hover {
    background-color: #D6A73D;
    color: white !important;
}

.login-page .btn-blue:hover {
    background-color: #D6A73D;
    color: white !important;
}

.login-page .right-side {
    background-color: #e5e5e5;
}

.login-page input {
    height: 5rem !important;
    font-size: 1.5rem;
    padding: 2rem;
}

.login-page input::placeholder {
    font-weight: bolder !important;
    font-size: 1.5rem;
}

.my-container {
    position: relative;
    width: 100%;
}

.navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--blue);
    transition: 0.5s;
}

.navigation.toggled {
    width: 75px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0px;
    width: 100%;
}

.navigation ul li:hover {
    background: var(--dark);
    transition: 0.5s;
}

.navigation ul li:nth-child(1) {
    margin: 20px 0 50px -3px;
    pointer-events: none;
    transition: 0.5s;
}

.navigation ul li:nth-child(1) .router-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation ul li:nth-child(1) .router-link h5 {
    margin: 0 10px;
}

.navigation.toggled ul li:nth-child(1) .router-link h5 {
    display: none;
}

.navigation.toggled ul li:nth-child(1) .router-link .icon img {
    width: 3.5rem;
    margin-left: -30px;
    transition: 0.5s;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
}

.navigation ul li .router-link, .sub-router-link {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}

.sub-router-link {
    padding-left: 20px;
    color: var(--dark);
}

.navigation ul li .router-link .icon, .sub-router-link .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.navigation ul li .router-link .icon .b-icon {
    font-size: 2em;
}

.navigation ul li .router-link .title, .sub-router-link .title {
    position: relative;
    display: block;
    padding: 0 15px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

.active, .sub-router-link-active, .sub-router-link:hover {
    background: var(--dark);
}

.sub-router-link-active, .sub-router-link:hover {
    color: var(--white);
}

.main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}

.main.toggled {
    width: calc(100% - 70px);
    left: 70px;
}

.topbar {
    width: 100%;
    height: 70px;
    background: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.topbar .toggle {
    position: relative;
    background: var(--blue);
    color: var(--white);
    top: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}

.user {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user .userimg .b-avatar {
    width: 50px;
    height: 50px;
}

.user .userinfo p {
    margin: 0 10px 0 10px;
}

.user .user-b-dropdown {
    margin: 0 10px;
    width: 40px;
    height: 40px;
}

.minitopbar {
    margin-top: 10px;
    height: 80px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.status-card {
    height: 150px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    margin: 0 20px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.status-card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.status-card .info h4 {
    font-size: 1em;
    color: rgb(124, 124, 124);
}

.status-card .info p {
    font-size: 2em;
}

.status-card .logo .icon {
    font-size: 4em;
}

.custom-badge {
    background: #fff;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    width: 7em;
    cursor: default;
    border-radius: 4px;
}

.badge-danger {
    background-color: #b94a48;
}

.badge-warning {
    color: #000;
    background-color: #f89406;
}

.badge-success {
    background-color: #468847;
}

.nav {
    width: 100%;
    right: 0;
    top: 0 !important;
    height: 4rem;
    background: #070372;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 200;
}

.nav .logo-container {
    width: 200px;
    height: 4rem;
    background: #FED136;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.nav .logo-container img {
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 5px;
}

.nav .text-container {
    margin: 0 10px;
}

.nav .text-container h3 {
    color: #FED136;
    font-weight: bold;
}

nav {
    width: calc(100% - 280px);
    right: 0;
    height: 3.5rem;
    background: #070372;
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 200;
}

nav .logo, .nav-auth .logo {
    position: absolute;
    width: 200px;
    left: -100px;
    height: 3.5rem;
    border-radius: 90px;
    background: #FED136;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-auth .logo {
    left: -60px;
}

nav .logo img, .nav-auth .logo img {
    height: 3.0rem;
    margin-right: 5px;
}

nav h2 {
    font-family: 'Bruzh';
    margin-left: 130px;
    color: #FED136;
}

.sidebar {
    width: 280px;
    height: 100%;
    background: #070372;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 300;
    border-top-right-radius: 20px;
    box-shadow: 5px 10px 40px rgba(0, 0, 0, 0.25);
}

.sidebar .profile-container {
    margin-bottom: 1rem;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar .profile-container img {
    width: 100px;
    height: 100px;
    background: #fff;
}

.sidebar .profile-container p {
    color: #FED136;
    font-weight: bold;
}

.sidebar .sidebar-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 280px;
}

.sidebar .sidebar-list .sidebar-item {
    width: 250px;
    margin: 5px 0px 5px 0;
    padding-left: 20px;
    height: 3rem;
    background: #FED136;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    color: #000;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.sidebar .sidebar-list .sidebar-item:hover {
    background: #cfb249;
}

.sidebar-item img {
    height: 30px;
    width: 30px;
}

.sidebar-item span {
    margin-left: 15px;
}

.student-container, .student-org-container, .electoral-container, .ssc-container {
    padding: 10px;
    position: fixed;
    right: 0;
    bottom: 0;
    width: calc(100% - 280px);
    height: 90vh;
}

.student-container .student-info {
    border-radius: 10px;
}

.student-container .student-info h3 {
    font-weight: bold;
}

.student-container .student-info .org-container-1, .student-container .student-info .org-container-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.student-container .org-container-1 div, .student-container .org-container-2 div {
    width: 280px;
    height: 40px;
    margin: 0px 20px 0px 20px;
    background: #C4C4C4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.announcement-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.announcement-container-1 {
    width: 100%;
    border-radius: 20px;
    height: 70vh;
    overflow-x: hidden;
}

.announcement-item-1 {
    width: 100%;
    overflow-x: hidden;
    border-bottom: 1px rgb(199, 199, 199) solid;
}

.announcement-item-1:last-child {
    border-bottom: none;
}

.announcement-item-1 .profile {
    width: 300px;
    max-width: 500px;
    display: flex;
    align-items: center;
}

.announcement-item-1 .profile strong {
    margin-left: 20px;
    font-size: 1.3em;
}

.announcement-item-1 .profile h6 {
    margin: 0;
    margin-left: 20px;
}

.announcement-container-1 .no-data {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.announcement-container-1 .no-data img {
    width: 300px;
}

.announcement-item-1 .content {
    padding: 10px;
    margin-top: 20px;
    min-height: 15rem;
    cursor: pointer;
}

.student-gen-announcement, .student-org-announcement {
    width: 450px;
    height: 230px;
    border-radius: 10px;
}

.title-landing {
    position: fixed;
    padding: 20px;
    height: 500px;
    width: 500px;
    top: 170px;
    color: #fff;
}

.title-landing h1, .title-landing h3 {
    font-family: 'KGHAPPYSolid';
}

.title-landing h1 {
    font-size: 3rem;
}

.nav-auth {
    width: 100%;
    height: 3.5rem;
    background: #070372;
}

.login-form-main {
    margin-top: 100px;
}

.signup-form-main {
    margin-top: 70px;
}

fieldset {
    margin: 20px 0 20px 0 !important;
}

fieldset span {
    color: #070372;
    font-weight: bold;
    padding-left: 10px;
}

.login-input {
    border: #070372 1.5px solid !important;
    width: 250px;
    height: 35px;
    border-radius: 0px;
    margin-left: 50px;
    margin-top: 10px;
    color: #070372 !important;
}

.husky {
    position: fixed;
    top: -100px;
    left: 700px;
    z-index: 250;
    height: 1000px;
    object-fit: cover;
}

.blob-lg {
    width: 60%;
    position: fixed;
    left: -100px;
}

.login-form, .pending-container {
    width: 350px;
    height: 450px;
    position: fixed;
    z-index: 350;
    bottom: 20px;
    left: 180px;
    background: #fff;
}

.pending-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-form {
    width: 700px;
    height: 490px;
    position: fixed;
    z-index: 350;
    bottom: 20px;
    left: 90px;
    background: #fff;
}

.login-form .header {
    position: absolute;
    width: 370px;
    height: 3.5rem;
    background: #070372;
    border-radius: 20px;
    right: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-form .header {
    position: absolute;
    width: 720px;
    height: 3.5rem;
    background: #070372;
    border-radius: 20px;
    right: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form .header span, .signup-form .header span {
    color: #FED136;
    font-size: 20px;
    font-weight: bold;
}

.form-switch .form-check-input {
    border: #070372 1px solid;
}

.form-check-input:checked {
    background-color: #070372;
    color: #e2e2e2;
}

/* .form-check-input[type=checkbox] {
    width: 5px;
    height: 5px !important;
} */

.custom-ar-table {
    width: 100%;
    margin: 5rem 0 5rem 0;
    position: relative;
    border-collapse: separate;
    border-spacing: 0 10px;
}

thead.custom-ar-thead {
    height: 3.5rem !important;
}

.custom-ar-tbody {
    position: relative;
}

.custom-ar-tbody tr {
    position: relative;
    top: 20px;
    height: 3.5rem;
    bottom: 20px;
}

.add-announcement {
    width: 100%;
    background: #FED136;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
}

.add-announcement:hover {
    background: #d1b241;
}

.announcement-header {
    background: #070372;
    color: #FED136;
    font-weight: bold !important;
}

.announcement-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.announcement-ta {
    resize: none;
    height: 200px !important;
}

.announcement-list, .election-list, .voting {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background: #fff;
    border-radius: 20px;
    overflow-x: hidden;
}

.voting {
    padding-bottom: 100px !important;
}

.announcement-item, .election-item {
    width: 100%;
    border-radius: 10px;
    margin: 20px 0;
    padding: 20px;
}

.announcement-item:last-child, .election-item:last-child {
    margin-bottom: 170px;
}

::-webkit-scrollbar {
    width: 8px;
    height: 3.5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgb(124, 124, 124);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background: #575757d0;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #575757d0;
}

.announcement-animation {
    animation: slide-to-left infinite 10s ease-out;
}

.announcement-animation-delay-1 {
    animation-delay: 0s;
}

.announcement-animation-delay-2 {
    animation-delay: 6s;
}

.announcement-animation-delay-3 {
    animation-delay: 6s;
}

@keyframes slide-to-left {
    0% {
        transform: translateX(-500px);
    }
    40% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(0px);
    }
    60% {
        transform: translateX(0px);
    }
    70% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(600px);
    }
}

.account-setting-container {
    overflow-x: hidden;
    margin-top: 20px;
    border-radius: 10px;
}

.content-container {
    height: 70vh;
    border-radius: 10px;
    padding: 10px 20px;
    overflow-x: hidden;
}

.btn-vote {
    background: #070372;
    color: #fff;
    border-radius: 8px;
}

.btn-vote:hover {
    background: #fff;
    color: #070372;
    border: 1px #070372 solid;
}

.vote-success-badge {
    padding: 0 10px;
    height: 30px;
    background: #fff;
    color: #070372;
    border: 1px #070372 solid;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.vote-success-badge .icon {
    font-size: 20px;
    margin: 0 5px 0 0;
}

.btn-custom-info {
    border-radius: 30px;
    width: 30px;
    height: 30px;
    margin: 0 10px;
    background: #fff;
    color: #070372;
    border: 2px #070372 solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Century Gothic';
    font-size: 18px;
}

.btn-custom-info:hover {
    background: #070372;
    color: #fff;
}

.container-margin {
    margin-top: 4rem !important;
}

.main-heading, .main-voting {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0 30px;
    justify-content: center;
    align-items: center;
}

.main-heading {
    background: linear-gradient(239.74deg, #070372 31.58%, rgba(7, 3, 114, 0) 460.49%);
}

.main-voting {
    background: #fff;
}

.main-heading .b-col .heading .content p:first-child {
    font-size: 2em;
    font-weight: bold;
    color: #D6A73D;
}

.main-heading .b-col .heading .content h1 {
    font-size: 10em;
    font-weight: 700;
    line-height: 6rem;
    color: #FFF;
}

.main-heading .b-col .heading .content h3 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 6rem;
    opacity: .7;
    color: #FFF;
}

.main-heading .b-col .heading .content p {
    font-size: 1em;
    color: #fff;
}

.main-heading .b-col .hero .content img {
    width: 60rem;
    padding: 0 20px;
    height: 100%;
}

.btn-login-heading, .btn-signup-heading {
    width: max-content;
    height: 4rem;
    border-radius: 30px;
    background-color: #0D3E83;
    font-size: 1.5em;
    padding: 0 50px;
    border: 0;
}

.btn-login-heading:hover, .btn-signup-heading:hover, .btn-signup-heading:focus, .btn-login-heading:focus {
    background: #fff;
    color: #0D3E83;
}

.btn-login-heading {
    margin-right: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.la {
    width: 500px;
    height: 320px;
    margin-top: 1.5rem;
    padding: 20px;
    border-radius: 10px;
    overflow-x: hidden;
}

.la h5 {
    margin-bottom: 20px;
}

.la-item {
    width: 100%;
    height: 45px;
    border: 1px #bdbdbd solid;
    margin: 10px 0;
    border-radius: 20px;
    text-align: start;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.la-item .content {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   cursor: pointer;
}

@media only screen and (max-width: 1580px) {
    .lineh-1 {
        line-height: 5.5rem !important;
    }
    .announcement-text {
        font-size: 2.5rem;
    }
    .voting-text {
        font-size: 10rem;
    }
    .system-text {
        font-size: 5rem;
    }
}

@media only screen and (max-width: 1260px) {
    .lineh-1 {
        line-height: 4.5rem !important;
    }
    .announcement-text {
        font-size: 2.3rem;
    }
    .voting-text {
        font-size: 8rem;
    }
    .system-text {
        font-size: 4rem;
    }
}

@media only screen and (max-width: 1024px) {
    .lineh-1 {
        line-height: 4rem !important;
    }
    .announcement-text {
        font-size: 1.8rem;
    }
    .voting-text {
        font-size: 7rem;
    }
    .system-text {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 840px) {
    .lineh-1 {
        line-height: 3.8rem !important;
    }
    .announcement-text {
        font-size: 1.3rem;
    }
    .voting-text {
        font-size: 6rem;
    }
    .system-text {
        font-size: 2.5rem;
    }
    .left-side {
        padding-bottom: 2.5rem;
    }
    .right-side {
        background: linear-gradient(178.12deg, #070372 53.07%, rgba(7, 3, 114, 0) 245.51%);
    }
    .right-side h1 {
        color: #fff;
    }
    .right-side .btn-blue {
        background: #fff !important;
        color: #070372 !important;
    }
    .logo-container {
        position: sticky;
    }
}

@media only screen and (max-width: 640px) {
    .lineh-1 {
        line-height: 4rem !important;
    }
    .announcement-text {
        font-size: 1.5rem;
    }
    .voting-text {
        font-size: 6.5rem;
    }
    .system-text {
        font-size: 2.8rem;
    }
}