<template>
  <div class="nav">
    <div class="logo-container">
      <img src="@/assets/img/lnu-logo.png" alt="" />
    </div>
    <div class="text-container">
        <h3>Leyte Normal University</h3>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>