<template>
  <div class="content">
    <div class="header">
      <h1><b-icon icon="people"></b-icon> Admin Accounts</h1>
    </div>
    <div class="mt-5 container-fluid">
      <div class="row mb-3">
        <div class="col-6" align="start">
          <!-- <div class="row">
            <div class="col-3 p-0">
              <p>Filter by:</p>
            </div>
            <div class="col-9 p-0" align="start">
              <b-form-select
                @change="filterAdminAccounts"
                :options="options"
              ></b-form-select>
            </div>
          </div> -->
        </div>
        <div class="col-6" align="end">
          <button class="btn btn-primary btn-sm" v-b-modal.create-account>
            <b-icon icon="person-plus"></b-icon> Create Account
          </button>
        </div>
      </div>
      <b-table
        id="my-table"
        :busy="isBusy"
        :fields="fields"
        :items="accounts"
        :per-page="perPage"
        :current-page="currentPage"
        small
      >
        <template #cell(organization)="row">
          {{
            row.item.organization.abbreviation == null
              ? row.item.organization.organization
              : row.item.organization.abbreviation
          }}
        </template>
        <template #cell(name)="row">
          {{
            `${row.item.first_name} ${row.item.middle_name} ${row.item.last_name}`
          }}
        </template>

        <template #cell(actions)="row">
          <b-button
            variant="primary"
            size="sm"
            v-b-tooltip.hover
            title="Change Password"
            @click="
              $bvModal.show('change-password');
              account.id = row.item.id;
            "
            class="m-2"
          >
            <b-icon icon="key"></b-icon>
          </b-button>
          <b-button
            variant="warning"
            size="sm"
            v-b-tooltip.hover
            title="Update Account"
            @click="showAccount(row.item)"
            class="m-2"
          >
            <b-icon icon="pen"></b-icon>
          </b-button>
          <b-button
            variant="danger"
            size="sm"
            v-b-tooltip.hover
            title="Delete Account"
            @click="deleteAccount(row.item.id)"
            class="m-2"
          >
            <b-icon icon="trash"></b-icon>
          </b-button>
        </template>
        <template #table-busy>
          <div class="text-center text-danger my-2">
            <b-spinner class="align-middle"></b-spinner>
            <strong>&nbsp;Loading...</strong>
          </div>
        </template>
      </b-table>
      <div class="row">
        <div class="col-6">
          <b-pagination
            v-model="currentPage"
            :total-rows="rows"
            :per-page="perPage"
            aria-controls="my-table"
          ></b-pagination>
        </div>
        <div class="col-6" align="end">
          <p class="mt-3">
            Current Page: {{ currentPage }} Total Row(s): {{ rows }}
          </p>
        </div>
      </div>

      <b-modal
        id="create-account"
        title="Create Admin Account"
        centered
        hide-footer
        size="lg"
      >
        <form @submit.prevent="createAdminAccount">
          <div class="container-fluid p-0">
            <div class="row">
              <div class="col-6">
                <div class="form-floating mb-3">
                  <select
                    class="form-select"
                    v-model="account.organization_id"
                    aria-label="Default select example"
                  >
                    <option value="0" selected class="text-muted">
                      Select an organization
                    </option>
                    <option
                      v-for="organization in organizations"
                      :key="organization.id"
                      :value="organization.id"
                    >
                      {{
                        `${
                          organization.abbreviation == null
                            ? ""
                            : organization.abbreviation + " - "
                        } (${organization.organization})`
                      }}
                    </option>
                  </select>
                  <label for="floatingInput">Organization</label>
                </div>
              </div>
              <div class="col-6">
                <div class="form-floating">
                  <select
                    class="form-select"
                    v-model="account.position_id"
                    aria-label="Default select example"
                  >
                    <option value="0" selected class="text-muted">
                      Select a position
                    </option>
                    <option
                      v-for="position in positions"
                      :key="position.id"
                      :value="position.id"
                    >
                      {{ position.position }}
                    </option>
                  </select>
                  <label for="floatingInput">Position</label>
                </div>
              </div>
              <div class="col-4">
                <div class="form-floating mb-3">
                  <input
                    :disabled="isBusy"
                    type="text"
                    class="form-control"
                    id="floatingInput"
                    placeholder="name"
                    v-model="account.first_name"
                  />
                  <label for="floatingInput">First Name</label>
                </div>
              </div>
              <div class="col-4">
                <div class="form-floating mb-3">
                  <input
                    :disabled="isBusy"
                    type="text"
                    class="form-control"
                    id="floatingInput"
                    placeholder="name"
                    v-model="account.middle_name"
                  />
                  <label for="floatingInput">Middle Name</label>
                </div>
              </div>
              <div class="col-4">
                <div class="form-floating mb-3">
                  <input
                    :disabled="isBusy"
                    type="text"
                    class="form-control"
                    id="floatingInput"
                    placeholder="name"
                    v-model="account.last_name"
                  />
                  <label for="floatingInput">Last Name</label>
                </div>
              </div>
              <div class="col-6">
                <div class="form-floating mb-3">
                  <input
                    :disabled="isBusy"
                    type="text"
                    class="form-control"
                    id="floatingInput"
                    placeholder="username"
                    v-model="account.username"
                  />
                  <label for="floatingInput">Username</label>
                </div>
              </div>
              <div class="col-6">
                <div class="form-floating mb-3">
                  <input
                    :disabled="isBusy"
                    type="text"
                    class="form-control"
                    id="floatingInput"
                    placeholder="username"
                    v-model="account.email"
                  />
                  <label for="floatingInput">Email</label>
                </div>
              </div>
              <div class="col-6">
                <div class="form-floating mb-3">
                  <input
                    :disabled="isBusy"
                    type="password"
                    class="form-control"
                    id="floatingInput"
                    placeholder="username"
                    v-model="account.password"
                  />
                  <label for="floatingInput">Password</label>
                </div>
              </div>
              <div class="col-6">
                <div class="form-floating mb-3">
                  <input
                    :disabled="isBusy"
                    type="password"
                    class="form-control"
                    id="floatingInput"
                    placeholder="username"
                    v-model="account.password_confirmation"
                  />
                  <label for="floatingInput">Confirm Password</label>
                </div>
              </div>
              <div class="col-12" align="end">
                <b-button type="submit" variant="primary">Save</b-button>
              </div>
            </div>
          </div>
        </form>
      </b-modal>

      <b-modal
        id="update-account"
        title="Update Admin Account"
        hide-footer
        centered
        size="lg"
      >
        <form @submit.prevent="updateAdminAccount">
          <div class="container-fluid p-0">
            <div class="row">
              <div class="col-6">
                <div class="form-floating mb-3">
                  <select
                    class="form-select"
                    v-model="account.organization_id"
                    aria-label="Default select example"
                  >
                    <option value="0" selected class="text-muted">
                      Select an organization
                    </option>
                    <option
                      v-for="organization in organizations"
                      :key="organization.id"
                      :value="organization.id"
                    >
                      {{ organization.organization }}
                    </option>
                  </select>
                  <label for="floatingInput">Organization</label>
                </div>
              </div>
              <div class="col-6">
                <div class="form-floating">
                  <select
                    class="form-select"
                    v-model="account.position_id"
                    aria-label="Default select example"
                  >
                    <option value="0" selected class="text-muted">
                      Select a position
                    </option>
                    <option
                      v-for="position in positions"
                      :key="position.id"
                      :value="position.id"
                    >
                      {{ position.position }}
                    </option>
                  </select>
                  <label for="floatingInput">Position</label>
                </div>
              </div>
              <div class="col-4">
                <div class="form-floating mb-3">
                  <input
                    :disabled="isBusy"
                    type="text"
                    class="form-control"
                    id="floatingInput"
                    placeholder="name"
                    v-model="account.first_name"
                  />
                  <label for="floatingInput">First Name</label>
                </div>
              </div>
              <div class="col-4">
                <div class="form-floating mb-3">
                  <input
                    :disabled="isBusy"
                    type="text"
                    class="form-control"
                    id="floatingInput"
                    placeholder="name"
                    v-model="account.middle_name"
                  />
                  <label for="floatingInput">Middle Name</label>
                </div>
              </div>
              <div class="col-4">
                <div class="form-floating mb-3">
                  <input
                    :disabled="isBusy"
                    type="text"
                    class="form-control"
                    id="floatingInput"
                    placeholder="name"
                    v-model="account.last_name"
                  />
                  <label for="floatingInput">Last Name</label>
                </div>
              </div>
              <div class="col-6">
                <div class="form-floating mb-3">
                  <input
                    :disabled="isBusy"
                    type="text"
                    class="form-control"
                    id="floatingInput"
                    placeholder="username"
                    v-model="account.username"
                  />
                  <label for="floatingInput">Username</label>
                </div>
              </div>
              <div class="col-6">
                <div class="form-floating mb-3">
                  <input
                    :disabled="isBusy"
                    type="text"
                    class="form-control"
                    id="floatingInput"
                    placeholder="username"
                    v-model="account.email"
                  />
                  <label for="floatingInput">Email</label>
                </div>
              </div>
              <div class="col-12" align="end">
                <b-button type="submit" variant="primary">Update</b-button>
              </div>
            </div>
          </div>
        </form>
      </b-modal>
      <b-modal
        id="delete-account"
        title="Delete Admin Account"
        hide-footer
        centered
      >
        <div class="col-12">
          <p class="my-4">Are you sure you want to delete this account?</p>
        </div>
        <div class="col-12" align="end">
          <b-button
            class="mx-2"
            @click="$bvModal.hide('delete-account')"
            :disable="isBusy"
            variant="secondary"
            >Cancel</b-button
          >
          <b-button
            class="mx-2"
            @click.prevent="deleteAdminAccount"
            :disable="isBusy"
            variant="danger"
            >Delete</b-button
          >
        </div>
      </b-modal>
      <b-modal
        id="change-password"
        title="Change Password"
        hide-footer
        centered
      >
        <div class="col-12">
          <form @submit.prevent="changePassword">
            <div class="form-floating mb-3">
              <input
                :disabled="isBusy"
                type="password"
                class="form-control"
                id="floatingInput"
                placeholder="username"
                v-model="account.password"
              />
              <label for="floatingInput">Password</label>
            </div>
            <div class="form-floating mb-3">
              <input
                :disabled="isBusy"
                type="password"
                class="form-control"
                id="floatingInput"
                placeholder="username"
                v-model="account.password_confirmation"
              />
              <label for="floatingInput">Password Confirmation</label>
            </div>
            <div class="col-12" align="end">
              <b-button
                class="mx-2"
                @click="$bvModal.hide('change-password')"
                :disable="isBusy"
                variant="secondary"
                >Cancel</b-button
              >
              <b-button
                class="mx-2"
                type="submit"
                :disable="isBusy"
                variant="warning"
                >Save</b-button
              >
            </div>
          </form>
        </div>
      </b-modal>
    </div>
  </div>
</template>

<script>
export default {
  title: "MIS Admin Panel - Account",
  data: function () {
    return {
      isBusy: false,
      account: {
        id: 0,
        organization_id: 0,
        position_id: 0,
        first_name: "",
        middle_name: "",
        last_name: "",
        username: "",
        email: "",
        password: "",
        password_confirmation: "",
      },
      perPage: 5,
      currentPage: 1,
      options: [
        { value: 0, text: "All" },
        { value: 1, text: "SSC" },
        { value: 2, text: "Year Level" },
        { value: 3, text: "College " },
        { value: 4, text: "Student" },
      ],
      fields: [
        {
          key: "id",
          label: "ID",
        },
        {
          key: "name",
          label: "Name",
        },
        {
          key: "username",
        },
        {
          key: "organization",
          label: "Organization",
        },
        {
          key: "position.position",
          label: "Position",
        },
        { key: "actions", label: "Actions", class: "text-center" },
      ],
    };
  },
  computed: {
    accounts() {
      return this.$store.getters["misAccounts/GET_ACCOUNTS"];
    },
    organizations() {
      return this.$store.getters["misAccounts/GET_ORGANIZATIONS"];
    },
    positions() {
      return this.$store.getters["misAccounts/GET_POSITIONS"];
    },
    rows() {
      return this.accounts.length;
    },
  },
  methods: {
    filterAdminAccounts: async function () {
      await this.$store.dispatch("misAccounts/FILTER_ACCOUNTS");
    },
    createAdminAccount: async function () {
      let validated = this.validate();
      if (validated) {
        const response = await this.$store.dispatch(
          "misAccounts/CREATE_ACCOUNT",
          this.account
        );
        if (response.status == 200) {
          this.$toast.success("Account added.");
          this.$bvModal.hide("create-account");
          this.loadData();
        }
      }
    },
    updateAdminAccount: async function () {
      const response = await this.$store.dispatch(
        "misAccounts/UPDATE_ACCOUNT",
        this.account
      );
      if (response.status == 200) {
        this.$toast.success("Account updated.");
        this.$bvModal.hide("update-account");
        this.loadData();
      }
    },
    deleteAdminAccount: async function () {
      const response = await this.$store.dispatch(
        "misAccounts/DELETE_ACCOUNT",
        this.account.id
      );
      if (response.status == 200) {
        this.$toast.success("Account deleted.");
        this.$bvModal.hide("delete-account");
        this.loadData();
      } else {
        this.$toast.error("Something wrong. Try again later.");
      }
    },
    changePassword: async function () {
      if (this.account.password == "") {
        return this.$toast.warning("Password is required");
      }
      if (this.account.password_confirmation == "") {
        return this.$toast.warning("Password Confirmation is required");
      }
      if (this.account.password != this.account.password_confirmation) {
        return this.$toast.warning("Password not match");
      }
      const response = await this.$store.dispatch(
        "misAccounts/CHANGE_PASSWORD",
        this.account
      );
      if (response.status == 200) {
        this.$toast.success("Account password changed.");
        this.$bvModal.hide("change-password");
        this.loadData();
      } else {
        this.$toast.error("Something wrong. Try again later.");
      }
    },
    showAccount: function (item) {
      this.account = {
        id: item.id,
        organization_id: item.organization.id,
        position_id: item.position.id,
        first_name: item.first_name,
        middle_name: item.middle_name,
        last_name: item.last_name,
        username: item.username,
        email: item.email,
      };
      this.$bvModal.show("update-account");
    },
    deleteAccount: function (id) {
      this.account.id = id;
      this.$bvModal.show("delete-account");
    },
    validate: function () {
      if (this.account.organization_id == 0) {
        this.$toast.warning("Organization is required");
        return false;
      }
      if (this.account.position_id == 0) {
        this.$toast.warning("Position is required");
        return false;
      }
      if (this.account.first_name == 0) {
        this.$toast.warning("First Name is required");
        return false;
      }
      if (this.account.middle_name == 0) {
        this.$toast.warning("Middle Name is required");
        return false;
      }
      if (this.account.last_name == 0) {
        this.$toast.warning("Last Name is required");
        return false;
      }
      if (this.account.username == 0) {
        this.$toast.warning("Username is required");
        return false;
      }
      if (this.account.email == 0) {
        this.$toast.warning("Email is required");
        return false;
      }
      if (this.account.password == 0) {
        this.$toast.warning("Password is required");
        return false;
      }
      if (this.account.password_confirmation == 0) {
        this.$toast.warning("Password Confirmation is required");
        return false;
      }
      if (this.account.password != this.account.password_confirmation) {
        this.$toast.warning("Password not match");
        return false;
      }

      return true;
    },
    clearFields: function () {
      this.account = {
        id: 0,
        organization_id: 0,
        position_id: 0,
        first_name: "",
        middle_name: "",
        last_name: "",
        username: "",
        password: "",
        password_confirmation: "",
      };
    },
    loadData: async function () {
      this.isBusy = true;
      await this.filterAdminAccounts();
      await this.$store.dispatch("misAccounts/FETCH_DATAS");
      this.isBusy = false;
      this.$toast.success("Data loaded.");
    },
  },
  mounted: function () {
    this.$root.$on("bv::modal::hide", () => {
      this.clearFields();
    });
    this.loadData();
  },
};
</script>

<style scoped>
.content {
  padding: 20px;
  height: 90vh;
}
</style>