<template>
  <b-container fluid>
    <h1>Overview</h1>
    <b-row class="mt-3">
      <b-col cols="12" class="d-flex">
        <div class="status-card">
          <div class="info">
            <h4 class="title">Ongoing Election</h4>
            <b-skeleton-wrapper :loading="loading">
              <template #loading>
                <p>
                  <b-skeleton width="65%"></b-skeleton>
                  <b-skeleton width="55%"></b-skeleton>
                </p>
              </template>

              <p class="sub-title">{{ ongoing_election_count }}</p>
            </b-skeleton-wrapper>
          </div>
          <div class="logo">
            <b-icon class="icon" variant="secondary" icon="bar-chart"></b-icon>
          </div>
        </div>

        <div class="status-card">
          <div class="info">
            <h4 class="title">Student Account</h4>

            <b-skeleton-wrapper :loading="loading">
              <template #loading>
                <p>
                  <b-skeleton width="65%"></b-skeleton>
                  <b-skeleton width="55%"></b-skeleton>
                </p>
              </template>

              <p class="sub-title">{{ student_account_count }}</p>
            </b-skeleton-wrapper>
          </div>
          <div class="logo">
            <b-icon class="icon" variant="primary" icon="people"></b-icon>
          </div>
        </div>

        <div class="status-card">
          <div class="info">
            <h4 class="title">Organization Account</h4>
            <b-skeleton-wrapper :loading="loading">
              <template #loading>
                <p>
                  <b-skeleton width="65%"></b-skeleton>
                  <b-skeleton width="55%"></b-skeleton>
                </p>
              </template>

              <p class="sub-title">{{ organization_account_count }}</p>
            </b-skeleton-wrapper>
          </div>
          <div class="logo">
            <b-icon class="icon" variant="dark" icon="people-fill"></b-icon>
          </div>
        </div>

        <div class="status-card">
          <div class="info">
            <h4 class="title">Organization</h4>
            <b-skeleton-wrapper :loading="loading">
              <template #loading>
                <p>
                  <b-skeleton width="65%"></b-skeleton>
                  <b-skeleton width="55%"></b-skeleton>
                </p>
              </template>

              <p class="sub-title">{{ organization_count }}</p>
            </b-skeleton-wrapper>
          </div>
          <div class="logo">
            <b-icon class="icon" variant="success" icon="briefcase"></b-icon>
          </div>
        </div>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  title: "MIS Admin Panel - Dashboard",
  data() {
    return {
      loading: false,
    };
  },
  computed: {
    ongoing_election_count() {
      return this.$store.getters["misDashboard/GET_ONGOING_ELECTION_COUNT"];
    },
    organization_account_count() {
      return this.$store.getters["misDashboard/GET_ORGANIZATION_ACCOUNT_COUNT"];
    },
    organization_count() {
      return this.$store.getters["misDashboard/GET_ORGANIZATION_COUNT"];
    },
    student_account_count() {
      return this.$store.getters["misDashboard/GET_STUDENT_ACCOUNT_COUNT"];
    },
  },
  async mounted() {
    this.loading = !this.loading;
    await this.$store.dispatch("misDashboard/FETCH_ONGOING_ELECTION_COUNT");
    await this.$store.dispatch("misDashboard/FETCH_STUDENT_ACCOUNT_COUNT");
    await this.$store.dispatch("misDashboard/FETCH_ORGANIZATION_ACCOUNT_COUNT");
    await this.$store.dispatch("misDashboard/FETCH_ORGANIZATION_COUNT");
    this.loading = !this.loading;
  },
};
</script>

<style scoped>
.content {
  padding: 20px;
}
.account-crd {
  width: 200px;
  height: 200px !important;
}
</style>