<template>
  <div>
    <div
      style="width: 100%; height: 100vh"
      class="d-flex justify-content-center align-items-center"
      v-if="isLoading"
    >
      <div class="d-flex flex-column justify-content-center align-items-center">
        <b-spinner label="Spinning"></b-spinner>
        <h1>Now Loading</h1>
      </div>
    </div>
    <div class="my-container" v-else>
      <Navigation :routes="routes" />
      <div
        class="main"
        @toggleNav="alert('qweqwew')"
        :class="{ toggled: active }"
      >
        <Topbar />
        <div class="container-fluid px-5 mt-5">
          <router-view></router-view>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { admin as admin_routes } from "@/router/navigation_routes.js";
import Navigation from "@/components/Admin/Navigation.vue";
import Topbar from "@/components/Admin/Topbar.vue";

export default {
  title: "MIS Admin Panel",
  data: function () {
    return {
      authenticated: true,
      admin: {},
      routes: null,
      isLoading: false,
    };
  },
  components: {
    Navigation,
    Topbar
  },
  computed: {
    active() {
      return this.$store.getters["GET_TOGGLE"];
    },
  },
  mounted: async function () {
    this.isLoading = !this.isLoading;
    const response = await this.$store.dispatch("authAdmin/CHECK");
    if (response.status != 200) {
      localStorage.removeItem("access_token");
      this.$router.push("/login").catch(() => {});
    } else {
      this.admin = response.data;
    }
    this.routes = admin_routes;
    this.isLoading = !this.isLoading;
  },
};
</script>
