<template>
  <div class="content">
    <div class="header">
      <h1><b-icon icon="people"></b-icon>Organization Account</h1>
    </div>
    <div class="mt-4 container-fluid">
      <div class="row">
        <!-- <b-col cols="12" class="mb-3">
          <div class="d-flex align-items-center">
            <div>
              <p class="m-0">Filter</p>
            </div>
            <div>
              <b-form-select
                class="form-select mx-2"
                v-model="selected"
                :options="options"
              ></b-form-select>
            </div>
          </div>
          <template #cell(name)="row" class="col-5">
            {{
              `${row.item.student_personal_info.first_name} ${row.item.student_personal_info.middle_name} ${row.item.student_personal_info.last_name}`
            }}
          </template>
        </b-col> -->

        <b-col
          cols="12"
          class="d-flex justify-content-between align-items-center mt-4"
        >
          <div class="col-4">
            <b-input-group prepend="Search">
              <b-form-input placeholder="Find something..."></b-form-input>
            </b-input-group>
          </div>

          <div>
            <button
              class="btn btn-primary"
              v-b-modal.create-organization-account
            >
              <b-icon icon="person-plus"></b-icon> Add Organization Account
            </button>
          </div>
        </b-col>

        <b-col cols="12" class="d-flex justify-content-start mt-5 mb-3">
          <div class="d-flex">
            <div>
              <b-button variant="danger" v-b-modal.deactivate-accounts>
                <b-icon icon="x-circle"></b-icon> Deactivate All
              </b-button>
            </div>
            <div class="mx-2">
              <b-button variant="success" v-b-modal.activate-accounts>
                <b-icon icon="check-circle"></b-icon> Active All
              </b-button>
            </div>
          </div>
        </b-col>
      </div>

      <b-table
        stripped
        hover
        id="my-table"
        :busy="isBusy"
        :fields="fields"
        :items="organization_accounts"
        :per-page="perPage"
        :current-page="currentPage"
        small
      >
        <template #cell(index)="row" class="col-5">
          {{ row.index + 1 }}
        </template>

        <template #cell(name)="row">
          {{
            `${row.item.last_name}, ${row.item.first_name} ${row.item.middle_name}`
          }}
        </template>

        <template #cell(email)="row">
          {{ `${row.item.email}` }}
        </template>

        <template #cell(organization)="row">
          {{
            `${row.item.organization.organization}${
              row.item.organization.abbreviation == null
                ? ""
                : "(" + row.item.organization.abbreviation + ")"
            }`
          }}
        </template>

        <template #cell(role)="row" class="col-3">
          {{ row.item.role.role }}
        </template>

        <template #cell(is_active)="row" class="col-3">
          <div v-if="row.item.is_active == 0" class="custom-badge badge-danger">
            InActive
          </div>
          <div v-else class="custom-badge badge-success">Active</div>
        </template>

        <template #cell(actions)="row">
          <div class="text-center">
            <b-button
              variant="primary"
              size="sm"
              v-b-tooltip.hover
              title="Change Password"
              @click="
                $bvModal.show('change-password');
                password.id = row.item.id;
              "
              class="m-2"
            >
              <b-icon icon="key"></b-icon>
            </b-button>

            <b-button
              v-if="row.item.is_active == 0"
              variant="success"
              size="sm"
              v-b-tooltip.hover
              title="Activate Account"
              @click="
                $bvModal.show('activate-account');
                account.id = row.item.id;
              "
              class="m-2"
            >
              <b-icon icon="check-circle"></b-icon>
            </b-button>

            <b-button
              v-else
              variant="danger"
              size="sm"
              v-b-tooltip.hover
              title="Deactivate Account"
              @click="
                $bvModal.show('deactivate-account');
                account.id = row.item.id;
              "
              class="m-2"
            >
              <b-icon icon="x-circle"></b-icon>
            </b-button>

            <b-button
              variant="warning"
              size="sm"
              v-b-tooltip.hover
              title="Update Account"
              @click="showOrganizationAccount(row.item)"
              class="m-2"
            >
              <b-icon icon="pen"></b-icon>
            </b-button>
            <b-button
              variant="danger"
              size="sm"
              v-b-tooltip.hover
              title="Delete Account"
              @click="deleteAccount(row.item.id)"
              class="m-2"
            >
              <b-icon icon="trash"></b-icon>
            </b-button>
          </div>
        </template>
        <template #table-busy>
          <div class="text-center text-danger my-2">
            <b-spinner class="align-middle"></b-spinner>
            <strong>&nbsp;Loading...</strong>
          </div>
        </template>
      </b-table>
      <div class="row">
        <div class="col-6">
          <b-pagination
            v-model="currentPage"
            :total-rows="rows"
            :per-page="perPage"
            aria-controls="my-table"
          ></b-pagination>
        </div>
        <div class="col-6" align="end">
          <p class="mt-3">
            Current Page: {{ currentPage }} Total Row(s): {{ rows }}
          </p>
        </div>
      </div>

      <b-modal
        id="create-organization-account"
        title="New Organization Account"
        centered
        hide-footer
        size="lg"
      >
        <form @submit.prevent="createOrganizationAccount">
          <div class="container-fluid p-0">
            <div class="row">
              <div class="col-6">
                <div class="form-floating mb-3">
                  <select
                    class="form-select"
                    v-model="account.organization_id"
                    aria-label="Default select example"
                  >
                    <option value="0" selected class="text-muted">
                      Select an organization
                    </option>
                    <option
                      v-for="organization in organizations"
                      :key="organization.id"
                      :value="organization.id"
                    >
                      {{
                        organization.abbreviation == null
                          ? organization.organization
                          : `${organization.organization}(${organization.abbreviation})`
                      }}
                    </option>
                  </select>
                  <label for="floatingInput">Organization</label>
                </div>
              </div>
              <div class="col-6">
                <div class="form-floating">
                  <select
                    class="form-select"
                    v-model="account.role_id"
                    aria-label="Default select example"
                  >
                    <option value="0" selected class="text-muted">
                      Select a position
                    </option>
                    <option
                      v-for="role in roles"
                      :key="role.id"
                      :value="role.id"
                    >
                      {{ role.role }}
                    </option>
                  </select>
                  <label for="floatingInput">Role</label>
                </div>
              </div>
              <div class="col-4">
                <div class="form-floating mb-3">
                  <input
                    :disabled="isBusy"
                    type="text"
                    class="form-control"
                    id="floatingInput"
                    placeholder="name"
                    v-model="account.first_name"
                  />
                  <label for="floatingInput">First Name</label>
                </div>
              </div>
              <div class="col-4">
                <div class="form-floating mb-3">
                  <input
                    :disabled="isBusy"
                    type="text"
                    class="form-control"
                    id="floatingInput"
                    placeholder="name"
                    v-model="account.middle_name"
                  />
                  <label for="floatingInput">Middle Name</label>
                </div>
              </div>
              <div class="col-4">
                <div class="form-floating mb-3">
                  <input
                    :disabled="isBusy"
                    type="text"
                    class="form-control"
                    id="floatingInput"
                    placeholder="name"
                    v-model="account.last_name"
                  />
                  <label for="floatingInput">Last Name</label>
                </div>
              </div>
              <div class="col-6">
                <div class="form-floating mb-3">
                  <input
                    :disabled="isBusy"
                    type="text"
                    class="form-control"
                    id="floatingInput"
                    placeholder="username"
                    v-model="account.username"
                  />
                  <label for="floatingInput">Username</label>
                </div>
              </div>
              <div class="col-6">
                <div class="form-floating mb-3">
                  <input
                    :disabled="isBusy"
                    type="text"
                    class="form-control"
                    id="floatingInput"
                    placeholder="username"
                    v-model="account.email"
                  />
                  <label for="floatingInput">Email</label>
                </div>
              </div>
              <div class="col-6">
                <div class="form-floating mb-3">
                  <input
                    :disabled="isBusy"
                    type="password"
                    class="form-control"
                    id="floatingInput"
                    placeholder="username"
                    v-model="account.password"
                  />
                  <label for="floatingInput">Password</label>
                </div>
              </div>
              <div class="col-6">
                <div class="form-floating mb-3">
                  <input
                    :disabled="isBusy"
                    type="password"
                    class="form-control"
                    id="floatingInput"
                    placeholder="username"
                    v-model="account.password_confirmation"
                  />
                  <label for="floatingInput">Confirm Password</label>
                </div>
              </div>
              <div class="col-12" align="end">
                <b-button type="submit" variant="primary">Save</b-button>
              </div>
            </div>
          </div>
        </form>
      </b-modal>

      <b-modal
        id="update-organization-account"
        title="Update Organization Account"
        hide-footer
        centered
        size="lg"
      >
        <form @submit.prevent="updateOrganizationAccount">
          <div class="container-fluid p-0">
            <div class="row">
              <div class="col-6">
                <div class="form-floating mb-3">
                  <select
                    class="form-select"
                    v-model="account.organization_id"
                    aria-label="Default select example"
                  >
                    <option value="0" selected class="text-muted">
                      Select an organization
                    </option>
                    <option
                      v-for="organization in organizations"
                      :key="organization.id"
                      :value="organization.id"
                    >
                      {{ organization.organization }}
                    </option>
                  </select>
                  <label for="floatingInput">Organization</label>
                </div>
              </div>
              <div class="col-6">
                <div class="form-floating">
                  <select
                    class="form-select"
                    v-model="account.role_id"
                    aria-label="Default select example"
                  >
                    <option value="0" selected class="text-muted">
                      Select a role
                    </option>
                    <option
                      v-for="role in roles"
                      :key="role.id"
                      :value="role.id"
                    >
                      {{ role.role }}
                    </option>
                  </select>
                  <label for="floatingInput">Role</label>
                </div>
              </div>
              <div class="col-4">
                <div class="form-floating mb-3">
                  <input
                    :disabled="isBusy"
                    type="text"
                    class="form-control"
                    id="floatingInput"
                    placeholder="name"
                    v-model="account.first_name"
                  />
                  <label for="floatingInput">First Name</label>
                </div>
              </div>
              <div class="col-4">
                <div class="form-floating mb-3">
                  <input
                    :disabled="isBusy"
                    type="text"
                    class="form-control"
                    id="floatingInput"
                    placeholder="name"
                    v-model="account.middle_name"
                  />
                  <label for="floatingInput">Middle Name</label>
                </div>
              </div>
              <div class="col-4">
                <div class="form-floating mb-3">
                  <input
                    :disabled="isBusy"
                    type="text"
                    class="form-control"
                    id="floatingInput"
                    placeholder="name"
                    v-model="account.last_name"
                  />
                  <label for="floatingInput">Last Name</label>
                </div>
              </div>
              <div class="col-6">
                <div class="form-floating mb-3">
                  <input
                    :disabled="isBusy"
                    type="text"
                    class="form-control"
                    id="floatingInput"
                    placeholder="username"
                    v-model="account.username"
                  />
                  <label for="floatingInput">Username</label>
                </div>
              </div>
              <div class="col-6">
                <div class="form-floating mb-3">
                  <input
                    :disabled="isBusy"
                    type="text"
                    class="form-control"
                    id="floatingInput"
                    placeholder="username"
                    v-model="account.email"
                  />
                  <label for="floatingInput">Email</label>
                </div>
              </div>
              <div class="col-12" align="end">
                <b-button type="submit" variant="primary">Update</b-button>
              </div>
            </div>
          </div>
        </form>
      </b-modal>
      <b-modal
        id="delete-organization-account"
        title="Delete Admin Account"
        hide-footer
        centered
      >
        <div class="col-12">
          <p class="my-4">Are you sure you want to delete this account?</p>
        </div>
        <div class="col-12" align="end">
          <b-button
            class="mx-2"
            @click="$bvModal.hide('delete-organization-account')"
            :disable="isBusy"
            variant="secondary"
            >Cancel</b-button
          >
          <b-button
            class="mx-2"
            @click.prevent="deleteOrganizationAccount"
            :disable="isBusy"
            variant="danger"
            >Delete</b-button
          >
        </div>
      </b-modal>

      <b-modal
        id="change-password"
        title="Change Password"
        hide-footer
        centered
      >
        <div class="col-12">
          <div class="form-floating mb-3">
            <input
              :disabled="isBusy"
              type="password"
              class="form-control"
              id="floatingInputCurrentPassword"
              placeholder="Current Password"
              v-model="password.current_password"
            />
            <label for="floatingInputCurrentPassword">Current Password</label>
          </div>

          <div class="form-floating mb-3">
            <input
              :disabled="isBusy"
              type="password"
              class="form-control"
              id="floatingInputPassword"
              placeholder="Password"
              v-model="password.password"
            />
            <label for="floatingInputPassword">Password</label>
          </div>
          <div class="form-floating mb-3">
            <input
              :disabled="isBusy"
              type="password"
              class="form-control"
              id="floatingInputPasswordConfirmation"
              placeholder="Password Confirmation"
              v-model="password.password_confirmation"
            />
            <label for="floatingInputPasswordConfirmation"
              >Password Confirmation</label
            >
          </div>
          <div class="col-12" align="end">
            <b-button
              class="mx-2"
              @click="$bvModal.hide('change-password')"
              :disable="isBusy"
              variant="secondary"
              >Cancel</b-button
            >
            <b-button
              class="mx-2"
              @click="changePassword"
              :disable="isBusy"
              variant="warning"
              >Save</b-button
            >
          </div>
        </div>
      </b-modal>

      <b-modal
        id="deactivate-accounts"
        title="Deactive Accounts"
        hide-footer
        centered
      >
        <div class="col-12">
          <p class="mt-3 mb-4">
            Are you sure you want to deactivate all accounts?<br />
            <span class="text-warning">You can revert it anytime.</span>
          </p>
        </div>
        <div class="col-12" align="end">
          <b-button
            class="mx-2"
            @click="$bvModal.hide('deactivate-accounts')"
            :disable="isBusy"
            variant="secondary"
            >Cancel</b-button
          >
          <b-button
            class="mx-2"
            @click.prevent="deactivateOrganizationAccounts"
            :disable="isBusy"
            variant="danger"
            >Confirm</b-button
          >
        </div>
      </b-modal>

      <b-modal
        id="activate-accounts"
        title="Active Accounts"
        hide-footer
        centered
      >
        <div class="col-12">
          <p class="mt-3 mb-4">
            Are you sure you want to activate all accounts?<br />
            <span class="text-warning">You can revert it anytime.</span>
          </p>
        </div>
        <div class="col-12" align="end">
          <b-button
            class="mx-2"
            @click="$bvModal.hide('activate-accounts')"
            :disable="isBusy"
            variant="secondary"
            >Cancel</b-button
          >
          <b-button
            class="mx-2"
            @click.prevent="activateOrganizationAccounts"
            :disable="isBusy"
            variant="danger"
            >Confirm</b-button
          >
        </div>
      </b-modal>

      <b-modal
        id="activate-account"
        title="Active Account"
        hide-footer
        centered
      >
        <div class="col-12">
          <p class="mt-3 mb-4">
            Are you sure you want to active accounts?<br />
            <span class="text-warning">You can revert it anytime.</span>
          </p>
        </div>
        <div class="col-12" align="end">
          <b-button
            class="mx-2"
            @click="$bvModal.hide('activate-account')"
            :disable="isBusy"
            variant="secondary"
            >Cancel</b-button
          >
          <b-button
            class="mx-2"
            @click.prevent="activateOrganizationAccount"
            :disable="isBusy"
            variant="danger"
            >Confirm</b-button
          >
        </div>
      </b-modal>

      <b-modal
        id="deactivate-account"
        title="Deactivate Account"
        hide-footer
        centered
      >
        <div class="col-12">
          <p class="mt-3 mb-4">
            Are you sure you want to deactivate accounts?<br />
            <span class="text-warning">You can revert it anytime.</span>
          </p>
        </div>
        <div class="col-12" align="end">
          <b-button
            class="mx-2"
            @click="$bvModal.hide('deactivate-account')"
            :disable="isBusy"
            variant="secondary"
            >Cancel</b-button
          >
          <b-button
            class="mx-2"
            @click.prevent="deactivateOrganizationAccount"
            :disable="isBusy"
            variant="danger"
            >Confirm</b-button
          >
        </div>
      </b-modal>
    </div>
  </div>
</template>

<script>
export default {
  title: "MIS Admin Panel - Organization Account",
  data: function () {
    return {
      isBusy: false,
      selected: 0,
      password: {
        id: 0,
        current_password: "",
        password: "",
        password_confirmation: "",
      },
      account: {
        id: 0,
        first_name: "",
        middle_name: "",
        last_name: "",
        username: "",
        password: "",
        email: "",
        is_active: 1,
        access_level_id: 2,
        role_id: 0,
        organization_id: 0,
      },
      perPage: 8,
      currentPage: 1,
      options: [
        { value: 0, text: "All" },
        { value: 1, text: "SSC" },
        { value: 2, text: "Year Level" },
        { value: 3, text: "College " },
        { value: 4, text: "Student" },
      ],
      fields: [
        {
          key: "index",
          label: "ID",
        },
        {
          key: "name",
          label: "Name",
          thStyle: {
            width: "30em",
          },
        },
        {
          key: "username",
          label: "Username",
          thStyle: {
            width: "20em",
          },
        },
        {
          key: "email",
          label: "Email",
          thStyle: {
            width: "20em",
          },
        },
        {
          key: "organization",
          label: "Organization",
          thStyle: {
            width: "30em",
          },
        },
        {
          key: "role",
          label: "Role",
          thStyle: {
            width: "10em",
          },
        },
        {
          key: "is_active",
          label: "isActive",
          thStyle: {
            width: "10em",
          },
        },
        {
          key: "actions",
          label: "Actions",
          thStyle: { width: "25em", "text-align": "center" },
        },
      ],
    };
  },
  computed: {
    organization_accounts() {
      return this.$store.getters[
        "misOrganizationAccount/GET_ORGANIZATION_ACCOUNTS"
      ];
    },
    rows() {
      return this.organization_accounts.length;
    },
    organizations() {
      return this.$store.getters["misDashboard/GET_ORGANIZATIONS"];
    },
    roles() {
      return this.$store.getters["misDashboard/GET_ROLES"];
    },
  },
  methods: {
    filterAdminAccounts: async function () {
      await this.$store.dispatch(
        "misOrganizationAccount/FILTER_ORGANIZATION_ACCOUNTS"
      );
    },
    createOrganizationAccount: async function () {
      let validated = this.validate();
      if (validated) {
        const response = await this.$store.dispatch(
          "misOrganizationAccount/CREATE_ORGANIZATION_ACCOUNT",
          this.account
        );
        if (response.status == 200) {
          this.$toast.success("Account added.");
          this.$bvModal.hide("create-organization-account");
          this.loadData();
        }
      }
    },
    updateOrganizationAccount: async function () {
      const response = await this.$store.dispatch(
        "misOrganizationAccount/UPDATE_ORGANIZATION_ACCOUNT",
        this.account
      );
      if (response.status == 200) {
        this.$toast.success("Account updated.");
        this.$bvModal.hide("update-organization-account");
        this.loadData();
      }
    },
    deleteOrganizationAccount: async function () {
      const response = await this.$store.dispatch(
        "misOrganizationAccount/DELETE_ORGANIZATION_ACCOUNT",
        this.account.id
      );
      if (response.status == 200) {
        this.$toast.success("Account deleted.");
        this.$bvModal.hide("delete-organization-account");
        this.loadData();
      } else {
        this.$toast.error("Something wrong. Try again later.");
      }
    },
    changePassword: async function () {
      if (this.password.current_password == "") {
        return this.$toast.warning("Password is required");
      }
      if (this.password.password == "") {
        return this.$toast.warning("Password is required");
      }
      if (this.password.password_confirmation == "") {
        return this.$toast.warning("Password Confirmation is required");
      }
      if (this.password.password != this.password.password_confirmation) {
        return this.$toast.warning("Password not match");
      }
      const response = await this.$store.dispatch(
        "misOrganizationAccount/CHANGE_PASSWORD",
        this.password
      );
      if (response.status == 200) {
        if (response.data.not_match) {
          this.$toast.warning(response.data.message);
        } else {
          this.$toast.success(response.data.message);
          this.$bvModal.hide("change-password");
          this.loadData();
        }
      } else {
        this.$toast.error("Something wrong. Try again later.");
      }
    },
    async activateOrganizationAccount() {
      const response = await this.$store.dispatch(
        "misOrganizationAccount/ACTIVATE_ORGANIZATION_ACCOUNT",
        this.account.id
      );
      if (response.status == 200) {
        this.$toast.success(response.data.message);
        this.$bvModal.hide("activate-account");
        this.loadData();
      } else {
        this.$toast.error("Something wrong. Try again later.");
      }
    },
    async deactivateOrganizationAccount() {
      const response = await this.$store.dispatch(
        "misOrganizationAccount/DEACTIVATE_ORGANIZATION_ACCOUNT",
        this.account.id
      );
      if (response.status == 200) {
        this.$toast.success(response.data.message);
        this.$bvModal.hide("deactivate-account");
        this.loadData();
      } else {
        this.$toast.error("Something wrong. Try again later.");
      }
    },

    async activateOrganizationAccounts() {
      const response = await this.$store.dispatch(
        "misOrganizationAccount/ACTIVATE_ORGANIZATION_ACCOUNTS"
      );
      if (response.status == 200) {
        this.$toast.success(response.data.message);
        this.$bvModal.hide("activate-accounts");
        this.loadData();
      } else {
        this.$toast.error("Something wrong. Try again later.");
      }
    },
    async deactivateOrganizationAccounts() {
      const response = await this.$store.dispatch(
        "misOrganizationAccount/DEACTIVATE_ORGANIZATION_ACCOUNTS"
      );
      if (response.status == 200) {
        this.$toast.success(response.data.message);
        this.$bvModal.hide("deactivate-accounts");
        this.loadData();
      } else {
        this.$toast.error("Something wrong. Try again later.");
      }
    },
    showOrganizationAccount: function (item) {
      this.account = {
        id: item.id,
        organization_id: item.organization_id,
        role_id: item.role_id,
        first_name: item.first_name,
        middle_name: item.middle_name,
        last_name: item.last_name,
        username: item.username,
        email: item.email,
      };
      this.$bvModal.show("update-organization-account");
    },
    deleteAccount: function (id) {
      this.account.id = id;
      this.$bvModal.show("delete-organization-account");
    },
    validate: function () {
      if (this.account.organization_id == 0) {
        this.$toast.warning("Organization is required");
        return false;
      }
      if (this.account.position_id == 0) {
        this.$toast.warning("Position is required");
        return false;
      }
      if (this.account.first_name == 0) {
        this.$toast.warning("First Name is required");
        return false;
      }
      if (this.account.middle_name == 0) {
        this.$toast.warning("Middle Name is required");
        return false;
      }
      if (this.account.last_name == 0) {
        this.$toast.warning("Last Name is required");
        return false;
      }
      if (this.account.username == 0) {
        this.$toast.warning("Username is required");
        return false;
      }
      if (this.account.email == 0) {
        this.$toast.warning("Email is required");
        return false;
      }
      if (this.account.password == 0) {
        this.$toast.warning("Password is required");
        return false;
      }
      if (this.account.password_confirmation == 0) {
        this.$toast.warning("Password Confirmation is required");
        return false;
      }
      if (this.account.password != this.account.password_confirmation) {
        this.$toast.warning("Password not match");
        return false;
      }
      return true;
    },
    clearFields: function () {
      this.account = {
        first_name: "",
        middle_name: "",
        last_name: "",
        username: "",
        password: "",
        password_confirmation: "",
        email: "",
        is_active: 1,
        access_level_id: 2,
        role_id: 0,
        organization_id: 0,
      };
      this.account_id = 0;
      this.password = {
        current_password: "",
        password: "",
        password_confirmation: "",
      };
    },
    loadData: async function () {
      this.isBusy = !this.isBusy;
      this.clearFields();
      // await this.filterAdminAccounts();
      await this.$store.dispatch(
        "misOrganizationAccount/FETCH_ORGANIZATION_ACCOUNTS"
      );
      await this.$store.dispatch("misDashboard/FETCH_ORGANIZATIONS");
      await this.$store.dispatch("misDashboard/FETCH_ROLES");

      this.isBusy = !this.isBusy;
    },
  },
  mounted: function () {
    this.$root.$on("bv::modal::hide", () => {
      this.clearFields();
    });
    this.loadData();
  },
};
</script>