<template>
  <div class="content">
    <div class="header">
      <h1><b-icon icon="gear"></b-icon> Account Settings</h1>
      <p class="text-muted">This is the information about your account</p>
      <div v-if="isLoading">
        <div class="d-flex">
          <h3>Loading...</h3>
          <b-spinner label="Loading..."></b-spinner>
        </div>
      </div>
      <div v-else class="mt-3">
        <form @submit.prevent="updateAccount" method="post">
          <div class="row">
            <p>Basic Info</p>
            <div class="col-6">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="floatingName"
                  placeholder="Name"
                  v-model="edit.name"
                  :disabled="isEditing"
                />
                <label for="floatingName">Name</label>
              </div>
            </div>
            <div class="col-6">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="floatingUsername"
                  placeholder="Username"
                  v-model="edit.username"
                  :disabled="isEditing"
                />
                <label for="floatingUsername">Username</label>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <p>Account</p>
            <div class="col-6 align-self-center">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="floatingName"
                  placeholder="Name"
                  v-model="edit.email"
                  :disabled="isEditing"
                />
                <label for="floatingName">Email</label>
              </div>
              <p
                :class="
                  tempAccount.email_verified == 0
                    ? 'text-danger'
                    : 'text-success'
                "
              >
                This email is
                {{ tempAccount.email_verified == 0 ? "not " : "" }} verified
              </p>
            </div>
            <div class="col-3 align-self-start mt-2 justify-self-center">
              <b-button
                variant="primary"
                @click.prevent="sendEmailVerificationRequest(tempAccount.email)"
                :disabled="isSending || tempAccount.email_verified == 1"
                class="mr-3"
              >
                <div v-if="isSending">
                  <b-icon
                    icon="arrow-clockwise"
                    animation="spin-pulse"
                  ></b-icon>
                  Sending...
                </div>
                <div v-else><b-icon icon="envelope"></b-icon> Verify Email</div>
              </b-button>
            </div>
            <div class="col-12 mt-3">
              <b-button
                v-if="isEditing == false"
                @click="
                  isEditing = !isEditing;
                  edit = { ...tempAccount };
                "
                variant="secondary"
                class="ml-2"
                size="sm"
                >Cancel</b-button
              >
              <b-button
                variant="primary"
                @click="
                  isEditing = !isEditing;
                  isEditing == true ? updateAccount() : '';
                  edit = { ...tempAccount };
                "
                class="mx-2"
                size="sm"
              >
                <div v-if="isEditing == false">
                  <b-icon icon="pen"></b-icon> Save Changes
                </div>
                <div v-if="isEditing == true">
                  <b-icon icon="pen"></b-icon> Edit Account
                </div>
              </b-button>

              <b-button
                variant="danger"
                size="sm"
                v-b-tooltip.hover
                title="Change Password"
                @click="$bvModal.show('change-password')"
                class="m-2"
              >
                <b-icon icon="gear"></b-icon>
              </b-button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <b-modal id="change-password" title="Change Password" hide-footer centered>
      <div class="col-12">
        <form @submit.prevent="changePassword">
          <div class="form-floating mb-3">
            <input
              :disabled="isBusy"
              type="password"
              class="form-control"
              id="floatingInput"
              placeholder="username"
              v-model="changePass.password"
            />
            <label for="floatingInput">Password</label>
          </div>
          <div class="form-floating mb-3">
            <input
              :disabled="isBusy"
              type="password"
              class="form-control"
              id="floatingInput"
              placeholder="username"
              v-model="changePass.password_confirmation"
            />
            <label for="floatingInput">Password Confirmation</label>
          </div>
          <div class="col-12" align="end">
            <b-button
              class="mx-2"
              @click="$bvModal.hide('change-password')"
              :disable="isBusy"
              variant="secondary"
              >Cancel</b-button
            >
            <b-button
              class="mx-2"
              type="submit"
              :disable="isBusy"
              variant="warning"
              >Save</b-button
            >
          </div>
        </form>
      </div>
    </b-modal>

    <b-modal id="sent-email-modal" title="Verify Email" ok-only centered>
      <div class="col-12">
        <p>
          Email verification request sent. Check
          <strong>{{ tempAccount.email }}</strong>
        </p>
      </div>
    </b-modal>
  </div>
</template>

<script>
export default {
  title: "MIS Admin Panel - Settings",
  data: function () {
    return {
      edit: {},
      changePass: {
        password: "",
        password_confirmation: "",
      },
      tempAccount: {},
      isEditing: false,
      isBusy: false,
      isSending: false,
      isLoading: false
    };
  },
  methods: {
    updateAccount: async function () {
      const response = await this.$store.dispatch(
        "misAuth/UPDATE_ACCOUNT",
        this.edit
      );
      if (response.status == 200) {
        this.$toast.success("Account updated");
        this.isBusy = true;
        await this.$store.dispatch("misAuth/CHECK_ADMIN");
        this.isBusy = false;
      }
    },
    changePassword: async function () {
        const response = await this.$store.dispatch(
        "misAuth/CHANGE_PASSWORD",
        this.changePass
      );
      if (response.status == 200) {
        this.$toast.success("Password changed");
        this.isBusy = true;
        await this.$store.dispatch("misAuth/CHECK_ADMIN");
        this.$bvModal.hide("change-password");
        this.changePass = {
          password: '',
          password_confirmation: ''
        }
        this.isBusy = false;
      }
    },
    sendEmailVerificationRequest: async function (email) {
      this.isSending = true;
      let data = {
        email: email,
      };
      const response = await this.$store.dispatch(
        "misAuth/SEND_EMAIL_VERIFICATION",
        data
      );
      if (response.status == 200) {
        this.$bvModal.show("sent-email-modal");
      }
      this.isSending = false;
    },
  },
  mounted: async function () {
    this.isLoading = true;
    await this.$store.dispatch("misAuth/CHECK_ADMIN");
    this.isEditing = !this.isEditing;
    this.tempAccount = { ...this.$store.getters["misAuth/GET_ADMIN_USER"] };
    this.edit = { ...this.tempAccount };
    this.isLoading = false;
  },
};
</script>

<style scoped>
.content {
  padding: 20px;
}

.admin-info {
  margin-top: 3em;
}
</style>
