<template>
  <div class="content">
    <div class="header">
      <h1><b-icon icon="people"></b-icon>Student Account</h1>
    </div>
    <div class="mt-4 container-fluid">
      <div class="row">
        <b-col cols="12" class="mb-3">
          <div class="d-flex align-items-center">
            <div>
              <p class="m-0">Filter</p>
            </div>
            <div>
              <b-form-select
                class="form-select mx-2"
                v-model="selected"
                :options="options"
              ></b-form-select>
            </div>
          </div>
          <template #cell(name)="row" class="col-5">
            {{
              `${row.item.student_personal_info.first_name} ${row.item.student_personal_info.middle_name} ${row.item.student_personal_info.last_name}`
            }}
          </template>
        </b-col>

        <b-col
          cols="12"
          class="d-flex justify-content-between align-items-center"
        >
          <div class="col-4">
            <b-input-group prepend="Search">
              <b-form-input
                v-model="filterSearch"
                placeholder="Find something..."
              ></b-form-input>
            </b-input-group>
          </div>
        </b-col>

        <b-col cols="12" class="d-flex justify-content-start mt-5 mb-3">
          <div class="d-flex">
            <div>
              <b-button
                variant="danger"
                @click="$bvModal.show('deactivate-accounts')"
              >
                <b-icon icon="x-circle"></b-icon> Deactivate All
              </b-button>
            </div>
          </div>
        </b-col>
      </div>

      <b-table
        id="my-table"
        :busy="isBusy"
        :fields="fields"
        :items="student_accounts"
        :per-page="perPage"
        :current-page="currentPage"
        small
      >
        <template #cell(student_number)="row">
          <div class="text-end" style="padding-right: 20px">
            {{ row.item.student_account.student_number }}
          </div>
        </template>

        <template #cell(name)="row">
          {{
            `${row.item.student_personal_info.first_name} ${row.item.student_personal_info.middle_name} ${row.item.student_personal_info.last_name}`
          }}
        </template>

        <template #cell(status)="row">
          <div
            v-if="row.item.student_account.status == 'PENDING'"
            class="custom-badge badge-warning"
          >
            {{ row.item.student_account.status }}
          </div>

          <div
            v-else-if="row.item.student_account.status == 'DECLINED'"
            class="custom-badge badge-danger"
          >
            {{ row.item.student_account.status }}
          </div>

          <div v-else class="custom-badge badge-success">
            {{ row.item.student_account.status }}
          </div>
        </template>

        <template #cell(is_active)="row" align="center">
          <b-badge :variant="row.item.is_active ? 'success' : 'danger'">
            {{ row.item.is_active ? "Active" : "Inactive" }}</b-badge
          >
        </template>
        <template #table-busy>
          <div class="text-center text-danger my-2">
            <b-spinner class="align-middle"></b-spinner>
            <strong>&nbsp;Loading...</strong>
          </div>
        </template>
      </b-table>
      <div class="row">
        <div class="col-6">
          <b-pagination
            v-model="currentPage"
            :total-rows="rows"
            :per-page="perPage"
            aria-controls="my-table"
          ></b-pagination>
        </div>
        <div class="col-6" align="end">
          <p class="mt-3">
            Current Page: {{ currentPage }} Total Row(s): {{ rows }}
          </p>
        </div>
      </div>

      <b-modal
        id="deactivate-accounts"
        title="Deactivate Accounts"
        hide-footer
        centered
      >
        <div class="col-12">
          <p class="mt-3 mb-4 text-center">
            Are you sure you want to deactivate all accounts?
            <span class="text-danger">Only student can activate account?</span>
            <br />
            Do you wish to continue?
          </p>
        </div>
        <div class="col-12" align="end">
          <b-button
            class="mx-2"
            @click="$bvModal.hide('deactivate-accounts')"
            :disable="isBusy"
            variant="secondary"
            >Cancel</b-button
          >
          <b-button
            class="mx-2"
            @click.prevent="deactivateStudentAccounts"
            :disable="isBusy"
            variant="success"
            >Confirm</b-button
          >
        </div>
      </b-modal>

      <b-modal
        id="activate-accounts"
        title="Activate Accounts"
        hide-footer
        centered
      >
        <div class="col-12">
          <p class="mt-3 mb-4">
            Are you sure you want to activate all accounts?<br />
            <span class="text-warning">You can revert it anytime.</span>
          </p>
        </div>
        <div class="col-12" align="end">
          <b-button
            class="mx-2"
            @click="$bvModal.hide('activate-accounts')"
            :disable="isBusy"
            variant="secondary"
            >Cancel</b-button
          >
          <b-button
            class="mx-2"
            @click.prevent="activateStudentAccounts"
            :disable="isBusy"
            variant="success"
            >Confirm</b-button
          >
        </div>
      </b-modal>
    </div>
  </div>
</template>

<script>
export default {
  title: "MIS Admin Panel - Student Account",
  data: function () {
    return {
      isBusy: false,
      selected: 0,
      filterSearch: "",
      perPage: 8,
      currentPage: 1,
      options: [
        { value: 0, text: "All" },
        { value: 1, text: "SSC" },
        { value: 2, text: "Year Level" },
        { value: 3, text: "College " },
        { value: 4, text: "Student" },
      ],
      fields: [
        {
          key: "student_number",
          label: "Student Number",
          thStyle: {
            width: "10em",
            "text-align": "end",
            "padding-right": "20px",
          },
        },
        {
          key: "name",
          label: "Name",
        },
        {
          key: "status",
          label: "Status",
          thStyle: {
            width: "10em",
          },
        },
        {
          key: "is_active",
          label: "isActive",
          thStyle: {
            width: "10em",
          },
        },
      ],
    };
  },
  computed: {
    student_accounts() {
      let students = this.$store.getters[
        "misStudentAccount/GET_STUDENT_ACCOUNTS"
      ].filter((student) => {
        return student.student_account.student_number.toString();
        //   .match(this.filterSearch.toLowerCase()) ||
        // student.student_personal_info.first_name
        //   .toLowerCase()
        //   .match(this.filterSearch.toLowerCase()) ||
        // student.student_personal_info.middle_name
        //   .toLowerCase()
        //   .match(this.filterSearch.toLowerCase()) ||
        // student.student_personal_info.last_name
        //   .toLowerCase()
        //   .match(this.filterSearch.toLowerCase())
      });

      return students;
    },
    rows() {
      return this.student_accounts.length;
    },
  },
  methods: {
    filterAdminAccounts: async function () {
      await this.$store.dispatch("misStudentAccount/FILTER_ACCOUNTS");
    },
    async deactivateStudentAccounts() {
      const response = await this.$store.dispatch(
        "misStudentAccount/DEACTIVATE_STUDENT_ACCOUNTS"
      );
      if (response.status == 200) {
        this.$toast.success(response.data.message);
        this.$bvModal.hide("deactivate-accounts");
        this.loadData();
      } else {
        this.$toast.error("Something wrong. Try again later.");
      }
    },
    loadData: async function () {
      this.isBusy = true;
      // await this.filterAdminAccounts();
      await this.$store.dispatch("misStudentAccount/FETCH_STUDENT_ACCOUNTS");
      this.isBusy = false;
      this.$toast.success("Data loaded.");
    },
  },
  mounted: function () {
    this.loadData();
  },
};
</script>