<template>
  <div>
    <Minitopbar title="Account Settings" />
    <div class="content-container container-fluid mt-5 shadow">
      <b-container fluid>
        <b-row class="my-3">
          <b-col cols="5" class="p-5">
            <h1>Account</h1>
            <b-form-group
              id="input-group-username"
              label="Username"
              label-for="input-username"
            >
              <b-form-input
                id="input-username"
                v-model="user.username"
                type="text"
                placeholder="Username"
                disabled
              ></b-form-input>
            </b-form-group>

            <b-form-group
              id="input-group-email"
              label="Email"
              label-for="input-email"
              description="Notice: Make sure your email is verified so you can recieve reset password and other mails in this system."
              class="my-2"
            >
              <div class="d-flex align-items-center">
                <b-form-input
                  id="input-email"
                  v-model="data.email"
                  type="email"
                  placeholder="Email"
                  :disabled="!isEditing"
                >
                </b-form-input>

                <!-- <b-icon
                  class="mx-2 text-success"
                  icon="check-circle-fill"
                  font-scale="1.3"
                  v-b-tooltip.hover.right="'Your Email address is verified'"
                ></b-icon> -->

                <b-icon
                  class="mx-2 text-warning"
                  icon="x-circle-fill"
                  font-scale="1.3"
                  v-b-tooltip.hover.right="'Your Email address is not verified'"
                ></b-icon>

                <b-button
                  variant="primary"
                  class="d-flex justify-content-center align-items-center"
                  @click="verifyEmailRequest"
                  :disabled="isBusy"
                  v-b-tooltip.hover.right="'Verify Email'"
                >
                  <b-spinner
                    small
                    v-if="isBusy"
                    variant="light"
                    label="Spinning"
                  ></b-spinner>
                  <b-icon v-else icon="envelope"></b-icon
                ></b-button>
              </div>
            </b-form-group>

            <b-form-group
              id="input-group-account"
              label-for="input-student_number"
              class="my-3"
            >
              <b-button v-b-modal.change-password variant="primary">
                <b-icon icon="wrench"></b-icon> Change Password</b-button
              >
            </b-form-group>
          </b-col>

          <b-col cols="7" class="p-5">
            <h1>Personal Info</h1>
            <b-row>
              <b-col cols="8" class="my-2">
                <b-form-group
                  id="input-group-account"
                  label="First Name"
                  label-for="input-student_number"
                  class="mb-3"
                >
                  <b-form-input
                    id="input-1"
                    v-model="data.first_name"
                    type="text"
                    placeholder="First Name"
                    :disabled="!isEditing"
                  ></b-form-input>
                </b-form-group>

                <b-form-group
                  id="input-group-account"
                  label="Middle Name"
                  label-for="input-student_number"
                  class="my-3"
                >
                  <b-form-input
                    id="input-1"
                    v-model="data.middle_name"
                    type="text"
                    placeholder="Middle Name"
                    :disabled="!isEditing"
                  ></b-form-input>
                </b-form-group>

                <b-form-group
                  id="input-group-account"
                  label="Last Name"
                  label-for="input-student_number"
                  class="my-3"
                >
                  <b-form-input
                    id="input-1"
                    v-model="data.last_name"
                    type="text"
                    placeholder="Last Name"
                    :disabled="!isEditing"
                  ></b-form-input>
                </b-form-group>
              </b-col>

              <b-col
                cols="4"
                class="
                  d-flex
                  flex-column
                  justify-content-center
                  align-items-center
                "
              >
                <b-avatar
                  class="shadow"
                  :src="
                    image_preview == null
                      ? `http://localhost:8000${user.profile_image}`
                      : image_preview
                  "
                  size="10rem"
                ></b-avatar>
                <div class="align-self-start">
                  <input
                    @change="imageSelected"
                    :disabled="!isEditing"
                    type="file"
                    class="mt-3 mx-3 form-control form-control-sm"
                    accept="image/*"
                  />
                </div>
              </b-col>
            </b-row>
          </b-col>

          <b-col cols="12" class="mt-5 px-5 d-flex align-items-center">
            <b-button
              v-if="isEditing"
              @click="resetInfo"
              style="width: 100px"
              variant="secondary"
              class="mx-2"
              >Cancel</b-button
            >

            <b-button
              v-if="isEditing"
              style="width: 100px"
              variant="primary"
              @click="updateAccount"
              ><b-icon icon="upload"></b-icon> Save</b-button
            >
            <b-button
              v-else
              style="width: 100px"
              variant="primary"
              @click="isEditing = !isEditing"
              ><b-icon icon="pen"></b-icon> Edit</b-button
            >
          </b-col>
        </b-row>
      </b-container>
    </div>
  </div>
</template>

<script>
import Minitopbar from "@/components/Student/Minitopbar.vue";

export default {
  components: { Minitopbar },
  data() {
    return {
      data: {
        email: "",
        first_name: "",
        middle_name: "",
        last_name: "",
        profile_image: null,
      },
      password: {
        current_password: "",
        password: "",
        password_confirmation: "",
      },
      isEditing: false,
      isBusy: false,
      image_preview: null,
    };
  },
  computed: {
    user() {
      return this.$store.getters["authAdmin/GET_ADMIN_USER"];
    },
  },
  methods: {
    imageSelected(e) {
      this.data.profile_image = e.target.files[0];
      let reader = new FileReader();
      reader.readAsDataURL(this.data.profile_image);
      reader.onload = (e) => {
        this.image_preview = e.target.result;
      };
    },
    async verifyEmailRequest() {},

    fillData(user) {
      this.data.email = user.email;
      this.data.profile_image = user.profile_image;
      this.data.first_name = user.first_name;
      this.data.middle_name = user.middle_name;
      this.data.last_name = user.last_name;
    },
    resetInfo() {
      this.isEditing = !this.isEditing;
      this.fillData(this.user);
    },
  },

  created() {
    this.fillData(this.user);
  },
};
</script>

<style>
</style>