<template>
  <div>
    <div class="mt-2 d-flex justify-content-between align-items-center mx-5">
      <h3 class="font-weight-bold">Account Request</h3>
      <div class="d-flex">
        <b-form-input
          v-model="filterSearch"
          class="me-3"
          id="input-default"
          placeholder="Find Something..."
        ></b-form-input>

        <b-form-select
          style="width: 15rem"
          class="form-select"
          @change="filteredStudentByOptions"
          v-model="filterSelected"
          :options="filterOptions"
        >
        </b-form-select>
      </div>
    </div>

    <table class="custom-ar-table">
      <thead class="shadow rounded-pill custom-ar-thead">
        <tr class="">
          <th style="padding-left: 20px">Student Number</th>
          <th style="padding-right: 200px">Name</th>
          <th
            v-if="user.role.id == 2 || user.role.id == 3"
            style="padding-right: 30px"
          >
            Request Status
          </th>
          <th style="padding-right: 10px">isActive</th>
          <th
            v-if="user.role.id == 2 || user.role_id == 3"
            style="padding-left: 150px"
          >
            Action
          </th>
        </tr>
      </thead>
      <tbody class="custom-ar-tbody">
        <tr
          class="rounded-pill shadow"
          v-for="student in students"
          :key="student.id"
        >
          <td style="padding-left: 20px">
            {{ student.student_account.student_number }}
          </td>
          <td>
            {{
              `${student.student_personal_info.last_name}, ${student.student_personal_info.first_name} ${student.student_personal_info.middle_name}`
            }}
          </td>
          <td v-if="user.role.id == 2 || user.role.id == 3">
            <span
              class="custom-badge"
              :class="
                student.student_account.status == 'APPROVED'
                  ? 'badge-success'
                  : student.student_account.status == 'DECLINED'
                  ? 'badge-danger'
                  : 'badge-warning'
              "
            >
              {{ student.student_account.status }}
            </span>
          </td>

          <td>
            <span
              class="custom-badge"
              :class="
                student.is_active == 1
                  ? 'badge-success'
                  : student.is_active == 0
                  ? 'badge-danger'
                  : 'badge-warning'
              "
            >
              {{ student.is_active == 1 ? "ACTIVE" : "INACTIVE" }}
            </span>
          </td>
          <td
            class="d-flex justify-content-center align-items-center mt-3"
            v-if="
              student.student_account.status == 'PENDING' &&
              (user.role.id == 2 || user.role_id == 3)
            "
          >
            <b-button class="shadow mx-2" size="sm" variant="none">
              <i class="fas fa-info"></i>
            </b-button>
            <b-button
              size="sm"
              variant="light"
              class="rounded-pill shadow mx-2"
              @click.prevent="
                $bvModal.show('approveAccountModal');
                student_number = student.student_number;
                id = student.id;
              "
            >
              <img
                src="@/assets/img/ic_check.svg"
                style="width: 20px; height: 15px"
                alt=""
                srcset=""
              />
              Approve</b-button
            >
            <b-button
              size="sm"
              variant="light"
              class="rounded-pill shadow mx-2"
              @click.prevent="
                $bvModal.show('disapproveAccountModal');
                student_number = student.student_number;
                id = student.id;
              "
            >
              <img
                src="@/assets/img/ic_ex.svg"
                style="width: 20px; height: 20px"
                alt=""
                srcset=""
              />Disapprove</b-button
            >
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Approve Confirm modal -->
    <b-modal
      id="approveAccountModal"
      ok-title="Approve"
      ok-variant="success"
      title="Approve Account"
      @ok.prevent="approveAccount"
    >
      <p class="text-center">Are you sure you want to approve this account?</p>
    </b-modal>
    <!-- Disapprove Confirm modal -->
    <b-modal
      id="disapproveAccountModal"
      ok-title="Disapprove"
      ok-variant="danger"
      title="Disapprove Account"
      @ok.prevent="declineAccount"
    >
      <p class="text-center">
        Are you sure you want to disapprove this account?
      </p>
    </b-modal>
  </div>
</template>

<script>
export default {
  data() {
    return {
      filterSelected: null,
      student_number: "",
      filterSearch: "",
      id: "",

      filterOptions: [
        { value: null, text: "Filter by", disabled: true },
        { value: "ALL", text: "ALL Request" },
        { value: "PENDING", text: "Pending" },
        { value: "APPROVED", text: "Approved" },
        { value: "DECLINED", text: "Declined" },
      ],
    };
  },

  methods: {
    async approveAccount() {
      const res = await this.$store.dispatch("adminOrgStudentAccount/APPROVE", {
        data: this.student_number,
        id: this.id,
      });
      if (res.status == 200) {
        this.$bvModal.hide("approveAccountModal");
        this.$toast.success(res.data.message);
        await this.$store.dispatch("adminOrgStudentAccount/FETCH_STUDENTS");
      }
      console.log(this.student_number);
    },
    async declineAccount() {
      const res = await this.$store.dispatch(
        "adminOrgStudentAccount/DISAPPROVE",
        {
          data: this.student_number,
          id: this.id,
        }
      );
      if (res.status == 200) {
        this.$bvModal.hide("disapproveAccountModal");
        this.$toast.warning(res.data.message);
        await this.$store.dispatch("adminOrgStudentAccount/FETCH_STUDENTS");
      }
      console.log(this.student_number);
    },

    filteredStudentByOrg(students) {
      return students.filter((student) => {
        return (
          student.organization_filter.ssc == this.user.organzation_id ||
          student.organization_filter.collge == this.user.organzation_id ||
          student.organization_filter.course == this.user.organzation_id ||
          student.organization_filter.year_level == this.user.organzation_id
        );
      });
    },
    filteredStudentByOptions(students) {
      return this.filterSelected == null || this.filterSelected == "ALL"
        ? students
        : students.filter((student) => {
            return student.student_account.status == this.filterSelected;
          });
    },
  },
  computed: {
    user() {
      return this.$store.getters["authAdmin/GET_ADMIN_USER"];
    },
    students() {
      let students = this.filteredStudentByOrg(
        this.filteredStudentByOptions(
          this.$store.getters["adminOrgStudentAccount/GET_STUDENTS"]
        )
      );

      return students.filter((student) => {
        return (
          student.student_account.student_number
            .toString()
            .match(this.filterSearch.toLowerCase()) ||
          student.student_personal_info.first_name
            .toLowerCase()
            .match(this.filterSearch.toLowerCase()) ||
          student.student_personal_info.middle_name
            .toLowerCase()
            .match(this.filterSearch.toLowerCase()) ||
          student.student_personal_info.last_name
            .toLowerCase()
            .match(this.filterSearch.toLowerCase())
        );
      });
    },
  },
  async mounted() {
    await this.$store.dispatch("adminOrgStudentAccount/FETCH_STUDENTS");
  },
};
</script>

<style>
</style>