<template>
  <div>
    <b-button
      class="add-announcement shadow mt-3"
      variant="none"
      @click="$bvModal.show('addAnnouncementModal')"
    >
      <img src="@/assets/img/ic_add.svg" class="mx-2" />
      Post New Announcement
    </b-button>
    <div class="mt-5 content-container shadow">
      <div class="row p-3 justify-content-center">
        <b-skeleton-wrapper :loading="loading">
          <template #loading>
            <div>
              <b-skeleton width="100%"></b-skeleton>
              <b-skeleton width="100%"></b-skeleton>
              <b-skeleton width="100%"></b-skeleton>
              <b-skeleton width="100%"></b-skeleton>
              <br />
              <b-skeleton width="100%"></b-skeleton>
              <b-skeleton width="100%"></b-skeleton>
              <b-skeleton width="100%"></b-skeleton>
              <b-skeleton width="100%"></b-skeleton>
              <br />
              <b-skeleton width="100%"></b-skeleton>
              <b-skeleton width="100%"></b-skeleton>
              <b-skeleton width="100%"></b-skeleton>
              <b-skeleton width="100%"></b-skeleton>
              <br />
              <b-skeleton width="100%"></b-skeleton>
              <b-skeleton width="100%"></b-skeleton>
              <b-skeleton width="100%"></b-skeleton>
              <b-skeleton width="100%"></b-skeleton>
              <br />
              <b-skeleton width="100%"></b-skeleton>
              <b-skeleton width="100%"></b-skeleton>
              <b-skeleton width="100%"></b-skeleton>
              <b-skeleton width="100%"></b-skeleton>
              <br />
              <b-skeleton width="100%"></b-skeleton>
              <b-skeleton width="100%"></b-skeleton>
              <b-skeleton width="100%"></b-skeleton>
              <b-skeleton width="100%"></b-skeleton>
            </div>
          </template>

          <div
            class="
              w-100
              h-100
              mt-5
              d-flex
              flex-column
              justify-content-center
              align-items-center
            "
            v-if="announcements.length == 0"
          >
            <img style="width: 500px" src="@/assets/img/empty.svg" />
            <h4 class="my-3">No Announcement</h4>
          </div>

          <div
            v-else
            class="col-12 shadow p-3 mb-3"
            v-for="announcement in announcements"
            :key="announcement.id"
          >
            <div class="d-flex justify-content-between align-items-center my-2">
              <div class="d-flex justify-content-center align-items-center">
                <h3>
                  {{
                    announcement.title.length > 5
                      ? announcement.title.substring(0, 100) + "..."
                      : announcement.title
                  }}
                </h3>

                <b-button
                  class="mx-2"
                  variant="light"
                  @click="viewAnnouncement(announcement.slug)"
                  ><b-icon icon="info"></b-icon
                ></b-button>
              </div>
              <div>
                <b-button
                  class="mx-2"
                  variant="light"
                  @click="
                    $bvModal.show('deleteAnnouncementModal');
                    id = announcement.id;
                  "
                  ><i class="fas fa-trash-alt"></i
                ></b-button>

                <b-button
                  class="mx-2"
                  variant="light"
                  @click="showUpdateAnnouncement(announcement)"
                  ><i class="fas fa-pen-alt"></i
                ></b-button>
              </div>
            </div>
            <div>
              <p class="text-justify">
                {{ `${announcement.description.substring(0, 20)}...` }}
              </p>

              <small class="text-muted"
                >Added: {{ announcement.created_at | moment }} <br />
                Last edited: {{ announcement.updated_at | moment }}</small
              >
            </div>
          </div>
        </b-skeleton-wrapper>
      </div>
    </div>
    <!-- New Announcement modal -->
    <b-modal
      id="addAnnouncementModal"
      title="New Announcement"
      header-class="announcement-header"
      header-close-variant="danger"
      footer-class="announcement-footer"
      @ok="$bvModal.hide('addAnnouncementModal')"
      @cancel.prevent="postAnnouncement"
      cancel-title="POST"
      cancel-variant="warning"
      ok-title="CANCEL"
      ok-variant="warning"
      hide-header-close
      size="lg"
    >
      <div>
        <b-form-group
          class="mb-3"
          id="fieldset-1"
          label="Title"
          label-for="input-1"
        >
          <input
            type="text"
            id="input-1"
            class="form-control"
            v-model="announcement.title"
          />
        </b-form-group>
      </div>
      <div>
        <b-form-group
          class="mb-3"
          id="fieldset-2"
          label="Description"
          label-for="input-2"
        >
          <input
            type="text"
            id="input-2"
            class="form-control"
            v-model="announcement.description"
          />
        </b-form-group>
      </div>

      <div>
        <b-form-group id="fieldset-3" label="Content" label-for="input-3">
          <vue-editor
            id="input-3"
            v-model="announcement.content"
            :editor-toolbar="customToolbar"
          />
        </b-form-group>
      </div>
    </b-modal>

    <!-- Update Announcement modal -->
    <b-modal
      id="updateAnnouncementModal"
      title="Update Announcement"
      header-class="announcement-header"
      header-close-variant="danger"
      footer-class="announcement-footer"
      @ok="$bvModal.hide('updateAnnouncementModal')"
      @cancel.prevent="updateAnnouncement"
      cancel-title="UPDATE"
      cancel-variant="warning"
      ok-title="CANCEL"
      ok-variant="warning"
      hide-header-close
      size="lg"
    >
      <div>
        <b-form-group
          class="mb-3"
          id="fieldset-1"
          label="Title"
          label-for="input-1"
        >
          <input
            type="text"
            id="input-1"
            class="form-control"
            v-model="announcement.title"
          />
        </b-form-group>
      </div>
      <div>
        <b-form-group
          class="mb-3"
          id="fieldset-2"
          label="Description"
          label-for="input-2"
        >
          <input
            type="text"
            id="input-2"
            class="form-control"
            v-model="announcement.description"
          />
        </b-form-group>
      </div>
      <div>
        <b-form-group id="fieldset-1" label="Content" label-for="input-1">
          <vue-editor
            v-model="announcement.content"
            :editor-toolbar="customToolbar"
          />
        </b-form-group>
      </div>
    </b-modal>

    <!-- Delete Announcement modal -->
    <b-modal
      id="deleteAnnouncementModal"
      title="Delete Announcement"
      header-class="announcement-header"
      header-close-variant="danger"
      footer-class="announcement-footer"
      @ok="$bvModal.hide('deleteAnnouncementModal')"
      @cancel.prevent="deleteAnnouncement"
      cancel-title="DELETE"
      cancel-variant="warning"
      ok-title="CANCEL"
      ok-variant="warning"
      hide-header-close
    >
      <p>Are you sure you want to delete this announcement?</p>
    </b-modal>
  </div>
</template>

<script>
import moment from "moment";
import { VueEditor } from "vue2-editor";
export default {
  components: { VueEditor },
  filters: {
    moment: function (date) {
      return moment(date).format("LLL");
    },
  },
  data() {
    return {
      announcement: {
        title: "",
        description: "",
        content: "",
      },
      id: "",
      loading: false,

      // MISC
      customToolbar: [
        [{ header: [false, 1, 2, 3, 4, 5, 6] }],
        ["bold", "italic", "underline", "strike"], // toggled buttons
        [
          { align: "" },
          { align: "center" },
          { align: "right" },
          { align: "justify" },
        ],
        ["blockquote"],
        [{ list: "ordered" }, { list: "bullet" }, { list: "check" }],
        [{ indent: "-1" }, { indent: "+1" }], // outdent/indent
        [{ color: [] }, { background: [] }], // dropdown with defaults from theme
        ["link", "image", "video"],
      ],
    };
  },
  computed: {
    announcements() {
      return this.$store.getters["adminOrgAnnouncement/GET_ANNOUNCEMENTS"];
    },
  },
  methods: {
    resetData() {
      this.announcement = {
        title: "",
        description: "",
        content: "",
      };
    },
    viewAnnouncement(slug) {
      this.$router.push({
        name: "View Announcement",
        params: { slug: slug },
      });
    },
    showUpdateAnnouncement(announcement) {
      this.$bvModal.show("updateAnnouncementModal");
      this.id = announcement.id;
      this.announcement = { ...announcement };
    },
    async postAnnouncement() {
      if (this.announcement.title == "")
        return this.$toast.success("Title is required");
      if (this.announcement.description == "")
        return this.$toast.success("Description is required");
      if (this.announcement.content == "")
        return this.$toast.success("Content is required");

      const response = await this.$store.dispatch(
        "adminOrgAnnouncement/STORE_ANNOUNCEMENT",
        this.announcement
      );
      if (response.status == 200) {
        this.$bvModal.hide("addAnnouncementModal");
        this.$toast.success(response.data.message);
        await this.$store.dispatch("adminOrgAnnouncement/FETCH_ANNOUNCEMENT");
      }
    },
    async updateAnnouncement() {
      if (this.announcement.title == "")
        return this.$toast.success("Title is required");
      if (this.announcement.description == "")
        return this.$toast.success("Description is required");
      if (this.announcement.content == "")
        return this.$toast.success("Content is required");
      const response = await this.$store.dispatch(
        "adminOrgAnnouncement/UPDATE_ANNOUNCEMENT",
        {
          data: this.announcement,
          id: this.id,
        }
      );
      if (response.status == 200) {
        this.$bvModal.hide("updateAnnouncementModal");
        this.$toast.success(response.data.message);
        await this.$store.dispatch("adminOrgAnnouncement/FETCH_ANNOUNCEMENT");
      }
    },
    async deleteAnnouncement() {
      const response = await this.$store.dispatch(
        "adminOrgAnnouncement/DELETE_ANNOUNCEMENT",
        this.id
      );
      if (response.status == 200) {
        this.$bvModal.hide("deleteAnnouncementModal");
        this.$toast.success(response.data.message);
        await this.$store.dispatch("adminOrgAnnouncement/FETCH_ANNOUNCEMENT");
      }
    },
  },
  async mounted() {
    this.loading = true;
    await this.$store.dispatch("adminOrgAnnouncement/FETCH_ANNOUNCEMENT");
    this.loading = false;
    this.$root.$on("bv::modal::show", (bvEvent, modalId) => {
      if (modalId == "addAnnouncementModal") {
        this.resetData();
      }
    });
  },
};
</script>

<style>
</style>