<template>
  <div>
    <div class="d-flex flex-column justify-content-evenly dashboard">
      <div class="mx-4 mb-3 d-flex justify-content-between">
        <h1>Dashboard</h1>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 my-2">
            <div class="row">
              <div class="col d-flex mt-3 mb-4">
                <div class="status-card">
                  <div class="info">
                    <h4 class="title">Announcement</h4>
                    <b-skeleton-wrapper :loading="loading">
                      <template #loading>
                        <p>
                          <b-skeleton width="65%"></b-skeleton>
                          <b-skeleton width="55%"></b-skeleton>
                        </p>
                      </template>

                      <p class="sub-title">{{ announcement_count }}</p>
                    </b-skeleton-wrapper>
                  </div>
                  <div class="logo">
                    <b-icon
                      class="icon"
                      variant="primary"
                      icon="inbox"
                    ></b-icon>
                  </div>
                </div>

                <div class="status-card">
                  <div class="info">
                    <h4 class="title">Student</h4>
                    <b-skeleton-wrapper :loading="loading">
                      <template #loading>
                        <p>
                          <b-skeleton width="65%"></b-skeleton>
                          <b-skeleton width="55%"></b-skeleton>
                        </p>
                      </template>

                      <p class="sub-title">{{ student_count }}</p>
                    </b-skeleton-wrapper>
                  </div>
                  <div class="logo">
                    <b-icon
                      class="icon"
                      variant="success"
                      icon="people"
                    ></b-icon>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 shadow">
            <div class="pt-3 px-3 d-flex justify-content-between">
              <div>
                <h3>Election</h3>
              </div>

              <div>
                <b-button
                  variant="primary"
                  size="sm"
                  @click="$bvModal.show('candidatesModal')"
                >
                  <b-icon icon="bar-chart"></b-icon> Info</b-button
                >
              </div>
            </div>
            <div style="height: 40vh" class="p-5">
              <div class="w-100 h-100 d-flex justify-content-center align-items-center" v-if="loading">
                <p class="m-0">
                  Loading...
                </p>
                <b-spinner class="ms-2" type="grow" label="Spinning"></b-spinner>
              </div>

              <div class="w-100 h-100 d-flex justify-content-center align-items-center" v-else-if="loading == false && presidents.data.length == 0">
                 No Election started
              </div>
              <div v-else>
                <BarChart
                  ref="chart"
                  :style="chartStyle"
                  :chart-data="chartData"
                  :options="options"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <b-modal
      id="candidatesModal"
      title="VOTE COUNT"
      header-class="announcement-header"
      header-close-variant="danger"
      footer-class="announcement-footer"
      @ok="$bvModal.hide('candidatesModal')"
      cancel-title="ADD"
      cancel-variant="warning"
      ok-title="Close"
      ok-variant="warning"
      ok-only
      size="lg"
      hide-header-close
      scrollable
    >
      <div class="container-fluid">
        <div class="row">
          <div class="col-6 p-3">
            <div><h1>President</h1></div>
            <div class="row">
              <div class="col-10">
                <div
                  v-for="(president, index) in candidates[0].candidates"
                  :key="index"
                >
                  <p class="m-0">
                    <strong>
                      {{
                        president.student.student_personal_info.last_name
                      }}</strong
                    >,
                    {{ president.student.student_personal_info.first_name }} ({{
                      president.student.student_school_info.year_level
                        .year_level
                    }}) - <strong> {{ president.vote_infos_count }} </strong>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-6 p-3">
            <div><h1>Vice President</h1></div>
            <div class="row">
              <div class="col-10">
                <div
                  v-for="(vicepresident, index) in candidates[1].candidates"
                  :key="index"
                >
                  <p class="m-0">
                    <strong>
                      {{
                        vicepresident.student.student_personal_info.last_name
                      }}</strong
                    >,
                    {{ vicepresident.student.student_personal_info.first_name }}
                    ({{
                      vicepresident.student.student_school_info.year_level
                        .year_level
                    }}) -
                    <strong> {{ vicepresident.vote_infos_count }} </strong>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-6 p-3">
            <div><h1>Secretary</h1></div>
            <div class="row">
              <div class="col-10">
                <div
                  v-for="(secretary, index) in candidates[2].candidates"
                  :key="index"
                >
                  <p class="m-0">
                    <strong>
                      {{
                        secretary.student.student_personal_info.last_name
                      }}</strong
                    >,
                    {{ secretary.student.student_personal_info.first_name }}
                    ({{
                      secretary.student.student_school_info.year_level
                        .year_level
                    }}) -
                    <strong> {{ secretary.vote_infos_count }} </strong>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-6 p-3">
            <div><h1>Auditor</h1></div>
            <div class="row">
              <div class="col-10">
                <div
                  v-for="(auditor, index) in candidates[3].candidates"
                  :key="index"
                >
                  <p class="m-0">
                    <strong>
                      {{
                        auditor.student.student_personal_info.last_name
                      }}</strong
                    >,
                    {{ auditor.student.student_personal_info.first_name }}
                    ({{
                      auditor.student.student_school_info.year_level.year_level
                    }}) -
                    <strong> {{ auditor.vote_infos_count }} </strong>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-6 p-3">
            <div><h1>Treasurer</h1></div>
            <div class="row">
              <div class="col-10">
                <div
                  v-for="(treasurer, index) in candidates[4].candidates"
                  :key="index"
                >
                  <p class="m-0">
                    <strong>
                      {{
                        treasurer.student.student_personal_info.last_name
                      }}</strong
                    >,
                    {{ treasurer.student.student_personal_info.first_name }}
                    ({{
                      treasurer.student.student_school_info.year_level
                        .year_level
                    }}) -
                    <strong> {{ treasurer.vote_infos_count }} </strong>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-6 p-3">
            <div><h1>P.I.O</h1></div>
            <div class="row">
              <div class="col-10">
                <div
                  v-for="(pio, index) in candidates[5].candidates"
                  :key="index"
                >
                  <p class="m-0">
                    <strong>
                      {{ pio.student.student_personal_info.last_name }}</strong
                    >,
                    {{ pio.student.student_personal_info.first_name }}
                    ({{
                      pio.student.student_school_info.year_level.year_level
                    }}) -
                    <strong> {{ pio.vote_infos_count }} </strong>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </b-modal>
  </div>
</template>

<script>
import BarChart from "@/components/BarChart";
export default {
  components: { BarChart },
  data() {
    return {
      loading: false,
      chartData: null,
      options: null,
      chartSize: {
        height: 80,
        width: 100,
      },
    };
  },
  computed: {
    chartStyle() {
      return {
        height: `300px`,
        width: `${this.chartSize.width}%`,
        position: "relative",
      };
    },
    user() {
      return this.$store.getters["authAdmin/GET_ADMIN_USER"];
    },
    announcement_count() {
      return this.$store.getters["adminOrgDashboard/GET_ANNOUNCEMENT_COUNT"];
    },
    student_count() {
      return this.$store.getters["adminOrgDashboard/GET_STUDENT_COUNT"];
    },
    presidents() {
      return this.$store.getters["adminOrgDashboard/GET_VOTE_COUNT"].presidents;
    },
    candidates() {
      return this.$store.getters["adminOrgDashboard/GET_VOTE_COUNT"].candidates;
    },
  },
  async mounted() {
    this.loading = !this.loading;
    await this.$store.dispatch("adminOrgDashboard/FETCH_STUDENT_COUNT");
    await this.$store.dispatch("adminOrgDashboard/FETCH_VOTE_COUNT");
    await this.$store.dispatch("adminOrgDashboard/FETCH_ANNOUNCEMENT_COUNT");
    try {
      this.chartData = {
        labels: this.presidents.labels,
        datasets: [
          {
            borderWidth: 1,
            backgroundColor: [
              "rgba(3, 227, 252, 0.2)",
              "rgba(191, 68, 68, 0.58)",
              "rgba(148, 184, 115, 0.58)",
            ],
            pointBorderColor: "#2554FF",
            data: this.presidents.data,
          },
        ],
      };

      this.options = {
        responsive: true,
        maintainAspectRatio: false,
        legend: false,
        scales: {
          yAxes: [
            {
              ticks: {
                fontColor: "black",
                fontSize: 12,
                autoSkip: false,
                padding: -250,
                stacked: true,
                beginAtZero: true,
              },
            },
          ],
          xAxes: [
            {
              ticks: {
                beginAtZero: true,
                min: 0,
                max: 1000,
              },
            },
          ],
        },
      };

      this.loading = !this.loading;
    } catch (e) {
      console.error(e);
    }
  },
};
</script>

<style>
</style>