<template>
  <div>
    <Minitopbar :title="$route.params.title" />
    <div
      class="
        content-container
        d-flex
        flex-column
        justify-content-center
        align-items-center
        container-fluid
        mt-5
        shadow-lg
      "
    >
      <div
        class="
          col-12
          mt-3
          mx-3
          d-flex
          justify-content-between
          align-items-center
        "
      >
        <h1>{{ positionTitles[page] }}</h1>
      </div>
      <!-- President -->
      <div v-if="page == 0" class="candidates-section">
        <swiper class="swiper" :options="swiperOption">
          <swiper-slide
            class="shadow-lg"
            v-for="president in candidates[0].candidates"
            :key="president.id"
          >
            <div
              class="party-list-strip"
              :style="{ backgroundColor: randomColor() }"
            ></div>

            <div class="candidate-info">
              <b-avatar
                :src="`http://localhost:8000${president.student.student_personal_info.profile_image}`"
                class="shadow mt-5"
                size="12rem"
              >
              </b-avatar>
              <div class="align-self-center">
                <h1 class="text-dark">
                  {{ president.vote_infos_count }}
                </h1>
              </div>
              <div class="align-self-start ps-3 mb-2">
                <div class="text-dark w-100">
                  <h1 class="fw-bold">
                    {{
                      president.student.student_personal_info.last_name.toUpperCase()
                    }}
                  </h1>
                </div>
                <div
                  class="
                    text-dark
                    w-100
                    d-flex
                    justify-content-center
                    align-items-center
                  "
                >
                  <h3>
                    {{
                      `${president.student.student_personal_info.first_name}`
                    }}
                  </h3>
                  <h5 class="text-muted">
                    {{
                      `(${president.student.student_school_info.year_level.year_level})`
                    }}
                  </h5>
                </div>
              </div>
            </div>
          </swiper-slide>
        </swiper>
      </div>

      <div v-if="page == 1" class="candidates-section">
        <swiper class="swiper" :options="swiperOption">
          <swiper-slide
            class="shadow-lg"
            v-for="vice_pres in candidates[1].candidates"
            :key="vice_pres.id"
          >
            <div
              class="party-list-strip"
              :style="{ backgroundColor: randomColor() }"
            ></div>

            <div class="candidate-info">
              <b-avatar
                :src="`http://localhost:8000${vice_pres.student.student_personal_info.profile_image}`"
                class="shadow mt-5"
                size="12rem"
              >
              </b-avatar>
              <div class="align-self-center">
                <h1 class="text-dark">
                  {{ vice_pres.vote_infos_count }}
                </h1>
              </div>
              <div class="align-self-start ps-3 mb-2">
                <div class="text-dark w-100">
                  <h1 class="fw-bold">
                    {{
                      vice_pres.student.student_personal_info.last_name.toUpperCase()
                    }}
                  </h1>
                </div>
                <div
                  class="
                    text-dark
                    w-100
                    d-flex
                    justify-content-center
                    align-items-center
                  "
                >
                  <h3>
                    {{
                      `${vice_pres.student.student_personal_info.first_name}`
                    }}
                  </h3>
                  <h5 class="text-muted">
                    {{
                      `(${vice_pres.student.student_school_info.year_level.year_level})`
                    }}
                  </h5>
                </div>
              </div>
            </div>
          </swiper-slide>
        </swiper>
      </div>

      <div v-if="page == 2" class="candidates-section">
        <swiper class="swiper" :options="swiperOption">
          <swiper-slide
            class="shadow-lg"
            v-for="secretary in candidates[2].candidates"
            :key="secretary.id"
          >
            <div
              class="party-list-strip"
              :style="{ backgroundColor: randomColor() }"
            ></div>

            <div class="candidate-info">
              <b-avatar
                :src="`http://localhost:8000${secretary.student.student_personal_info.profile_image}`"
                class="shadow mt-5"
                size="12rem"
              >
              </b-avatar>
              <div class="align-self-center">
                <h1 class="text-dark">
                  {{ secretary.vote_infos_count }}
                </h1>
              </div>
              <div class="align-self-start ps-3 mb-2">
                <div class="text-dark w-100">
                  <h1 class="fw-bold">
                    {{
                      secretary.student.student_personal_info.last_name.toUpperCase()
                    }}
                  </h1>
                </div>
                <div
                  class="
                    text-dark
                    w-100
                    d-flex
                    justify-content-center
                    align-items-center
                  "
                >
                  <h3>
                    {{
                      `${secretary.student.student_personal_info.first_name}`
                    }}
                  </h3>
                  <h5 class="text-muted">
                    {{
                      `(${secretary.student.student_school_info.year_level.year_level})`
                    }}
                  </h5>
                </div>
              </div>
            </div>
          </swiper-slide>
        </swiper>
      </div>

      <div v-if="page == 3" class="candidates-section">
        <swiper class="swiper" :options="swiperOption">
          <swiper-slide
            class="shadow-lg"
            v-for="auditor in candidates[3].candidates"
            :key="auditor.id"
          >
            <div
              class="party-list-strip"
              :style="{ backgroundColor: randomColor() }"
            ></div>

            <div class="candidate-info">
              <b-avatar
                :src="`http://localhost:8000${auditor.student.student_personal_info.profile_image}`"
                class="shadow mt-5"
                size="12rem"
              >
              </b-avatar>
              <div class="align-self-center">
                <h1 class="text-dark">
                  {{ pio.vote_infos_count }}
                </h1>
              </div>
              <div class="align-self-start ps-3 mb-2">
                <div class="text-dark w-100">
                  <h1 class="fw-bold">
                    {{
                      auditor.student.student_personal_info.last_name.toUpperCase()
                    }}
                  </h1>
                </div>
                <div
                  class="
                    text-dark
                    w-100
                    d-flex
                    justify-content-center
                    align-items-center
                  "
                >
                  <h3>
                    {{ `${auditor.student.student_personal_info.first_name}` }}
                  </h3>
                  <h5 class="text-muted">
                    {{
                      `(${auditor.student.student_school_info.year_level.year_level})`
                    }}
                  </h5>
                </div>
              </div>
            </div>
          </swiper-slide>
        </swiper>
      </div>

      <div v-if="page == 4" class="candidates-section">
        <swiper class="swiper" :options="swiperOption">
          <swiper-slide
            class="shadow-lg"
            v-for="treasurer in candidates[4].candidates"
            :key="treasurer.id"
          >
            <div
              class="party-list-strip"
              :style="{ backgroundColor: randomColor() }"
            ></div>

            <div class="candidate-info">
              <b-avatar
                :src="`http://localhost:8000${treasurer.student.student_personal_info.profile_image}`"
                class="shadow mt-5"
                size="12rem"
              >
              </b-avatar>
              <div class="align-self-center">
                <h1 class="text-dark">
                  {{ treasurer.vote_infos_count }}
                </h1>
              </div>
              <div class="align-self-start ps-3 mb-2">
                <div class="text-dark w-100">
                  <h1 class="fw-bold">
                    {{
                      treasurer.student.student_personal_info.last_name.toUpperCase()
                    }}
                  </h1>
                </div>
                <div
                  class="
                    text-dark
                    w-100
                    d-flex
                    justify-content-center
                    align-items-center
                  "
                >
                  <h3>
                    {{
                      `${treasurer.student.student_personal_info.first_name}`
                    }}
                  </h3>
                  <h5 class="text-muted">
                    {{
                      `(${treasurer.student.student_school_info.year_level.year_level})`
                    }}
                  </h5>
                </div>
              </div>
            </div>
          </swiper-slide>
        </swiper>
      </div>

      <div v-if="page == 5" class="candidates-section">
        <swiper class="swiper" :options="swiperOption">
          <swiper-slide
            class="shadow-lg"
            v-for="pio in candidates[5].candidates"
            :key="pio.id"
          >
            <div
              class="party-list-strip"
              :style="{ backgroundColor: randomColor() }"
            ></div>

            <div class="candidate-info">
              <b-avatar
                :src="`http://localhost:8000${pio.student.student_personal_info.profile_image}`"
                class="shadow mt-5"
                size="12rem"
              >
              </b-avatar>
              <div class="align-self-center">
                <h1 class="text-dark">
                  {{ pio.vote_infos_count }}
                </h1>
              </div>
              <div class="align-self-start ps-3 mb-2">
                <div class="text-dark w-100">
                  <h1 class="fw-bold">
                    {{
                      pio.student.student_personal_info.last_name.toUpperCase()
                    }}
                  </h1>
                </div>
                <div
                  class="
                    text-dark
                    w-100
                    d-flex
                    justify-content-center
                    align-items-center
                  "
                >
                  <h3>
                    {{ `${pio.student.student_personal_info.first_name}` }}
                  </h3>
                  <h5 class="text-muted">
                    {{
                      `(${pio.student.student_school_info.year_level.year_level})`
                    }}
                  </h5>
                </div>
              </div>
            </div>
          </swiper-slide>
        </swiper>
      </div>
      <div
        class="
          col-12
          d-flex
          justify-content-between
          align-items-center
          pb-3
          px-3
          pt-3
        "
      >
        <p class="m-0">
          <strong>TIPS:</strong
          ><span class="text-muted">
            Swipe to left/right view other candidates</span
          >
        </p>
        <div>
          <b-button variant="outline-dark" @click="page -= 1" v-if="page != 0">
            <b-icon icon="arrow-left"></b-icon> Previous Position</b-button
          >
          <b-button
            @click="page += 1"
            v-if="page != 5"
            class="ms-3"
            variant="outline-dark"
          >
            Next Position <b-icon icon="arrow-right"></b-icon>
          </b-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Minitopbar from "@/components/Student/Minitopbar.vue";
import { Swiper, SwiperSlide } from "vue-awesome-swiper";
import "swiper/css/swiper.css";
export default {
  name: "swiper-example-3d-coverflow",
  components: {
    Minitopbar,
    Swiper,
    SwiperSlide,
  },
  data() {
    return {
      page: 0,
      positionTitles: [
        "President",
        "Vice President",
        "Secretary",
        "Auditor",
        "Treasurer",
        "Public Information Officer",
      ],
      swiperOption: {
        effect: "coverflow",
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: "auto",
        coverflowEffect: {
          rotate: 50,
          stretch: 0,
          depth: 100,
          modifier: 1,
          slideShadows: true,
        },
        loop: true,
        autoplay: {
          delay: 5000,
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
      },
    };
  },
  computed: {
    candidates() {
      return this.$store.getters["adminOrgElection/GET_VOTE_COUNT"];
    },
  },
  methods: {
    candidateInfo(index) {
      console.log(index);
    },
    randomColor(id) {
      const r = () => Math.floor(256 * Math.random());

      return `rgb(${r()}, ${r()}, ${r()})`;
    },
  },
  async mounted() {
    await this.$store.dispatch(
      "adminOrgElection/FETCH_VOTE_COUNT",
      this.$route.params.election_id
    );
  },
};
</script>

<style lang="css" scoped>
.swiper-container {
  overflow: visible;
}
.candidates-section {
  width: 60%;
  height: 100%;
  padding: 50px 50px 0 50px;
}

.swiper {
  height: 100%;
  width: 100%;
  padding: 0 50px;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25rem;
  height: 30rem;
  text-align: center;
  font-weight: bold;
  border-radius: 15px;
  font-size: 14 * 2;
  background-color: rgb(255, 0, 0);
  background-position: center;
  background-size: cover;
  color: #fff;
  box-shadow: 0 0 5px 2px rgb(201, 201, 201);
}

.swiper-slide .party-list-strip {
  position: relative;
  padding-left: 50px;
  margin: 1em 0;
  min-height: 120px;
  background-color: #070372;
  height: 100%;
  width: 3rem;
}

.swiper-slide .party-list-strip h1 {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  left: -4.3rem;
  top: 23rem;
  position: absolute;
  color: #fff;
  width: max-content;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
}

.swiper-slide .candidate-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  background-color: rgb(255, 255, 255);
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #fff;
}
</style>