<template>
  <div>
    <b-button
      class="add-announcement shadow mt-3"
      v-if="user.role.id == 2"
      variant="none"
      @click="$bvModal.show('addElectionModal')"
    >
      <img src="@/assets/img/ic_add.svg" class="mx-2" />
      Conduct Election
    </b-button>

    <div class="mt-5 content-container shadow">
      <b-skeleton-wrapper :loading="loading">
        <template #loading>
          <div>
            <b-skeleton width="100%"></b-skeleton>
            <b-skeleton width="100%"></b-skeleton>
            <b-skeleton width="100%"></b-skeleton>
            <b-skeleton width="100%"></b-skeleton>
            <br />
            <b-skeleton width="100%"></b-skeleton>
            <b-skeleton width="100%"></b-skeleton>
            <b-skeleton width="100%"></b-skeleton>
            <b-skeleton width="100%"></b-skeleton>
            <br />
            <b-skeleton width="100%"></b-skeleton>
            <b-skeleton width="100%"></b-skeleton>
            <b-skeleton width="100%"></b-skeleton>
            <b-skeleton width="100%"></b-skeleton>
            <br />
            <b-skeleton width="100%"></b-skeleton>
            <b-skeleton width="100%"></b-skeleton>
            <b-skeleton width="100%"></b-skeleton>
            <b-skeleton width="100%"></b-skeleton>
            <br />
            <b-skeleton width="100%"></b-skeleton>
            <b-skeleton width="100%"></b-skeleton>
            <b-skeleton width="100%"></b-skeleton>
            <b-skeleton width="100%"></b-skeleton>
            <br />
            <b-skeleton width="100%"></b-skeleton>
            <b-skeleton width="100%"></b-skeleton>
            <b-skeleton width="100%"></b-skeleton>
            <b-skeleton width="100%"></b-skeleton>
          </div>
        </template>
        <div
          class="
            w-100
            h-100
            d-flex
            flex-column
            justify-content-center
            align-items-center
          "
          v-if="elections.length == 0"
        >
          <img style="width: 500px" src="@/assets/img/empty.svg" />
          <h4 class="my-3">No Election</h4>
        </div>
        <div
          v-else
          class="election-item shadow"
          v-for="election in elections"
          :key="election.id"
        >
          <div class="d-flex justify-content-between align-items-center my-2">
            <h4>
              {{ election.title }}

              <span
                v-if="election.status == 'STARTED'"
                class="ms-2 custom-badge badge-success px-1"
              >
                Ongoing
              </span>

              <span
                v-else-if="election.status == null"
                class="ms-2 custom-badge badge-warning px-1"
              >
                Not Started
              </span>
              <span v-else class="ms-2 custom-badge badge-danger px-1">
                Ended
              </span>
            </h4>
            <div>
              <!-- Election Status btns -->
              <b-button
                v-if="
                  election.status == null && notStarted && user.role.id == 2
                "
                v-b-tooltip.hover.top="'Start Election'"
                class="ms-2 rounded-circle"
                variant="outline-success"
                size="sm"
                @click="
                  $bvModal.show('startElectionModal');
                  id = election.id;
                "
                ><i class="fas fa-play"></i
              ></b-button>

              <b-button
                v-if="election.status == 'STARTED' && user.role.id == 2"
                v-b-tooltip.hover.top="'End Election'"
                class="ms-2 rounded-circle"
                variant="outline-danger"
                size="sm"
                @click="
                  $bvModal.show('endElectionModal');
                  id = election.id;
                "
                ><i class="fas fa-stop"></i
              ></b-button>

              <!-- Election Status btns -->

              <b-button
                v-if="
                  election.status == null && notStarted && user.role.id == 2
                "
                class="rounded-pill ms-2"
                variant="outline-primary"
                size="sm"
                @click="
                  $router.push({
                    name: 'ManageCandidates',
                    params: {
                      election_id: election.id,
                    },
                  })
                "
                ><i class="fas fa-user"></i>&nbsp;Manage Candidates</b-button
              >

              <b-button
                v-if="
                  election.status == 'STARTED' || election.status == 'ENDED'
                "
                class="rounded-pill ms-2"
                variant="outline-success"
                size="sm"
                @click="
                  $router.push({
                    name: 'OrganizationAdminElectionrResult',
                    params: {
                      title: election.title,
                      election_id: election.id,
                    },
                  })
                "
                ><i class="fas fa-poll"></i>&nbsp;View Result</b-button
              >

              <b-button
                v-if="election.status == null && notStarted && user.role.id == 2"
                v-b-tooltip.hover.top="'Update Election'"
                class="ms-2 rounded-circle"
                variant="outline-warning"
                size="sm"
                @click="
                  $bvModal.show('updateElectionModal');
                  id = election.id;
                "
                ><i class="fas fa-edit"></i
              ></b-button>

              <b-button
                v-if="election.status == null && notStarted && user.role.id == 2"
                v-b-tooltip.hover.top="'Delete Election'"
                class="ms-2 rounded-circle"
                variant="outline-danger"
                size="sm"
                @click="
                  $bvModal.show('deleteElectionModal');
                  id = election.id;
                "
                ><i class="fas fa-trash"></i
              ></b-button>
            </div>
          </div>
        </div>
      </b-skeleton-wrapper>
    </div>

    <b-modal
      id="addElectionModal"
      title="Conduct Election"
      header-class="announcement-header"
      header-close-variant="danger"
      footer-class="announcement-footer"
      @ok="$bvModal.hide('addElectionModal')"
      @cancel.prevent="addElection"
      cancel-title="CONDUCT"
      cancel-variant="warning"
      ok-title="CANCEL"
      ok-variant="warning"
      hide-header-close
    >
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="floatingInput"
          v-model="election.title"
        />
        <label for="floatingInput">Title</label>
      </div>

      <div class="form-floating mb-3">
        <textarea
          type="text"
          class="form-control"
          id="floatingInput"
          v-model="election.description"
        />
        <label for="floatingInput">Description</label>
      </div>
    </b-modal>

    <b-modal
      id="deleteElectionModal"
      title="Delete Election"
      header-class="announcement-header"
      header-close-variant="danger"
      footer-class="announcement-footer"
      @ok="$bvModal.hide('deleteElectionModal')"
      @cancel.prevent="deleteElection"
      cancel-title="DELETE"
      cancel-variant="warning"
      ok-title="CANCEL"
      ok-variant="warning"
      hide-header-close
    >
      <p>Are you sure you want to delete this election?</p>
    </b-modal>

    <b-modal
      id="startElectionModal"
      title="Start Election"
      header-class="announcement-header"
      header-close-variant="danger"
      footer-class="announcement-footer"
      @ok="$bvModal.hide('startElectionModal')"
      @cancel.prevent="deleteElection"
      cancel-title="START ELECTION"
      cancel-variant="warning"
      ok-title="CANCEL"
      ok-variant="warning"
      hide-header-close
    >
      <p>Are you sure you want to start this election?</p>
    </b-modal>

    <b-modal
      id="startElectionModal"
      title="START ELECTION"
      header-class="announcement-header"
      header-close-variant="danger"
      footer-class="announcement-footer"
      @ok="$bvModal.hide('startElectionModal')"
      @cancel.prevent="startElection"
      cancel-title="START ELECTION"
      cancel-variant="warning"
      ok-title="CANCEL"
      ok-variant="warning"
      hide-header-close
      size="lg"
    >
      <div class="text-center">
        <h1 class="text-danger text-center my-3">Warning!!! Read This!!!</h1>

        <h3 class="text-start ms-5">
          Before starting the election. Reminders:
        </h3>
        <ul class="text-start ms-5">
          <li>
            All candidates should be assigned in their respective positions
          </li>
          <li>
            All <strong>ACTIONS</strong> will be disabled to avoid modification
            of the elections of this Organization except "<strong
              ><span class="text-danger">END ELECTION</span></strong
            >" button in the election with
            <strong
              ><span class="custom-badge badge-success">Ongoing</span></strong
            >
            status
          </li>
          <li>
            Check
            <span class="text-primary"
              >"<i class="fas fa-user"></i> Manage Candidates"</span
            >
            if there is wrong assigning of candidates
          </li>
          <li>
            Other <strong>ELECTION</strong>s created on this Organization will
            be disabled from
            <strong>
              <span class="text-success">STARTING</span>/
              <span class="text-danger">ENDING</span></strong
            >
            to avoid duplication and to monitor the Ongoing Election
          </li>
          <li>
            <h5 class="text-uppercase">
              You can't <strong class="text-danger">UNDO</strong> this Action
            </h5>
          </li>
        </ul>
        <h3>Do you want to continue this action?</h3>
      </div>
    </b-modal>

    <b-modal
      id="endElectionModal"
      title="END ELECTION"
      header-class="announcement-header"
      header-close-variant="danger"
      footer-class="announcement-footer"
      @ok="$bvModal.hide('endElectionModal')"
      @cancel.prevent="endElection"
      cancel-title="END ELECTION"
      cancel-variant="warning"
      ok-title="CANCEL"
      ok-variant="warning"
      hide-header-close
      size="lg"
    >
      <div class="text-center">
        <h1 class="text-danger text-center my-3">Warning!!! Read This!!!</h1>

        <h3 class="text-start ms-5">Before ending the election. Reminders:</h3>
        <ul class="text-start ms-5">
          <li>Make sure all voters done voting in the election.</li>
          <li>
            <h5 class="text-uppercase">
              You can't <strong class="text-danger">UNDO</strong> this Action
            </h5>
          </li>
        </ul>
        <h3>Do you want to continue this action?</h3>
      </div>
    </b-modal>
  </div>
</template>

<script>
export default {
  data() {
    return {
      election: {
        title: "",
        election_type_id: 4,
      },
      candidate: {
        election_id: "",
        student_number: "",
        description: "",
        party_id: "",
        position_id: "",
      },
      search: "",
      id: "",
      loading: false,
      candidateSection: 1, //President
      charAvatar: "",
    };
  },
  computed: {
    students() {
      var students = this.$store.getters["adminOrgElection/GET_STUDENTS"];
      return students.filter((student) => {
        return student.student_account.status === "APPROVED";
      });
    },
    user() {
      return this.$store.getters["authAdmin/GET_ADMIN_USER"];
    },
    candidates() {
      return this.$store.getters["adminOrgElection/GET_CANDIDATES"];
    },
    elections() {
      return this.$store.getters["adminOrgElection/GET_ELECTIONS"];
    },
    parties() {
      return this.$store.getters["GET_PARTIES"];
    },
    positions() {
      return this.$store.getters["GET_POSITIONS"];
    },
    notStarted() {
      return this.$store.getters[
        "adminOrgElection/GET_ONGOING_ELECTION_STATUS"
      ];
    },
  },
  async mounted() {
    this.loading = true;
    const res = await this.$store.dispatch("authAdmin/CHECK");
    if (res.status == 401) {
      await this.$store.dispatch("authAdmin/LOGOUT");
      this.$router.push("/login");
    }

    await this.$store.dispatch("adminOrgElection/FETCH_STUDENTS");
    await this.$store.dispatch("adminOrgElection/FETCH_ELECTIONS");
    await this.$store.dispatch("FETCH_PARTIES");
    await this.$store.dispatch("FETCH_POSITIONS");

    this.loading = false;
    this.$root.$on("bv::modal::show", (bvEvent, modalId) => {
      if (modalId == "addElectionModal") {
        this.resetData();
      }
    });
  },
  methods: {
    avatarView(student_number) {
      this.charAvatar = this.students.filter(
        (student) => student.student_account.student_number == student_number
      )[0].student_personal_info.profile_image;
    },
    changePage(page) {
      this.candidateSection = page;
    },
    async fetchCandidates() {
      this.loading = true;
      await this.$store.dispatch("adminOrgElection/FETCH_CANDIDATES", this.id);
      this.loading = false;
      this.candidateSection = 1;
      this.$bvModal.show("candidatesModal");
    },
    resetData() {
      this.election = {
        title: "",
        election_type_id: 4,
      };
    },
    async addElection() {
      if (this.election.title == "")
        return this.$toast.success("Title is required");

      const response = await this.$store.dispatch(
        "adminOrgElection/STORE_ELECTION",
        this.election
      );
      if (response.status == 200) {
        this.$bvModal.hide("addElectionModal");
        this.$toast.success(response.data.message);
        await this.$store.dispatch("adminOrgElection/FETCH_ELECTIONS");
      }
    },
    async updateElection() {
      if (this.announcement.title == "")
        return this.$toast.success("Title is required");
      const response = await this.$store.dispatch(
        "adminOrgElection/UPDATE_ELECTION",
        {
          data: this.election,
          id: this.id,
        }
      );
      if (response.status == 200) {
        this.$bvModal.hide("updateElectionModal");
        this.$toast.success(response.data.message);
        await this.$store.dispatch("adminOrgElection/FETCH_ELECTIONS");
      }
    },
    async deleteElection() {
      const response = await this.$store.dispatch(
        "adminOrgElection/DELETE_ELECTION",
        this.id
      );
      if (response.status == 200) {
        this.$bvModal.hide("deleteElectionModal");
        this.$toast.success(response.data.message);
        await this.$store.dispatch("adminOrgElection/FETCH_ELECTIONS");
      }
    },
    async startElection() {
      const response = await this.$store.dispatch(
        "adminOrgElection/START_ELECTION",
        this.id
      );
      if (response.status == 200) {
        this.$bvModal.hide("startElectionModal");
        this.$toast.success(response.data.message);
        await this.$store.dispatch("adminOrgElection/FETCH_ELECTIONS");
      }
    },
    async endElection() {
      const response = await this.$store.dispatch(
        "adminOrgElection/END_ELECTION",
        this.id
      );
      if (response.status == 200) {
        this.$bvModal.hide("endElectionModal");
        this.$toast.success(response.data.message);
        await this.$store.dispatch("adminOrgElection/FETCH_ELECTIONS");
      }
    },
  },
};
</script>

<style>
.modal-fullscreen .modal-dialog {
  max-width: 100%;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  display: flex;
  position: fixed;
  z-index: 100000;
}

.candidate-container {
  background: #fff;
  width: 250px !important;
  height: 300px;
  display: flex;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.candidate-container:hover {
  width: 260px !important;
  height: 310px;
  transition: all 0.5s ease-in-out;
}

.h-strip {
  height: 100%;
  width: 40px;
  background: #fed136;
}

.candidate-info {
  text-align: start;
}
</style>
