<template>
  <div>
    <b-button
      class="add-announcement shadow mt-3"
      variant="none"
      @click="$bvModal.show('apddCandidateModal')"
    >
      <img src="@/assets/img/ic_add.svg" class="mx-2" />
      Add Candidate
    </b-button>

    <div class="mt-5 content-container shadow">
      <b-skeleton-wrapper :loading="loading">
        <template #loading>
          <div>
            <b-skeleton width="100%"></b-skeleton>
            <b-skeleton width="100%"></b-skeleton>
            <b-skeleton width="100%"></b-skeleton>
            <b-skeleton width="100%"></b-skeleton>
            <br />
            <b-skeleton width="100%"></b-skeleton>
            <b-skeleton width="100%"></b-skeleton>
            <b-skeleton width="100%"></b-skeleton>
            <b-skeleton width="100%"></b-skeleton>
            <br />
            <b-skeleton width="100%"></b-skeleton>
            <b-skeleton width="100%"></b-skeleton>
            <b-skeleton width="100%"></b-skeleton>
            <b-skeleton width="100%"></b-skeleton>
            <br />
            <b-skeleton width="100%"></b-skeleton>
            <b-skeleton width="100%"></b-skeleton>
            <b-skeleton width="100%"></b-skeleton>
            <b-skeleton width="100%"></b-skeleton>
            <br />
            <b-skeleton width="100%"></b-skeleton>
            <b-skeleton width="100%"></b-skeleton>
            <b-skeleton width="100%"></b-skeleton>
            <b-skeleton width="100%"></b-skeleton>
            <br />
            <b-skeleton width="100%"></b-skeleton>
            <b-skeleton width="100%"></b-skeleton>
            <b-skeleton width="100%"></b-skeleton>
            <b-skeleton width="100%"></b-skeleton>
          </div>
        </template>

        <div
          class="
            w-100
            h-100
            d-flex
            flex-column
            justify-content-center
            align-items-center
          "
          v-if="candidates.length == 0"
        >
          <img style="width: 500px" src="@/assets/img/empty.svg" />
          <h4 class="my-3">No Candidates</h4>
        </div>
        <div
          v-else
          class="election-item shadow"
          v-for="candidate in candidates"
          :key="candidate.id"
        >
          <div class="d-flex justify-content-between align-items-center my-2">
            <div class="d-flex justify-content-center align-items-center">
              <b-avatar
                class="align-self-center shadow me-3"
                size="5rem"
                :src="`http://localhost:8000${candidate.student.student_personal_info.profile_image}`"
              >
              </b-avatar>
              <h4 class="m-0">
                <strong>
                  {{
                    candidate.student.student_personal_info.last_name
                  }}</strong
                >,
                {{ candidate.student.student_personal_info.first_name }}
              </h4>
              <span>
                ({{
                  candidate.student.student_school_info.year_level.year_level
                }})</span
              >
              <h6 class="m-0 ms-3">{{ candidate.position.name }}</h6>
            </div>

            <div>
              <b-button
                v-b-tooltip.hover.top="'Update Candidate'"
                class="ms-2 rounded-circle"
                variant="outline-success"
                size="sm"
                @click="
                  showUpdateCandidate(candidate);
                  $bvModal.show('updateCandidateModal');
                "
                ><i class="fas fa-edit"></i
              ></b-button>

              <b-button
                v-b-tooltip.hover.top="'Delete Candidate'"
                class="ms-2 me-3 rounded-circle"
                variant="outline-danger"
                size="sm"
                @click="
                  $bvModal.show('deleteCandidateModal');
                  candidate_id = candidate.id;
                "
                ><i class="fas fa-trash"></i
              ></b-button>
            </div>
          </div>
        </div>
      </b-skeleton-wrapper>
    </div>

    <b-modal
      id="deleteCandidateModal"
      title="Delete Candidate"
      header-class="announcement-header"
      header-close-variant="danger"
      footer-class="announcement-footer"
      @ok="$bvModal.hide('deleteCandidateModal')"
      @cancel.prevent="deleteCandidate"
      cancel-title="DELETE"
      cancel-variant="warning"
      ok-title="CANCEL"
      ok-variant="warning"
      hide-header-close
    >
      <p>Are you sure you want to delete this candidate?</p>
    </b-modal>

    <b-modal
      id="addCandidateModal"
      title="New Candidate"
      header-class="announcement-header"
      header-close-variant="danger"
      footer-class="announcement-footer"
      @ok="$bvModal.hide('addCandidate')"
      @cancel.prevent="addCandidate"
      cancel-title="ADD"
      cancel-variant="warning"
      ok-title="CANCEL"
      ok-variant="warning"
      hide-header-close
      size="lg"
    >
      <div class="container-fluid">
        <div class="row">
          <div
            class="
              col-3
              mt-3
              align-self-start
              d-flex
              justify-content-center
              align-items-center
            "
            align="center"
          >
            <b-avatar
              size="8rem"
              class="shadow"
              :src="`http://localhost:8000${charAvatar}`"
            ></b-avatar>
          </div>
          <div class="col-8" align="start">
            <div class="col-12 pt-2">
              <div class="form-group mb-2">
                <label>Candidate</label>
                <select
                  @change="avatarView(candidate.student_number)"
                  class="form-control"
                  v-model="candidate.student_number"
                >
                  <option value="" disabled>-- Select candidate --</option>
                  <option
                    v-for="student in students"
                    :key="student.id"
                    :value="student.student_account.student_number"
                  >
                    {{
                      `${student.student_account.student_number} - ${student.student_personal_info.last_name}, ${student.student_personal_info.first_name} ${student.student_personal_info.middle_name}`
                    }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-12 py-3">
              <div class="form-group">
                <label>Position</label>
                <select class="form-control" v-model="candidate.position_id">
                  <option :value="null" disabled>-- Select position --</option>
                  <option
                    v-for="position in positions"
                    :key="position.id"
                    :value="position.id"
                  >
                    {{ position.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-12 py-3">
              <div class="form-group">
                <label>Party(optional)</label>
                <select class="form-control" v-model="candidate.party_id">
                  <option :value="null">-- Select party --</option>
                  <option
                    v-for="party in parties"
                    :key="party.id"
                    :value="party.id"
                  >
                    {{ party.party }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-12 py-3">
              <div class="form-group">
                <label>Description</label>
                <vue-editor
                  v-model="candidate.description"
                  :editor-toolbar="customToolbar"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </b-modal>

    <b-modal
      id="updateCandidateModal"
      title="Update Candidate"
      header-class="announcement-header"
      header-close-variant="danger"
      footer-class="announcement-footer"
      @ok="$bvModal.hide('updateCandidateModal')"
      @cancel.prevent="updateCandidate"
      cancel-title="UPDATE"
      cancel-variant="warning"
      ok-title="CANCEL"
      ok-variant="warning"
      hide-header-close
      size="lg"
    >
      <div class="container-fluid">
        <div class="row">
          <div
            class="
              col-3
              mt-3
              align-self-start
              d-flex
              justify-content-center
              align-items-center
            "
            align="center"
          >
            <b-avatar
              size="8rem"
              class="shadow"
              :src="`http://localhost:8000${charAvatar}`"
            ></b-avatar>
          </div>
          <div class="col-8" align="start">
            <div class="col-12 pt-2">
              <div class="form-group mb-2">
                <label>Candidate</label>
                <b-input-group prepend="Student Number" class="mt-1">
                  <b-form-input v-model="search"></b-form-input>
                </b-input-group>
                <select
                  @change="avatarView(candidate.student_number)"
                  class="form-control"
                  v-model="candidate.student_number"
                >
                  <option value="" disabled>-- Select candidate --</option>
                  <option
                    v-for="student in students"
                    :key="student.id"
                    :value="student.student_account.student_number"
                  >
                    {{
                      `${student.student_account.student_number} - ${student.student_personal_info.last_name}, ${student.student_personal_info.first_name} ${student.student_personal_info.middle_name}`
                    }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-12 py-3">
              <div class="form-group">
                <label>Position</label>
                <select class="form-control" v-model="candidate.position_id">
                  <option :value="null" disabled>-- Select position --</option>
                  <option
                    v-for="position in positions"
                    :key="position.id"
                    :value="position.id"
                  >
                    {{ position.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-12 py-3">
              <div class="form-group">
                <label>Party(optional)</label>
                <select class="form-control" v-model="candidate.party_id">
                  <option :value="null">-- Select party --</option>
                  <option
                    v-for="party in parties"
                    :key="party.id"
                    :value="party.id"
                  >
                    {{ party.party }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-12 py-3">
              <div class="form-group">
                <label>Description</label>
                <vue-editor
                  v-model="candidate.description"
                  :editor-toolbar="customToolbar"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </b-modal>
  </div>
</template>

<script>
import { VueEditor } from "vue2-editor";

export default {
  title: "Organization Page - Manage Candidates",
  components: { VueEditor },
  data() {
    return {
      candidate: {
        id: 0,
        election_id: this.$route.params.election_id,
        student_number: "",
        description: "",
        party_id: null,
        position_id: null,
      },
      search: "",
      loading: false,
      charAvatar: null,
      customToolbar: [
        [{ header: [false, 1, 2, 3, 4, 5, 6] }],
        ["bold", "italic", "underline", "strike"], // toggled buttons
        [
          { align: "" },
          { align: "center" },
          { align: "right" },
          { align: "justify" },
        ],
        ["blockquote"],
        [{ list: "ordered" }, { list: "bullet" }, { list: "check" }],
        [{ indent: "-1" }, { indent: "+1" }], // outdent/indent
        [{ color: [] }, { background: [] }], // dropdown with defaults from theme
        ["link", "image", "video"],
      ],
    };
  },
  computed: {
    students() {
      var students = this.$store.getters["adminOrgElection/GET_STUDENTS"];
      return students.filter((student) => {
        return student.student_account.status === "APPROVED";
      });
    },
    candidates() {
      return this.$store.getters["adminOrgElection/GET_CANDIDATES"];
    },
    parties() {
      return this.$store.getters["GET_PARTIES"];
    },
    positions() {
      return this.$store.getters["GET_POSITIONS"];
    },
  },
  async mounted() {
    this.loading = true;
    const res = await this.$store.dispatch("authAdmin/CHECK");
    if (res.status == 401) {
      await this.$store.dispatch("authAdmin/LOGOUT");
      this.$router.push("/login");
    }

    await this.$store.dispatch("adminOrgElection/FETCH_STUDENTS");
    await this.$store.dispatch("adminOrgElection/FETCH_ELECTIONS");
    await this.$store.dispatch("FETCH_PARTIES");
    await this.$store.dispatch("FETCH_POSITIONS");
    await this.$store.dispatch(
      "adminOrgElection/FETCH_CANDIDATES",
      this.$route.params.election_id
    );

    this.loading = false;
    this.$root.$on("bv::modal::show", (bvEvent, modalId) => {
      if (modalId == "addCandidateModal") {
        this.resetData();
      }
    });
  },

  methods: {
    avatarView(student_number) {
      this.charAvatar = this.students.filter(
        (student) => student.student_account.student_number == student_number
      )[0].student_personal_info.profile_image;
    },
    resetData() {
      this.candidate = {
        election_id: this.$route.params.election_id,
        student_number: "",
        description: "",
        party_id: null,
        position_id: null,
      };
      this.charAvatar = null;
    },
    showUpdateCandidate(candidate) {
      this.candidate = {
        id: candidate.id,
        election_id: this.$route.params.election_id,
        student_number: candidate.student.student_account.student_number,
        description: candidate.description,
        party_id: candidate.party_id,
        position_id: candidate.position_id,
      };
      console.log(this.candidate);
    },
    async addCandidate() {
      if (this.candidate.position_id == "")
        return this.$toast.success("Position is required");
      if (this.candidate.student_number == "")
        return this.$toast.success("Student is required");

      const response = await this.$store.dispatch(
        "adminOrgElection/STORE_CANDIDATE",
        this.candidate
      );
      if (response.status == 200) {
        this.$bvModal.hide("addCandidateModal");
        this.$toast.success(response.data.message);
        await this.$store.dispatch(
          "adminOrgElection/FETCH_CANDIDATES",
          this.$route.params.election_id
        );
      }
    },
    async updateCandidate() {
      if (this.candidate.position_id == "")
        return this.$toast.success("Position is required");
      if (this.candidate.student_number == "")
        return this.$toast.success("Student is required");
      const response = await this.$store.dispatch(
        "adminOrgElection/UPDATE_CANDIDATE",
        this.candidate
      );
      if (response.status == 200) {
        this.$bvModal.hide("updateCandidateModal");
        this.$toast.success("Candidate updated");
        await this.$store.dispatch(
          "adminOrgElection/FETCH_CANDIDATES",
          this.$route.params.election_id
        );
      }
    },
    async deleteCandidate() {
      const response = await this.$store.dispatch(
        "adminOrgElection/DELETE_CANDIDATE",
        this.candidate_id
      );
      if (response.status == 200) {
        this.$bvModal.hide("deleteCandidateModal");
        this.$toast.success("Candidate deleted.");
        await this.$store.dispatch(
          "adminOrgElection/FETCH_CANDIDATES",
          this.$route.params.election_id
        );
      }
    },
  },
};
</script>

<style>
.candidate-container {
  background: #fff;
  width: 250px !important;
  height: 300px;
  display: flex;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.candidate-container:hover {
  width: 260px !important;
  height: 310px;
  transition: all 0.5s ease-in-out;
}

.h-strip {
  height: 100%;
  width: 40px;
  background: #fed136;
}

.candidate-info {
  text-align: start;
}
</style>
