<template>
  <div>
    <div
      style="width: 100%; height: 100vh"
      class="d-flex justify-content-center align-items-center"
      v-if="isLoading"
    >
      <div class="d-flex flex-column justify-content-center align-items-center">
        <b-spinner label="Spinning"></b-spinner>
        <h1>Now Loading</h1>
      </div>
    </div>
    <div class="my-container" v-else>
      <Navigation :routes="routes" />
      <div
        class="main"
        @toggleNav="alert('qweqwew')"
        :class="{ toggled: active }"
      >
        <Topbar />
        <div class="container-fluid px-5 mt-5">
          <router-view></router-view>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
// import Navbar from "@/components/Student/Topbar.vue";
import { org_admin as org_admin_routes } from "@/router/navigation_routes.js";
import Navigation from "@/components/Admin/Navigation.vue";
import Topbar from "@/components/Admin/Topbar.vue";

export default {
  title: "Organization Admin Page",
  components: {
    // Navbar,
    Navigation,
    Topbar
  },
  data() {
    return {
      isLoading: false,
      routes: null,
    };
  },
  computed: {
    access_level() {
      return this.$store.getters["authAdmin/GET_ACCESS_LEVEL"];
    },
    active() {
      return this.$store.getters["GET_TOGGLE"];
    },
  },
  async mounted() {
    this.isLoading = !this.isLoading;

    const res = await this.$store.dispatch("authAdmin/CHECK");
    if (res.data.access_level_id == 1) {
      this.$router.push("/mis-admin");
    } else {
      if (res.status == 401) {
        localStorage.removeItem("access_token");
        this.$router.push("/login");
      }
    }
    this.routes = org_admin_routes;
    this.isLoading = !this.isLoading;
  },
};
</script>