<template>
  <div>
    <div class="side">
      <h4 class="mb-5 text-light">MIS Admin Panel</h4>
      <div class="profile">
        <img src="../../../assets/img/admin.svg" alt="" />
        <div class="profile-info mt-3 text-light">
          <h4>{{ admin.name }}</h4>
          <p class="font-weight-bold">({{ admin.username }})</p>
        </div>
      </div>
      <ul>
        <li>
          <router-link
            @click.native="activeTab(1)"
            class="link shadow"
            :class="activeId == 1 ? 'active' : ''"
            to="/mis/dashboard"
            ><b-icon icon="graph-up"></b-icon> Dashboard</router-link
          >
        </li>
        <li>
          <router-link
            @click.native="activeTab(2)"
            class="link shadow"
            :class="activeId == 2 ? 'active' : ''"
            to="/mis/account"
            ><b-icon icon="people"></b-icon> Accounts</router-link
          >
        </li>
        <li>
          <router-link
            @click.native="activeTab(2)"
            class="link shadow"
            :class="activeId == 2 ? 'active' : ''"
            to="/mis/account"
            v-b-toggle.collapse-2
            ><b-icon icon="people"></b-icon> Accounts
            <b-icon icon="caret-down-fill"></b-icon
          ></router-link>
          <!-- Element to collapse -->
          <b-collapse id="collapse-2">
            <router-link
              @click.native="activeTab(2)"
              class="link shadow"
              :class="activeId == 2 ? 'active' : ''"
              to="/mis/account"
              ><b-icon icon="people"></b-icon> Accounts</router-link
            >
            <router-link
              @click.native="activeTab(2)"
              class="link shadow"
              :class="activeId == 2 ? 'active' : ''"
              to="/mis/account"
              ><b-icon icon="people"></b-icon> Accounts</router-link
            >
          </b-collapse>
        </li>
        <li>
          <router-link
            @click.native="activeTab(3)"
            class="link shadow"
            :class="activeId == 3 ? 'active' : ''"
            to="/mis/setting"
          >
            <b-icon icon="gear"></b-icon> Account Settings</router-link
          >
        </li>
      </ul>
      <button
        @click.prevent="logout"
        :disabled="isLoading"
        class="btn btn-outline-light btn-block mt-3"
      >
        <div class="d-flex">
          Logout
          <div v-if="isLoading">
            <b-icon icon="arrow-clockwise" animation="spin-pulse"></b-icon>
          </div>
          <div v-else>
            <b-icon icon="box-arrow-in-right"></b-icon>
          </div>
        </div>
      </button>
    </div>
  </div>
</template>

<script>
export default {
  props: ["admin"],
  data: function () {
    return {
      activeId: 1,
      isLoading: false,
    };
  },
  methods: {
    activeTab: function (id) {
      this.activeId = id;
      console.log(this.activeId);
    },
    logout: async function () {
      this.isLoading = true;
      const response = await this.$store.dispatch("misAuth/LOGOUT_ADMIN");
      if (response.status == 200) {
        this.$router.push({ name: "AdminLogin" });
      }
    },
  },
};
</script>

<style scoped>
.side {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #052c65;
}

.profile,
.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  list-style: none;
  margin: 10px;
  padding: 5px;
  background: #cfe2ff;
  border-radius: 8px;
}

li {
  padding: 5px;
}

.link {
  text-decoration: none;
  display: inline-block;
  width: 220px;
  color: #0d6efd;
  background: #ffffff;
  padding: 10px;
  border-radius: 8px;
  transition: 0.3s all ease-in-out;
}

.link:hover,
.active {
  background: #0d6efd;
  color: #fff;
  border-radius: 9px;
  transition: 0.3s all ease-in-out;
}
</style>