<template>
  <div class="navigation" :class="{ toggled: active }">
    <ul v-if="access_level.id == 1">
      <li>
        <div class="router-link">
          <span class="icon">
            <img class="m-0" src="@/assets/img/lnu-logo.png" alt="" />
          </span>
          <div class="mt-4">
            <h5 class="font-weight-bold">Leyte Normal University</h5>
          </div>
        </div>
      </li>
      <li>
        <router-link
          active-class="active"
          class="router-link mr-5"
          to="/mis-admin/dashboard"
        >
          <span class="icon">
            <b-icon class="b-icon" icon="grid"></b-icon>
          </span>
          <span class="title">Dashboard</span>
        </router-link>
      </li>
      <li>
        <div v-b-toggle.collapse-1 class="router-link">
          <span class="icon">
            <b-icon class="b-icon" icon="people-fill"></b-icon>
          </span>
          <span class="title">User Account</span>
        </div>
        <b-collapse id="collapse-1" class="mt-2 bg-light">
          <router-link
            active-class="sub-router-link-active"
            class="sub-router-link"
            :class="{ 'p-0': active }"
            to="/mis-admin/organization-account"
          >
            <span class="icon">
              <b-icon font-scale="1.5" icon="briefcase"></b-icon>
            </span>
            <span class="title">Organization</span>
          </router-link>

          <router-link
            active-class="sub-router-link-active"
            class="sub-router-link"
            :class="{ 'p-0': active }"
            to="/mis-admin/student-account"
          >
            <span class="icon">
              <b-icon font-scale="1.5" icon="people"></b-icon>
            </span>
            <span class="title">Student</span>
          </router-link>
        </b-collapse>
      </li>
    </ul>
    <ul v-if="access_level.id == 2">
      <li>
        <div class="router-link">
          <span class="icon">
            <img class="m-0" src="@/assets/img/lnu-logo.png" alt="" />
          </span>
          <div class="mt-4">
            <h5 class="font-weight-bold">Leyte Normal University</h5>
          </div>
        </div>
      </li>
      <li>
        <router-link
          active-class="active"
          class="router-link mr-5"
          to="/organization-admin/dashboard"
        >
          <span class="icon">
            <b-icon class="b-icon" icon="grid"></b-icon>
          </span>
          <span class="title">Dashboard</span>
        </router-link>
      </li>

      <li v-if="role.id == 2 || role.id == 4">
        <router-link
          active-class="active"
          class="router-link mr-5"
          to="/organization-admin/announcement"
        >
          <span class="icon">
            <b-icon class="b-icon" icon="inbox"></b-icon>
          </span>
          <span class="title">Announcement</span>
        </router-link>
      </li>

      <li v-if="role.id == 2 || role.id == 3 || role.id == 5">
        <router-link
          active-class="active"
          class="router-link mr-5"
          to="/organization-admin/account-request"
        >
          <span class="icon">
            <b-icon class="b-icon" icon="people"></b-icon>
          </span>
          <span class="title">Account Request</span>
        </router-link>
      </li>

      <li v-if="role.id == 1 || role.id == 2">
        <router-link
          active-class="active"
          class="router-link mr-5"
          to="/organization-admin/election"
        >
          <span class="icon">
            <b-icon class="b-icon" icon="bar-chart"></b-icon>
          </span>
          <span class="title">Election</span>
        </router-link>
      </li>

      <!--
      <li v-for="(route, index) in routes" :key="index">
        <div
          v-b-toggle.collapse-1
          v-if="access_level.id == 1 && index == 1"
          class="router-link"
        >
          <span class="icon">
            <b-icon class="b-icon" icon="people-fill"></b-icon>
          </span>
          <span class="title">User Account</span>
        </div>
        <b-collapse
          v-if="access_level.id == 1 && index == 1"
          id="collapse-1"
          class="mt-2 bg-light"
        >
          <router-link
            active-class="sub-router-link-active"
            class="sub-router-link"
            :class="{ 'p-0': active }"
            :to="routes[1].path"
          >
            <span class="icon">
              <b-icon font-scale="1.5" :icon="routes[1].icon"></b-icon>
            </span>
            <span class="title">{{ routes[1].title }}</span>
          </router-link>

          <router-link
            active-class="sub-router-link-active"
            class="sub-router-link"
            :class="{ 'p-0': active }"
            :to="routes[2].path"
          >
            <span class="icon">
              <b-icon font-scale="1.5" :icon="routes[2].icon"></b-icon>
            </span>
            <span class="title">{{ routes[2].title }}</span>
          </router-link>
        </b-collapse>

        <router-link
          v-else-if="access_level.id == 1 && index != 1 && index != 2"
          active-class="active"
          class="router-link mr-5"
          :to="route.path"
        >
          <span class="icon">
            <b-icon class="b-icon" :icon="route.icon"></b-icon>
          </span>
          <span class="title">{{ route.title }}</span>
        </router-link>

        <router-link
          v-if="access_level.id != 1 && (route.role_id == role.id || route.role_id == null) "
          active-class="active"
          class="router-link mr-5"
          :to="route.path"
        >
          <span class="icon">
            <b-icon class="b-icon" :icon="route.icon"></b-icon>
          </span>
          <span class="title">{{ route.title }}</span>
        </router-link>
      </li> -->
    </ul>
  </div>
</template>

<script>
export default {
  props: ["routes"],
  data() {
    return {
      access_level_id: 1,
    };
  },
  computed: {
    user() {
      return this.$store.getters["authAdmin/GET_ADMIN_USER"];
    },
    access_level() {
      return this.$store.getters["authAdmin/GET_ACCESS_LEVEL"];
    },
    role() {
      return this.$store.getters["authAdmin/GET_ROLE"];
    },

    active() {
      return this.$store.getters["GET_TOGGLE"];
    },
  },
  methods: {
    async logout() {
      const response = await this.$store.dispatch("auth_admin/LOGOUT_ADMIN");
      if (response.status == 200) {
        this.$toast.success("Logged out successfully.");
        this.$router.push("/login");
      }
    },
  },
};
</script>

<style>
</style>