<template>
  <div class="sidebar shadow-lg">
    <div class="profile-container">
      <img
        class="rounded-circle"
        alt=""
        src="@/assets/img/admin.svg"
        style="border: none"
      />
      <p class="mt-3 text-center">
        {{ `${user.first_name} ${user.middle_name} ${user.last_name}` }}
        <span class="text-light"> {{ ` (${role.role})` }}</span>
      </p>
    </div>

    <div class="sidebar-list">
      <div>
        <router-link
          v-if="role.id == 1 || role.id == 2"
          to="/organization-admin/dashboard"
          class="sidebar-item shadow-lg"
        >
          <b-icon icon="graph-up" font-scale="1.6"></b-icon>
          <span>Dashboard</span>
        </router-link>
        <router-link
          v-if="role.id == 2 || role.id == 4"
          to="/organization-admin/announcement"
          class="sidebar-item shadow-lg"
        >
          <b-icon icon="inbox" font-scale="1.6"></b-icon>
          <span>Announcement</span>
        </router-link>

        <router-link
          v-if="(role.id == 2 || role.id == 3) && user.organization_id > 9"
          to="/organization-admin/account-request"
          class="sidebar-item shadow-lg"
        >
          <b-icon icon="people" font-scale="1.6"></b-icon>
          <span>Account Request</span>
        </router-link>

        <router-link
          v-if="role.id == 2"
          to="/organization-admin/election"
          class="sidebar-item shadow-lg"
        >
          <b-icon icon="bar-chart" font-scale="1.6"></b-icon>
          <span>Election</span>
        </router-link>

        <router-link to="/organization-admin/settings" class="sidebar-item shadow-lg">
          <b-icon icon="gear" font-scale="1.6"></b-icon>
          <span>Account Settings</span>
        </router-link>

        <b-button class="sidebar-item shadow-lg" v-on:click.prevent="logout">
          <b-icon icon="arrow-bar-right" font-scale="1.6"></b-icon>
          <span>Logout</span>
        </b-button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    user() {
      return this.$store.getters["authAdmin/GET_ADMIN_USER"];
    },
    access_level() {
      return this.$store.getters["authAdmin/GET_ACCESS_LEVEL"];
    },
    role() {
      return this.$store.getters["authAdmin/GET_ROLE"];
    },
  },
  methods: {
    async logout() {
      const response = await this.$store.dispatch("authAdmin/LOGOUT");
      if (response.status == 200) {
        this.$toast.success("Logged out successfully.");
        this.$router.push("/login");
      }
    },
  },
};
</script>

<style>
</style>