<template>
  <div class="topbar sticky-top shadow">
    <div class="d-flex align-items-center">
      <div class="toggle shadow rounded-circle p-1" @click="toggleNav()">
        <b-icon
          font-scale=".6"
          :icon="active ? 'arrows-fullscreen' : 'list'"
        ></b-icon>
      </div>

      <h4 class="m-0 mx-3">
        {{
          user.access_level_id == 2
            ? organization.abbreviation == null
              ? organization.organization
              : organization.abbreviation
            : ""
        }}
      </h4>
    </div>

    <div class="user">
      <span class="userimg">
        <b-avatar class="b-avatar bg-secondary"> </b-avatar>
      </span>
      <span class="userinfo">
        <p>
          {{
            `${user.first_name} ${user.middle_name} ${user.last_name} ${
              user.access_level_id == 2 ? "(" + user.role.role + ")" : "(MIS)"
            }`
          }}
        </p>
      </span>
      <span>
        <b-dropdown
          variant="outline-dark"
          toggle-class="rounded-circle px-2"
          no-caret
          right
        >
          <template #button-content>
            <b-icon icon="caret-down-fill"></b-icon>
          </template>
          <b-dropdown-item @click.prevent="accountSetting()">
            <b-icon icon="gear" class="mt-2 mx-2" font-scale="1.5"></b-icon>
            Account Settings</b-dropdown-item
          >
          <b-dropdown-item @click.prevent="logout">
            <b-icon icon="power" class="mt-2 mx-2" font-scale="1.5"></b-icon>
            Logout</b-dropdown-item
          >
        </b-dropdown>
      </span>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
  computed: {
    user() {
      return this.$store.getters["authAdmin/GET_ADMIN_USER"];
    },
    organization() {
      return this.$store.getters["authAdmin/GET_ADMIN_ORGANIZATION"];
    },
    role() {
      return this.$store.getters["authAdmin/GET_ADMIN_ROLE"];
    },
    active() {
      return this.$store.getters["GET_TOGGLE"];
    },
  },
  methods: {
    accountSetting() {
      this.$router.push({ name: "OrganizationSettings" });
    },
    async logout() {
      const response = await this.$store.dispatch("authAdmin/LOGOUT");
      if (response.status == 200) {
        this.$toast.success("Logged out successfully.");
        this.$router.push("/login");
      }
    },
    toggleNav() {
      this.$store.commit("SET_TOGGLE");
    },
  },
};
</script>
