<template>
  <div class="login-page">
    <div class="container p-0 m-0 g-0">
      <div class="row m-0 p-0 g-0">
        <div
          class="
            left-side
            col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6
            d-lg-block d-md-block d-sm-none
          "
        >
          <div
            class="
              w-40
              d-flex
              justify-content-start
              align-items-center
              mt-5
              p-2
            "
            style="
              background: #ffed00;
              border-top-right-radius: 50px;
              border-bottom-right-radius: 50px;
            "
          >
            <div class="mx-3 m-0">
              <img src="@/assets/img/lnu-logo.png" alt="" />
            </div>
            <div>
              <h3 class="m-0">Leyte Normal University</h3>
              <p class="m-0">Integrity • Excellence • Service</p>
            </div>
          </div>
          <div
            class="
              d-flex
              justify-content-center
              align-items-center
              flex-column
              heading-container
              w-100
            "
          >
            <h1 class="font-gold login-heading fw-bold">Go to Login</h1>
            <h1 class="login-subheading mt-5 fw-bold text-light text-center">
              Login to vote and read the latest news of Leyte Normal University
            </h1>
            <button
              @click="$router.push({ path: '/login' })"
              class="
                btn btn-white
                fs-1
                fw-bold
                text-dark
                mt-5
                px-5
                py-1
                shadow-none
                rounded-pill
              "
            >
              Login
            </button>
          </div>
        </div>
        <div
          class="
            right-side
            col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6
            p-5
            d-flex
            justify-content-center
            align-items-center
            flex-column
          "
        >
          <h1 class="fw-bold mb-5">Send an email request</h1>
          <input
            v-model="data.email"
            type="email"
            class="mt-5 mb-5 form-control rounded-pill shadow-none w-75"
            :placeholder="isAdmin ? 'Admin Email' : 'Student Email'"
          />
          <div class="col-8 d-flex justify-content-between align-items-center">
            <div class="d-flex justify-content-center align-items-center">
              <label class="switch">
                <input v-model="isAdmin" type="checkbox" checked />
                <span class="slider round"></span>
              </label>
              <h4 class="text-primary m-0 ms-3">Admin</h4>
            </div>
            <button
              @click="resetPasswordRequest"
              :disabled="isBusy"
              class="
                btn btn-blue
                fs-1
                fw-bold
                text-light
                px-5
                py-1
                shadow-none
                rounded-pill
              "
            >
              <b-spinner
                v-if="isBusy"
                type="grow"
                variant="primary"
                label="Spinning"
              ></b-spinner>

              <span v-else> Send</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isBusy: false,
      isAdmin: false,
      data: { email: "" },
    };
  },
  methods: {
    async resetPasswordRequest() {
      this.isBusy = !this.isBusy;
      if (this.data.email == "") {
        this.$toast.warning("Email is required.");
      } else {
        const response = await this.$store.dispatch(
          "authStudent/RESET_PASSWORD_REQUEST",
          this.data
        );

        console.log(response);

        if (response.status == 200) {
          this.$toast.success("Password reset request sent to your email");
        } else if (response.status == 404) {
          this.$toast.error("Email not found");
        }
      }

      this.isBusy = !this.isBusy;
    },
  },
  mounted() {
    document.title =
      "Forgot Password - Leyte Normal University Voting and Announcement System";
  },
};
</script>

<style>
</style>