<template>
  <div>
    <Navbar />
    <div class="heading">
      <div
        class="
          row
          h-100
          w-100
          justify-content-center
          align-items-center
          flex-column-reverse flex-sm-column-reverse flex-md-row
        "
      >
        <div class="col-10 col-sm-10 col-md-6 col-lg-6">
          <div class="ms-5 ps-5">
            <h5 class="announcement-text lineh-1">Announcement and</h5>
            <h1 class="voting-text lineh-1">Voting</h1>
            <h2 class="system-text lineh-1">System</h2>
            <p class="w-75 text-white">
              This is the Voting and Announcement Portal of Leyte Normal
              University
            </p>
            <button
              @click="$router.push({ path: '/login' })"
              class="btn btn-outline-light rounded-pill btn-lg mt-3 me-3"
            >
              Login
            </button>
            <button
              @click="$router.push({ path: '/signup' })"
              class="btn btn-light rounded-pill btn-lg mt-3"
            >
              Create Account
            </button>
          </div>
        </div>
        <div class="col-10 col-sm-10 col-md-6 col-lg-6">
          <img src="@/assets/img/2.png" alt="" class="img-fluid" width="800" />
        </div>
      </div>
    </div>
    <div class="container" style="mt-5 mb-5">
      <div
        class="
          row
          h-100
          w-100
          justify-content-center
          align-items-center
          mt-5
          mb-5
        "
      >
        <div class="col-10 col-sm-10 col-md-6 col-lg-6">
          <img
            src="@/assets/img/voting.png"
            alt=""
            class="img-fluid voting-img"
            width="1200"
            height="1200"
          />
        </div>
        <div class="col-10 col-sm-10 col-md-6 col-lg-6">
          <div class="ps-5">
            <h1 class="notified-text text-primary">Voting</h1>
            <p class="ms-5">
              Vote and be updated on election conducted at Leyte Normal
              University
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container p-5" style="mt-5 mb-5">
      <div
        class="
          row
          h-100
          w-100
          justify-content-center
          align-items-center
          flex-column-reverse flex-sm-column-reverse flex-md-row
          mt-5
          mb-5
        "
      >
        <div class="col-10 col-sm-10 col-md-6 col-lg-6">
          <div class="ps-5">
            <h1 class="notified-text text-primary lineh-1">Notified</h1>
            <p class="w-75">
              Be notified on Leyte Normal University’s latest news and
              activities
            </p>
          </div>
        </div>
        <div class="col-10 col-sm-10 col-md-6 col-lg-6">
          <img
            src="@/assets/img/notified.svg"
            alt=""
            class="img-fluid"
            width="800"
          />
        </div>
      </div>
    </div>
    <div class="w-40 d-flex justify-content-start align-items-center p-2" style="background: #ffed00; border-top-right-radius: 50px; border-bottom-right-radius: 50px">
      <div class="mx-3">
        <img src="@/assets/img/lnu-logo.png" alt="" />
      </div>
      <div>
        <h3 class="m-0">Leyte Normal University</h3>
        <p class="m-0">Integrity • Excellence • Service</p>
      </div>
    </div>
    <div class="container p-5">
      <div
        class="row h-100 justify-content-center align-items-center mt-5 mb-5">
        <div class="col-4 align-self-start">
          <h5 style="font-weight: bold; font-size: 2em">CONTACT</h5>
          <p>
            Leyte Normal University <br />
            Paterno Street <br />
            Tacloban City <br />
            6500 <br />
            +63(53)-832-3205 <br />
            info@lnu.edu.ph <br />
            www.faecbook.com/lnuofficial
          </p>
        </div>
        <div class="col-4 align-self-start">
          <h5 style="font-weight: bold; font-size: 2em">ABOUT</h5>
          <p>
            Leyte Normal University or simply LNU <br />
            is a public university in the Philippines
          </p>
        </div>
        <div class="col-4 align-self-start">
          <h5 style="font-weight: bold; font-size: 2em">MISSION</h5>
          <p>
            A leading university of education and <br />
            diverse disciplines attuned to local and <br />
            global development needs
          </p>
          <h5 style="font-weight: bold; font-size: 2em">VISION</h5>
          <p>
            To produce top performing professionals <br />
            equiped to engage on knowledge and <br />
            technology production so necessary to <br />
            develop a sustainable society
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from "../components/Landing/Navbar.vue";
export default {
  title: "Leyte Normal University - Voting System",
  components: {
    Navbar,
  },
};
</script>

<style>
.notified-text {
  font-size: 6.5rem;
  font-weight: 600;
}

.lineh-1 {
  line-height: 6.8rem !important;
}
.announcement-text {
  font-size: 3rem;
  color: #d6a73d;
  font-weight: 600;
}

.voting-text {
  font-weight: 700;
  font-size: 12rem;
  color: white;
}

.system-text {
  font-weight: 600;
  font-size: 5.5rem;
  color: rgb(214, 214, 214);
}
.heading {
  background: linear-gradient(
    239.74deg,
    #070372 31.58%,
    rgba(7, 3, 114, 0) 460.49%
  );
  height: 100vh;
  width: 100%;
  position: relative;
}

.voting-img::before {
  content: "";
  background: grey;
  height: 300px;
  width: 300px;
}

.w-40 {
  width: 40rem;
}
</style>