<template>
  <div class="login-page">
    <div class="container p-0 m-0 g-0">
      <div class="row m-0 p-0 g-0">
        <div
          class="
            left-side
            col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6
            d-lg-block d-md-block d-sm-none
          "
        >
          <div
            class="
              w-40
              d-flex
              justify-content-start
              align-items-center
              mt-5
              p-2
            "
            style="
              background: #ffed00;
              border-top-right-radius: 50px;
              border-bottom-right-radius: 50px;
            "
          >
            <div class="mx-3 m-0">
              <img src="@/assets/img/lnu-logo.png" alt="" />
            </div>
            <div>
              <h3 class="m-0">Leyte Normal University</h3>
              <p class="m-0">Integrity • Excellence • Service</p>
            </div>
          </div>
          <div
            class="
              d-flex
              justify-content-center
              align-items-center
              flex-column
              heading-container
              w-100
            "
          >
            <h1 class="font-gold login-heading fw-bold">New Student?</h1>
            <h1 class="login-subheading mt-5 fw-bold text-light text-center">
              Sign up and discover a great amount of new opportunities!
            </h1>
            <button
              @click="$router.push({ path: '/signup' })"
              class="
                btn btn-white
                fs-1
                fw-bold
                text-dark
                mt-5
                px-5
                py-1
                shadow-none
                rounded-pill
              "
            >
              Sign Up
            </button>
          </div>
        </div>
        <div
          class="
            right-side
            col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6
            p-5
            d-flex
            justify-content-center
            align-items-center
            flex-column
          "
        >
          <h1 class="fw-bold mb-5">Login an account</h1>

          <input
            v-model="input_login"
            type="text"
            class="mt-5 form-control rounded-pill shadow-none w-75"
            :placeholder="isAdmin ? 'Username' : 'Student ID Number'"
          />
          <input
            v-model="credential.password"
            type="password"
            class="mt-5 mb-5 form-control rounded-pill shadow-none w-75"
            placeholder="Password"
          />
          <div class="col-8 d-flex justify-content-between align-items-center">
            <div class="d-flex justify-content-center align-items-center">
              <label class="switch">
                <input v-model="isAdmin" type="checkbox" checked />
                <span class="slider round"></span>
              </label>
              <h4 class="text-primary m-0 ms-3">Admin</h4>
            </div>
            <div>
              <router-link
                to="/forgot"
                class="text-primary"
                style="text-decoration: none; font-size: 20px"
                >Forgot Password?</router-link
              >
            </div>
          </div>

          <button
            @click="login"
            class="
              btn btn-blue
              fs-1
              fw-bold
              text-light
              mt-5
              px-5
              py-1
              shadow-none
              rounded-pill
            "
          >
            Login
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- <div>
    <div class="nav-auth d-flex align-items-center">
      <div class="logo">
        <img src="@/assets/img/lnu-logo.png" alt="" />
      </div>
      <h2 style="font-family: Bruzh; margin-left: 10rem; color: #fed136">
        Leyte Normal University
      </h2>
    </div>
    <img class="husky" src="@/assets/img/husky.png" alt="" />
    <img class="blob-lg" src="@/assets/img/blob-lg.png" alt="" />
    <div
      class="pending-container shadow flex-column p-5"
      v-if="status == 'PENDING'"
    >
      <img src="@/assets/img/pending.png" alt="" />
      <h4 class="text-center">
        Request sent waiting <br />
        for approval
      </h4>
      <b-button
        variant="none"
        class="mt-3 rounded-pill"
        style="color: #070372; background: #e2e2e2 !important"
        size="sm"
        v-on:click.prevent="status = ''"
        >Go to login</b-button
      >
    </div>
    <div v-else>
      <div class="login-form shadow">
        <div class="header shadow">
          <span>Login</span>
        </div>
        <b-form class="login-form-main" @submit.prevent="login">
          <b-form-group>
            <span>{{ isAdmin ? "Username" : "Student Number" }}</span>
            <b-form-input class="login-input" v-model="input_login">
            </b-form-input>
          </b-form-group>
          <b-form-group>
            <span>Password</span>
            <b-form-input
              class="login-input"
              type="password"
              v-model="credential.password"
            >
            </b-form-input>
          </b-form-group>

          <div class="d-flex justify-content-between align-items-center mx-5">
            <div class="form-check form-switch">
              <input
                v-model="isAdmin"
                class="form-check-input"
                type="checkbox"
                id="flexSwitchCheckDefault"
              />
              <label
                style="color: #070372"
                class="form-check-label"
                for="flexSwitchCheckDefault"
                >Admin</label
              >
            </div>
           
          </div>
          <div
            class="
              d-flex
              flex-column
              justify-content-center
              align-items-center
              mt-3
            "
          >
            <b-button
              class="rounded-pill"
              type="submit"
              style="
                width: 250px;
                margin-top: 20px;
                background: #070372;
                font-weight: bold;
              "
              >Login</b-button
            >
            <p class="mt-3">
              <small
                >Dont have an account?
                <router-link
                  to="/signup"
                  style="
                    text-decoration: none;
                    color: #070372;
                    font-weight: bold;
                  "
                  >Signup</router-link
                ></small
              >
            </p>
          </div>
        </b-form>
      </div>
    </div>
  </div> -->
</template>

<script>
export default {
  data() {
    return {
      isAdmin: false,
      status: "",
      input_login: "",
      credential: {},
    };
  },
  methods: {
    async login() {
      if (this.isAdmin) {
        this.credential = {
          username: this.input_login,
          password: this.credential.password,
        };
        const response = await this.$store.dispatch(
          "authAdmin/LOGIN",
          this.credential
        );
        if (response.status == 200) {
          if (response.data.user.is_active == 1) {
            if (response.data.user.access_level_id == 1) {
              this.$router.push("/mis-admin");
            } else if (response.data.user.access_level_id == 2) {
              this.$router.push("/organization-admin");
            }
            this.$toast.success("Logged in.");
          } else {
            this.$toast.error(
              "Your account is deactivated. Contact MIS to Active your account"
            );
          }
        } else {
          this.$toast.error("Invalid credential.");
        }
      } else {
        this.credential = {
          student_number: this.input_login,
          password: this.credential.password,
        };
        const response = await this.$store.dispatch(
          "authStudent/LOGIN",
          this.credential
        );
        if (response.status == 200) {
          if (response.data.student_status == "PENDING") {
            this.$router.push("/pending");
          } else if (response.data.student_status == "DISAPPROVED") {
            this.$toast.error("Invalid credential.");
          } else {
            if (response.data.is_active == 0) {
              this.$router.push("/update-student-info");
            } else {
              this.$toast.success("Logged in successfully.");
              this.$router.push("/student");
            }
          }
        } else {
          this.$toast.error("Invalid credential.");
        }
      }
      this.input_login = "";
      this.credential = {};
    },
  },
  mounted() {
    document.title =
      "Login - Leyte Normal University Voting and Announcement System";
  },
};
</script>