<template>
  <div class="pedingreq">
    <div class="reqcontent">
      <img class="req-pending" src="@/assets/image/pending_req.svg" />
      <img class="req-circle" src="@/assets/image/circle.svg" />
      <div class="req-content-leftside">
        <div class="req-bar">
          <img class="lnulogo-bg" src="@/assets/image/logowithbg.svg" />
          <img class="lnulogo" src="@/assets/image/lnulogo.svg" />
          Leyte Normal University
        </div>
        <h1 class="req-leftside-h1">Request Sent!</h1>
        <h6 class="req-leftside-h6">
          Your request is sent and waiting <br />
          for approval
        </h6>
        <img class="blob-design1" src="@/assets/image/blobdesign.svg" />
        <img
          class="blob-design2"
          src="@/assets/image/blobdesign2.svg"
          style="float: right"
        />
        <div class="req-loginbtn">
          <router-link to="/">
            <b-button
              @click="$router.push('/')"
              style="
                background: #eaeaea;
                color: #000000;
                border-radius: 169.5px;
              "
              >Home
            </b-button>
          </router-link>
        </div>
        <img class="req-design3" src="@/assets/image/undraw_time.svg" />
      </div>
      <div class="req-content-rigthside">
        <img class="req-image" src="@/assets/image/undraw_time.svg" />
      </div>
    </div>
  </div>
</template>
<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
h1,
h6 {
  font-family: Poppins;
  color: aliceblue;
}
.pedingreq {
  background: rgba(203, 203, 203, 0.4);
}
.blob-design1 {
  position: absolute;
  left: 0px;
  top: 5%;
  z-index: 1;
}

.blob-design2 {
  position: absolute;
  z-index: 1;
  justify-content: right;
  align-content: center;
  right: 0%;
  bottom: 0%;
}
.lnulogo {
  display: none;
}

.req-design3 {
  display: none;
  max-width: 100%;
  position: relative;
}

.reqcontent {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.req-bar {
  font-family: Poppins;
  font-weight: 700;
  font-size: 2rem;
  color: #d6a73d;
}

.req-circle {
  position: absolute;
  z-index: 1;
  justify-content: right;
  align-content: center;
  right: 0%;
  bottom: 0%;
}

.req-image {
  justify-content: center;
  max-width: 100%;
}

.req-content-leftside {
  position: relative;
  background: linear-gradient(
    178.12deg,
    #070372 53.07%,
    rgba(7, 3, 114, 0) 245.51%
  );
  width: 50%;
  height: 100vh;
}

.req-content-leftside .req-loginbtn {
  font-family: Poppins;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.req-leftside-h1 {
  font-weight: bold;
  text-align: center;
  padding-top: 35%;
  font-size: 3.5rem;
}

.req-leftside-h6 {
  text-align: center;
}

.req-loginbtn {
  padding-top: 5%;
  font-family: Poppins;
  font-weight: 700;
}

.req-pending {
  position: absolute;
  z-index: 1;
  justify-content: right;
  align-content: center;
  right: 0%;
  top: 0%;
}
@media screen and (max-width: 1113px) {
  .req-bar {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1023px) {
  .req-leftside-h1 {
    font-size: 2rem;
  }
  .req-bar {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 920px) {
  .req-bar {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 900px) {
  .req-content-leftside {
    width: 100%;
    height: 100vh;
  }
  .req-image {
    position: absolute;
    justify-content: center;
    align-items: center;
  }
  .req-leftside-h1 {
    font-size: 3rem;
    padding-top: 20%;
  }

  .req-design3 {
    display: flex;
    margin: auto;
    max-width: 100%;
    position: relative;
  }

  .blob-design2 {
    position: absolute;
    z-index: 1;
    justify-content: right;
    align-content: center;
    right: 0%;
  }
  .req-circle {
    display: none;
  }
  .req-content-rigthside {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }
}

@media screen and (max-width: 811px) {
  .req-design3 {
    display: flex;
    padding-top: 10%;
    max-width: 100%;
    position: relative;
  }
  .req-leftside-h1 {
    font-size: 3rem;
    padding-top: 0%;
  }
  .req-content-leftside {
    width: 100%;
    height: 100vh;
  }
  .req-content-rigthside {
    display: none;
  }
  .req-leftside-h1 {
    font-size: 3rem;
    padding-top: 30%;
  }
  .req-design3 {
    margin: 0 auto;
    position: relative;
  }
  .req-image {
    display: none;
  }
}
@media screen and (max-width: 811px) {
  .req-leftside-h1 {
    padding-top: 10%;
  }
}

@media (max-width: 768px) {
  .req-pending {
    display: none;
  }
  .req-design3 {
    display: flex;
    padding-top: 10%;
    max-width: 100%;
    position: relative;
  }
}

@media (max-width: 565px) {
  .req-bar {
    font-size: 1.7rem;
  }
}

@media (max-width: 513px) {
  .req-bar {
    font-size: 1.45rem;
  }
}

@media (max-width: 450px) {
  .req-bar {
    font-size: 1.4rem;
  }
  .lnulogo-bg {
    display: none;
  }
  .lnulogo {
    display: initial;
    padding: 1%;
  }
  .req-content-rigthside {
    display: none;
  }
  .req-content-leftside {
    width: 100%;
    height: 100vh;
  }
  .req-leftside-h1 {
    font-size: 3rem;
    padding-top: 30%;
  }
}

@media (max-width: 385px) {
  .req-leftside-h1 {
    font-size: 3rem;
    padding-top: 10%;
  }
}

@media (max-width: 245px) {
  .lnulogo {
    display: none;
  }
  .req-leftside-h1 {
    font-size: 2rem;
    padding-top: 10%;
    padding-top: 40%;
  }
  .req-design3 {
    display: none;
  }
  .req-bar {
    font-size: 1.2rem;
  }
  .blob-design1 {
    max-width: 40%;
    max-height: 100%;
  }
  .req-bar {
    text-align: center;
  }
}

@media (max-height: 450px) {
}

@media (max-height: 668px) {
}
</style>
