<template>
  <div class="signupage">
    <img class="signup-blob" src="@/assets/image/signupblob.svg" />
    <img class="signup-blob2" src="@/assets/image/sideblob2.svg" />
    <div class="signup-bar">
      <img class="lnulogo-bg" src="@/assets/image/logowithbg.svg" />
      <img class="lnulogo" src="@/assets/image/lnulogo.svg" />
      Leyte Normal University
      <div class="signup-title">Sign up an Account</div>
      <div class="cont">
        <div class="container">
          <div class="content">
            <form action="#">
              <div class="user-details">
                <div class="input-box">
                  <input
                    v-model="account.student_number"
                    type="text"
                    placeholder="Student ID Number"
                  />
                </div>
                <div class="input-box">
                  <input
                    v-model="account.email"
                    type="text"
                    placeholder="Email"
                  />
                </div>
                <div class="input-box">
                  <input
                    v-model="account.first_name"
                    type="text"
                    placeholder="First name"
                  />
                </div>
                <div class="input-box">
                  <input
                    v-model="account.middle_name"
                    type="text"
                    placeholder="Middle name"
                  />
                </div>
                <div class="input-box">
                  <input
                    v-model="account.last_name"
                    type="text"
                    placeholder="Last name"
                  />
                </div>

                <div class="input-box">
                  <input
                    v-model="account.password"
                    type="password"
                    placeholder="Password"
                  />
                </div>
                <div class="input-box">
                  <input
                    v-model="account.password_confirmation"
                    type="password"
                    placeholder="Confirm your password"
                  />
                </div>

                <div class="input-box">
                  <b-form-select
                    v-model="account.college_id"
                    :options="colleges"
                    value-field="id"
                    text-field="college"
                    class="update-college"
                  >
                    <template #first>
                      <b-form-select-option :value="null" disabled
                        >-- College --</b-form-select-option
                      >
                    </template></b-form-select
                  >
                </div>
                <div class="input-box">
                  <b-form-select
                    v-model="account.course_id"
                    :options="courses"
                    value-field="id"
                    text-field="course"
                    class="update-college"
                  >
                    <template #first>
                      <b-form-select-option :value="null" disabled
                        >-- Course --</b-form-select-option
                      >
                    </template>
                  </b-form-select>
                </div>
                <div class="input-box">
                  <b-form-select
                    v-model="account.year_level_id"
                    :options="year_levels"
                    value-field="id"
                    text-field="year_level"
                    class="update-college"
                  >
                    <template #first>
                      <b-form-select-option :value="null" disabled
                        >-- Year Level --</b-form-select-option
                      >
                    </template></b-form-select
                  >
                </div>
              </div>
              <div class="signup-btn">
                <b-button
                  @click="signup"
                  style="background: #070372; font-size: 1.5rem"
                  pill
                  >Sign Up</b-button
                >
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="signup-content-rigthside">
      <img class="signup-blob-design1" src="@/assets/image/blobdesign.svg" />
      <img
        class="signup-blob-design2"
        src="@/assets/image/blobdesign2.svg"
        style="float: right"
      />
      <h1 class="signup-rigthside-h1">
        Registered <br />
        Already?
      </h1>
      <h6 class="signup-rigthside-h6">
        Login to vote and read the latest <br />
        news of Leyte Normal University
      </h6>
      <div class="signup-loginbtn">
        <b-button
          @click="$router.push({ path: '/' })"
          style="background: #eaeaea; color: #000000; border-radius: 30px"
          >Home
        </b-button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  title: "Signup - Leyte Normal University Voting and Announcement System",
  data() {
    return {
      page: 1,
      account: {
        student_number: "",
        email: "",
        password: "",
        password_confirmation: "",
        mobile_number: "",
        first_name: "",
        middle_name: "",
        last_name: "",
        college_id: null,
        course_id: null,
        year_level_id: null,
      },
      isSigningup: false,
    };
  },
  computed: {
    colleges() {
      return this.$store.getters.GET_COLLEGES;
    },
    courses() {
      var courses = this.$store.getters.GET_COURSES;
      return this.account.college_id == null
        ? []
        : courses.filter((course) => {
            return course.college_id == this.account.college_id;
          });
    },
    semesters() {
      return this.$store.getters.GET_SEMESTERS;
    },
    year_levels() {
      return this.$store.getters.GET_YEAR_LEVELS;
    },
  },
  methods: {
    async signup() {
      if (this.account.student_number == "")
        return this.$toast.error("Student ID Number is required");
      else {
        if (isNaN(this.account.student_number)) {
          return this.$toast.error("Student Number must numeric");
        }
      }
      if (this.account.email == "") {
        return this.$toast.error("Email address is required");
      } else {
        if (!this.validEmail(this.account.email)) {
          return this.$toast.error("Email address must valid");
        }
      }
      if (this.account.password == "") {
        return this.$toast.error("Password is required");
      } else {
        if (this.account.password != this.account.password_confirmation) {
          return this.$toast.error("Password does not match");
        }
      }
      if (this.account.first_name == "")
        return this.$toast.error("First Name is required");
      if (this.account.middle_name == "")
        return this.$toast.error("Middle Name is required");
      if (this.account.last_name == "")
        return this.$toast.error("Last Name is required");
      if (this.account.college_id == "")
        return this.$toast.error("College is required");
      if (this.account.course_id == "")
        return this.$toast.error("Course is required");
      if (this.account.year_level_id == "")
        return this.$toast.error("Year level is required");
    

      this.isSigningup = false;
      const response = await this.$store.dispatch(
        "authStudent/SIGNUP",
        this.account
      );
      if (response.status == 200) {
        this.$toast.success("Your account created. Wait for Admin's approval");
        this.$router.push("/login");
      } else {
        this.$toast.error("Something wrong this page. Try again later.");
      }
    },
    validEmail(email) {
      var re =
        /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    },
  },
  async mounted() {
    await this.$store.dispatch("FETCH_COLLEGES");
    await this.$store.dispatch("FETCH_COURSES");
    await this.$store.dispatch("FETCH_YEAR_LEVELS");
  },
};
</script>

<style scoped>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.signupage {
  display: flex;
  flex-wrap: wrap;
}
h1,
h6 {
  font-family: Poppins;
  color: aliceblue;
}

.signup-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-loginbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
}
.signup-content-rigthside {
  position: relative;
  background: linear-gradient(
    178.12deg,
    #070372 53.07%,
    rgba(7, 3, 114, 0) 245.51%
  );
  left: 65%;
  width: 35%;
  height: 100vh;
}

.signup-blob2 {
  position: absolute;
  z-index: 1;
  align-content: center;
  left: 0%;
  bottom: 0%;
}

.signup-content-leftside {
  width: 50%;
}
.signup-blob {
  position: absolute;
  z-index: 1;
  align-content: center;
  right: 0%;
  top: 0%;
}
.signup-blob-design1 {
  position: absolute;
  left: 0px;
  top: 5%;
  z-index: 1;
}

.signup-blob-design2 {
  position: absolute;
  z-index: 1;
  justify-content: right;
  align-content: center;
  right: 0%;
  bottom: 0%;
}
.lnulogo {
  display: none;
}

.signup-bar {
  font-family: Poppins;
  font-weight: 700;
  font-size: 2rem;
  color: #070372;
  position: absolute;
  z-index: 1;
  justify-content: left;
  align-content: center;
  left: 0%;
  top: 0%;
  width: 65%;
}

.signup-rigthside-h1 {
  font-weight: bold;
  text-align: center;
  padding-top: 55%;
  font-size: 3rem;
}

.signup-rigthside-h6 {
  text-align: center;
}

.signup-title {
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 5%;
  text-align: center;
  color: #000;
  font-size: 3.438rem;
}
.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
.update-college,
.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;

  background: rgba(13, 62, 131, 0.25);
  border-radius: 100px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #d6a73d;
}
form .gender-details .gender-title {
  font-size: 20px;
  font-weight: 500;
}
form .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}
@media screen and(max-width:1000px) {
  .content {
    max-width: 100%;
  }
}
@media (max-width: 750px) {
  .container {
    max-width: 100%;
  }
  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }
  form .category {
    width: 100%;
  }
  .content form .user-details {
    max-height: 300px;
  }
  .user-details::-webkit-scrollbar {
    width: 5px;
  }
}
@media (max-width: 459px) {
  .container .content .category {
    flex-direction: column;
  }
}
</style>